Claro.SIACU.ProxyService.Transac.Service/Web References/SIACPost.MigracionControlPostpagoWS/ebsMigracionControlPostpagoSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="procesarMigracionControlPostpagoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="audit" type="tns:audiTypeRequest" />
        <xs:element name="fechaEjecucion" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="programarMigracionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="audit" type="tns:audiTypeRequest" />
        <xs:element name="coId" type="xs:string" />
        <xs:element name="msisdn" type="xs:string" />
        <xs:element name="fechaProgramacion" type="xs:date" />
        <xs:element name="customerId" type="xs:string" />
        <xs:element name="codigoProducto" type="xs:string" />
        <xs:element name="listaContratos" type="tns:listaContratosType" />
        <xs:element name="tipoServicio" type="xs:string" />
        <xs:element name="flagOccApadece" type="xs:string" />
        <xs:element name="flagNdPcs" type="xs:string" />
        <xs:element name="ndArea" type="xs:string" />
        <xs:element name="ndMotivo" type="xs:string" />
        <xs:element name="ndSubmotivo" type="xs:string" />
        <xs:element name="cacDac" type="xs:string" />
        <xs:element name="cicloFacturacion" type="xs:int" />
        <xs:element name="idTipoCliente" type="xs:string" />
        <xs:element name="numeroDocumento" type="xs:string" />
        <xs:element name="clienteCuenta" type="xs:string" />
        <xs:element name="montoPCS" type="xs:decimal" />
        <xs:element name="montoFidelizacion" type="xs:decimal" />
        <xs:element name="idInteraccion" type="xs:string" />
        <xs:element name="tipoPostpago" type="xs:string" />
        <xs:element name="montoApadece" type="xs:decimal" />
        <xs:element name="flagValidaApadece" type="xs:string" />
        <xs:element name="flagAplicaApadece" type="xs:string" />
        <xs:element name="flagLimiteCredito" type="xs:string" />
        <xs:element name="topeConsumo" type="xs:string" />
        <xs:element name="nroCuenta" type="xs:string" />
        <xs:element name="asesor" type="xs:string" />
        <xs:element name="fechaProgramacionTope" type="xs:date" />
        <xs:element name="tipoTope" type="xs:string" />
        <xs:element name="descripcionTipoTope" type="xs:string" />
        <xs:element name="tipoRegistroTope" type="xs:string" />
        <xs:element name="topeControlConsumo" type="xs:int" />
        <xs:element name="tipoClarify" type="xs:string" />
        <xs:element name="cuentaPadre" type="xs:string" />
        <xs:element name="tipoMigracion" type="xs:string" />
        <xs:element name="nivelCuenta" type="xs:string" />
        <xs:element name="tipoCuenta" type="xs:string" />
        <xs:element name="imsi" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="programarMigracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idTransaccion" type="xs:string" />
        <xs:element name="codigoRespuesta" type="xs:string" />
        <xs:element name="mensajeRespuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="realizarMigracionControlPostpagoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="audit" type="tns:audiTypeRequest" />
        <xs:element name="coId" type="xs:string" />
        <xs:element name="msisdn" type="xs:string" />
        <xs:element name="fechaProgramacion" type="xs:date" />
        <xs:element name="customerId" type="xs:string" />
        <xs:element name="codigoProducto" type="xs:string" />
        <xs:element name="listaContratos" type="tns:listaContratosType" />
        <xs:element name="tipoServicio" type="xs:string" />
        <xs:element name="flagOccApadece" type="xs:string" />
        <xs:element name="flagNdPcs" type="xs:string" />
        <xs:element name="ndArea" type="xs:string" />
        <xs:element name="ndMotivo" type="xs:string" />
        <xs:element name="ndSubmotivo" type="xs:string" />
        <xs:element name="cacDac" type="xs:string" />
        <xs:element name="cicloFacturacion" type="xs:int" />
        <xs:element name="idTipoCliente" type="xs:string" />
        <xs:element name="numeroDocumento" type="xs:string" />
        <xs:element name="clienteCuenta" type="xs:string" />
        <xs:element name="montoPCS" type="xs:decimal" />
        <xs:element name="montoFidelizacion" type="xs:decimal" />
        <xs:element name="idInteraccion" type="xs:string" />
        <xs:element name="tipoPostpago" type="xs:string" />
        <xs:element name="montoApadece" type="xs:decimal" />
        <xs:element name="flagValidaApadece" type="xs:string" />
        <xs:element name="flagAplicaApadece" type="xs:string" />
        <xs:element name="flagLimiteCredito" type="xs:string" />
        <xs:element name="topeConsumo" type="xs:string" />
        <xs:element name="nroCuenta" type="xs:string" />
        <xs:element name="asesor" type="xs:string" />
        <xs:element name="fechaProgramacionTope" type="xs:date" />
        <xs:element name="tipoTope" type="xs:string" />
        <xs:element name="descripcionTipoTope" type="xs:string" />
        <xs:element name="tipoRegistroTope" type="xs:string" />
        <xs:element name="topeControlConsumo" type="xs:int" />
        <xs:element name="tipoClarify" type="xs:string" />
        <xs:element name="cuentaPadre" type="xs:string" />
        <xs:element name="tipoMigracion" type="xs:string" />
        <xs:element name="nivelCuenta" type="xs:string" />
        <xs:element name="tipoCuenta" type="xs:string" />
        <xs:element name="imsi" type="xs:string" />
        <xs:element name="fase" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="realizarMigracionControlPostpagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="idTransaccion" type="xs:string" />
        <xs:element name="codigoRespuesta" type="xs:string" />
        <xs:element name="mensajeRespuesta" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="relanzarMigracionControlPostpagoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="audit" type="tns:audiTypeRequest" />
        <xs:element name="fechaEjecucion" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="audiTypeRequest">
    <xs:sequence>
      <xs:element name="idTransaccion" type="xs:string" />
      <xs:element name="ipAplicacion" type="xs:string" />
      <xs:element name="nombreAplicacion" type="xs:string" />
      <xs:element name="usuarioAplicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaContratosType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contrato" nillable="true" type="tns:contratoBeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contratoBeanType">
    <xs:sequence>
      <xs:element name="planTarifario" type="xs:long" />
      <xs:element name="estadoUmbral" type="xs:boolean" />
      <xs:element name="actualizacionContrato" type="tns:actualizacionContratoBeanType" />
      <xs:element name="informacionContrato" type="tns:informacionContratoBeanType" />
      <xs:element name="listaDispositivos" type="tns:listaDispositivosBeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizacionContratoBeanType">
    <xs:sequence>
      <xs:element name="razon" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="informacionContratoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCampos" nillable="true" type="tns:campoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="campoBean">
    <xs:sequence>
      <xs:element name="indice" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaDispositivosBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dispositivo" nillable="true" type="tns:dispositivoBeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dispositivoBeanType">
    <xs:sequence>
      <xs:element name="idDispositivo" type="xs:long" />
      <xs:element name="tipoDispositivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>