Claro.SIACU.ProxyService.Transac.Service/Web References/SIACPost.MigracionControlPostpagoWS/ebsMigracionControlPostpagoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago" name="ebsMigracionControlPostpagoService" targetNamespace="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.19.67.173:7903/MigracionControlPostpago/ebsMigracionControlPostpagoSB11?xsd=1" namespace="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago" />
    </xsd:schema>
  </types>
  <message name="programarMigracion">
    <part name="parameters" element="tns:programarMigracionRequest" />
  </message>
  <message name="programarMigracionResponse">
    <part name="parameters" element="tns:programarMigracionResponse" />
  </message>
  <message name="realizarMigracionControlPostpago">
    <part name="parameters" element="tns:realizarMigracionControlPostpagoRequest" />
  </message>
  <message name="realizarMigracionControlPostpagoResponse">
    <part name="parameters" element="tns:realizarMigracionControlPostpagoResponse" />
  </message>
  <message name="procesarMigracionControlPostpago">
    <part name="parameters" element="tns:procesarMigracionControlPostpagoRequest" />
  </message>
  <message name="relanzarMigracionControlPostpago">
    <part name="parameters" element="tns:relanzarMigracionControlPostpagoRequest" />
  </message>
  <portType name="ebsMigracionControlPostpagoPortType">
    <operation name="programarMigracion">
      <input message="tns:programarMigracion" />
      <output message="tns:programarMigracionResponse" />
    </operation>
    <operation name="realizarMigracionControlPostpago">
      <input message="tns:realizarMigracionControlPostpago" />
      <output message="tns:realizarMigracionControlPostpagoResponse" />
    </operation>
    <operation name="procesarMigracionControlPostpago">
      <input message="tns:procesarMigracionControlPostpago" />
    </operation>
    <operation name="relanzarMigracionControlPostpago">
      <input message="tns:relanzarMigracionControlPostpago" />
    </operation>
  </portType>
  <binding name="ebsMigracionControlPostpagoSB11Binding" type="tns:ebsMigracionControlPostpagoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="programarMigracion">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago/programarMigracion" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="realizarMigracionControlPostpago">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago/realizarMigracionControlPostpago" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="procesarMigracionControlPostpago">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago/procesarMigracionControlPostpago" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="relanzarMigracionControlPostpago">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/MigracionControlPostpago/relanzarMigracionControlPostpago" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="ebsMigracionControlPostpagoService">
    <port name="ebsMigracionControlPostpagoSB11" binding="tns:ebsMigracionControlPostpagoSB11Binding">
      <soap:address location="http://172.19.67.173:7903/MigracionControlPostpago/ebsMigracionControlPostpagoSB11" />
    </port>
  </service>
</definitions>