Claro.SIACU.ProxyService.Transac.Service/Web References/SIACPost.MigracionPlanPostpagoWS/ebsMigracionPlanPostpago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ebsMigracionPlanPostpago" targetNamespace="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    <abstractWSDL>https://limjandesv02.tim.com.pe:6910/soa-infra/services/default/MigracionPlanPostpago!1.0/ebsMigracionPlanPostpago.wsdl</abstractWSDL>
  </documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago">
      <xsd:element name="programarMigracionPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="msisdn" type="xsd:string" />
            <xsd:element name="coId" type="xsd:string" />
            <xsd:element name="customerId" type="xsd:string" />
            <xsd:element name="cuenta" type="xsd:string" />
            <xsd:element name="escenario" type="xsd:string" />
            <xsd:element name="tipoProducto" type="xsd:string" />
            <xsd:element name="serviciosAdicionales" type="xsd:string" />
            <xsd:element name="codigoProducto" type="xsd:string" />
            <xsd:element name="codPlanBase" type="xsd:string" />
            <xsd:element name="montoApadece" type="xsd:decimal" />
            <xsd:element name="montoFidelizar" type="xsd:decimal" />
            <xsd:element name="flagValidaApadece" type="xsd:string" />
            <xsd:element name="flagAplicaApadece" type="xsd:string" />
            <xsd:element name="topeConsumo" type="xsd:string" />
            <xsd:element name="tipoTope" type="xsd:string" />
            <xsd:element name="descripcionTipoTpe" type="xsd:string" />
            <xsd:element name="tipoRegistroTope" type="xsd:string" />
            <xsd:element name="topeControlConsumo" type="xsd:int" />
            <xsd:element name="fechaProgramacionTope" type="xsd:date" />
            <xsd:element name="CAC" type="xsd:string" />
            <xsd:element name="asesor" type="xsd:string" />
            <xsd:element name="codigoInteraccion" type="xsd:string" />
            <xsd:element name="montoPCS" type="xsd:decimal" />
            <xsd:element name="areaPCS" type="xsd:string" />
            <xsd:element name="motivoPCS" type="xsd:string" />
            <xsd:element name="subMotivoPCS" type="xsd:string" />
            <xsd:element name="cicloFacturacion" type="xsd:int" />
            <xsd:element name="idTipoCliente" type="xsd:string" />
            <xsd:element name="numeroDocumento" type="xsd:string" />
            <xsd:element name="flagServicioOnTop" type="xsd:string" />
            <xsd:element name="fechaProgramacion" type="xsd:date" />
            <xsd:element name="flagLimiteCredito" type="xsd:string" />
            <xsd:element name="tipoClarify" type="xsd:string" />
            <xsd:element name="numeroCuentaPadre" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="usuarioSistema" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="programarMigracionPlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="codigoRespuesta" type="xsd:string" />
            <xsd:element name="mensajeRespuesta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="realizarMigracionPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccionProceso" type="xsd:string" />
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="msisdn" type="xsd:string" />
            <xsd:element name="coId" type="xsd:string" />
            <xsd:element name="customerId" type="xsd:string" />
            <xsd:element name="cuenta" type="xsd:string" />
            <xsd:element name="escenario" type="xsd:string" />
            <xsd:element name="ipoProducto" type="xsd:string" />
            <xsd:element name="serviciosAdicionales" type="xsd:string" />
            <xsd:element name="codigoProducto" type="xsd:string" />
            <xsd:element name="montoApadece" type="xsd:float" />
            <xsd:element name="montoFidelizar" type="xsd:float" />
            <xsd:element name="flagValidaApadece" type="xsd:string" />
            <xsd:element name="flagAplicaApadece" type="xsd:string" />
            <xsd:element name="topeConsumo" type="xsd:string" />
            <xsd:element name="tipoTope" type="xsd:string" />
            <xsd:element name="descripcionTipoTpe" type="xsd:string" />
            <xsd:element name="tipoRegistroTope" type="xsd:string" />
            <xsd:element name="topeControlConsumo" type="xsd:int" />
            <xsd:element name="fechaProgramacionTope" type="xsd:date" />
            <xsd:element name="CAC" type="xsd:string" />
            <xsd:element name="asesor" type="xsd:string" />
            <xsd:element name="codigoInteraccion" type="xsd:string" />
            <xsd:element name="montoPCS" type="xsd:float" />
            <xsd:element name="areaPCS" type="xsd:string" />
            <xsd:element name="motivoPCS" type="xsd:string" />
            <xsd:element name="subMotivoPCS" type="xsd:string" />
            <xsd:element name="cicloFacturacion" type="xsd:int" />
            <xsd:element name="idTipoCliente" type="xsd:string" />
            <xsd:element name="numeroDocumento" type="xsd:string" />
            <xsd:element name="flagServicioOnTop" type="xsd:string" />
            <xsd:element name="fechaProgramacion" type="xsd:date" />
            <xsd:element name="flagLimiteCredito" type="xsd:string" />
            <xsd:element name="tipoClarify" type="xsd:string" />
            <xsd:element name="numeroCuentaPadre" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="usuarioSistema" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="realizarMigracionPlanResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="codigoRespuesta" type="xsd:string" />
            <xsd:element name="mensajeRespuesta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcesarProgramacionMigracionPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="fechaEjecucion" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RelanzarProgramacionMigracionPlanRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="fechaEjecucion" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="programarMigracionPlanRequestMsg">
    <wsdl:part name="parameters" element="tns:programarMigracionPlanRequest" />
  </wsdl:message>
  <wsdl:message name="programarMigracionPlanResponseMsg">
    <wsdl:part name="parameters" element="tns:programarMigracionPlanResponse" />
  </wsdl:message>
  <wsdl:message name="realizarMigracionPlanRequestMsg">
    <wsdl:part name="parameters" element="tns:realizarMigracionPlanRequest" />
  </wsdl:message>
  <wsdl:message name="realizarMigracionPlanResponseMsg">
    <wsdl:part name="parameters" element="tns:realizarMigracionPlanResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarProgramacionMigracionPlanRequestMsg">
    <wsdl:part name="parameters" element="tns:ProcesarProgramacionMigracionPlanRequest" />
  </wsdl:message>
  <wsdl:message name="relanzarProgramacionMigracionPlanRequestMsg">
    <wsdl:part name="parameters" element="tns:RelanzarProgramacionMigracionPlanRequest" />
  </wsdl:message>
  <wsdl:portType name="ebsMigracionPlanPostpago">
    <wsdl:operation name="programarMigracion">
      <wsdl:input message="tns:programarMigracionPlanRequestMsg" />
      <wsdl:output message="tns:programarMigracionPlanResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="realizarMigracion">
      <wsdl:input message="tns:realizarMigracionPlanRequestMsg" />
      <wsdl:output message="tns:realizarMigracionPlanResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="procesarProgramacion">
      <wsdl:input message="tns:ProcesarProgramacionMigracionPlanRequestMsg" />
    </wsdl:operation>
    <wsdl:operation name="relanzarProgramacionMigraciones">
      <wsdl:input message="tns:relanzarProgramacionMigracionPlanRequestMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ebsMigracionPlanPostpagoSOAP11Binding" type="tns:ebsMigracionPlanPostpago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="programarMigracion">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago/programarMigracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarMigracion">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago/realizarMigracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarProgramacion">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago/procesarProgramacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="relanzarProgramacionMigraciones">
      <soap:operation soapAction="http://claro.com.pe/eai/ebs/ws/postventa/ebsMigracionPlanPostpago/relanzarProgramacionMigraciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ebsMigracionPlanPostpago_ep">
    <wsdl:port name="ebsMigracionPlanPostpago_pt" binding="tns:ebsMigracionPlanPostpagoSOAP11Binding">
      <soap:address location="http://limjandesv02.tim.com.pe:6909/soa-infra/services/default/MigracionPlanPostpago/ebsMigracionPlanPostpago_ep" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>