Claro.SIACU.ProxyService.Transac.Service/Service References/SIAC.PlanesTFI/obtenerTabConsultaPlanTFIPost_v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:data="http://claro.com.pe/esb/data/generico/responseDataObtenerTabConsultaPlanTFIPost/v1/" xmlns:status="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns:base="http://claro.com.pe/esb/message/consultaPlanTFI/obtenerTabConsultaPlanTFIPost/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/message/consultaPlanTFI/obtenerTabConsultaPlanTFIPost/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="responseDataObtenerTabConsultaPlanTFIPost_v1.xsd" namespace="http://claro.com.pe/esb/data/generico/responseDataObtenerTabConsultaPlanTFIPost/v1/" />
  <xs:element name="obtenerTabConsultaPlanTFIPostRequest" type="base:obtenerTabConsultaPlanTFIPostRequestType" />
  <xs:element name="obtenerTabConsultaPlanTFIPostResponse" type="base:obtenerTabConsultaPlanTFIPostResponseType" />
  <xs:complexType name="obtenerTabConsultaPlanTFIPostRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="suscriptor" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="proveedor" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="tarifa" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTabConsultaPlanTFIPostResponseType">
    <xs:sequence>
      <xs:element name="responseStatus" type="base:ResponseStatus" />
      <xs:element name="responseDataObtenerTabConsultaPlanTFIPost" type="data:ResponseDataObtenerTabConsultaPlanTFIPostType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseStatus">
    <xs:sequence>
      <xs:element name="estado" type="xs:int" />
      <xs:element name="codigoRespuesta" type="xs:string" />
      <xs:element name="descripcionRespuesta" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacionError" type="xs:string" />
      <xs:element name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>