Claro.SIACU.ProxyService.Transac.Service/Service References/SIAC.PlanesTFI/responseDataObtenerTabConsultaPlanTFIPost_v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://claro.com.pe/esb/data/generico/responseDataObtenerTabConsultaPlanTFIPost/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/responseDataObtenerTabConsultaPlanTFIPost/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="responseDataObtenerTabConsultaPlanTFIPost" type="tns:ResponseDataObtenerTabConsultaPlanTFIPostType">
    <xsd:annotation>
      <xsd:documentation>Esta estructura tiene por objetivo informar los datos de respuesta propios del servicio
            </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ResponseDataObtenerTabConsultaPlanTFIPostType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="listaTabConsultaPlanTFIPost" type="tns:ListaTabConsultaPlanTFIPostType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaTabConsultaPlanTFIPostType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="tabConsultaPlanTFIPost" type="tns:TabConsultaPlanTFIPostType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TabConsultaPlanTFIPostType">
    <xsd:sequence>
      <xsd:element name="provider" type="xsd:string" />
      <xsd:element name="tariff" type="xsd:string" />
      <xsd:element name="suscriber" type="xsd:string" />
      <xsd:element name="desc_plan" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>