Claro.SIACU.ProxyService.Transac.Service/Web References/ActivaDesactivaServicioComercialWS/EbsActivaDesactivaServicioComercialDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://pe.com.claro.esb.services" xmlns="" name="EbsActivaDesactivaServicioComercialDefinitions" targetNamespace="http://pe.com.claro.esb.services" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xs:schema xmlns:tns="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ActivDesactivServicioComercialRequest">
        <xs:annotation>
          <xs:documentation>Documento XML de Entrada para la Activacion o Desactivacion del Servicio Comercial</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="co_id" type="xs:string" />
            <xs:element name="p_co_ser" type="xs:string" />
            <xs:element name="p_tipreg" type="xs:string" />
            <xs:element name="usuario" type="xs:string" />
            <xs:element name="aplicacion" type="xs:string" />
            <xs:element name="estacion" type="xs:string" />
            <xs:element name="servidor" type="xs:string" />
            <xs:element name="fecha_hora" type="xs:string" />
            <xs:element name="id_transaccion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActivDesactivServicioComercialResponse">
        <xs:annotation>
          <xs:documentation>Documento XML de Salida para la Activacion o Desactivacion del Servicio Comercial</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="v_errnum" type="xs:string" />
            <xs:element name="v_errmsj" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidarActivaDesactivaServiciosRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="ipAplicacion" type="xs:string" />
            <xs:element name="aplicacion" type="xs:string" />
            <xs:element name="msisdn" type="xs:string" />
            <xs:element name="co_id" type="xs:string" />
            <xs:element name="co_ser" type="xs:string" />
            <xs:element name="tip_reg" type="xs:string" />
            <xs:element name="cod_serv" type="xs:string" />
            <xs:element name="servc_estado" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidarActivaDesactivaServiciosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="codigoRespuesta" type="xs:string" />
            <xs:element name="mensajeRespuesta" type="xs:string" />
            <xs:element name="co_ser" type="xs:string" />
            <xs:element name="tip_reg" type="xs:string" />
            <xs:element name="cod_serv" type="xs:string" />
            <xs:element name="programacion" type="xs:date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActivaDesactivaServiciosProgRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="ipAplicacion" type="xs:string" />
            <xs:element name="aplicacion" type="xs:string" />
            <xs:element name="msisdn" type="xs:string" />
            <xs:element name="co_id" type="xs:string" />
            <xs:element name="customer_id" type="xs:string" />
            <xs:element name="co_ser" type="xs:string" />
            <xs:element name="flag_occ_apadece" type="xs:string" />
            <xs:element name="monto_fid_apadece" type="xs:double" />
            <xs:element name="nuevo_CF" type="xs:double" />
            <xs:element name="tipo_reg" type="xs:string" />
            <xs:element name="ciclo_fact" type="xs:int" />
            <xs:element name="cod_serv" type="xs:string" />
            <xs:element name="desc_serv" type="xs:string" />
            <xs:element name="nro_cuenta" type="xs:string" />
            <xs:element name="usuario_aplicacion" type="xs:string" />
            <xs:element name="usuario_sistema" type="xs:string" />
            <xs:element name="fecha_prog" type="xs:date" />
            <xs:element name="fecha_reg" type="xs:date" />
            <xs:element name="id_interaccion" type="xs:string" />
            <xs:element name="tipo_servicio" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActivaDesactivaServiciosProgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="codigoRespuesta" type="xs:string" />
            <xs:element name="mensajeRespuesta" type="xs:string" />
            <xs:element name="co_ser" type="xs:string" />
            <xs:element name="tip_reg" type="xs:string" />
            <xs:element name="cod_serv" type="xs:string" />
            <xs:element name="programacion" type="xs:date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EjecutaActivaDesactivaServiciosProgramadoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="ipAplicacion" type="xs:string" />
            <xs:element name="aplicacion" type="xs:string" />
            <xs:element name="fecha_ejecucion" type="xs:date" />
            <xs:element name="codigo_servicio" type="xs:string" />
            <xs:element name="usuario_sistema" type="xs:string" />
            <xs:element name="usuario_aplicacion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EjecutaActivaDesactivaServiciosProgramadoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idTransaccion" type="xs:string" />
            <xs:element name="codigoRespuesta" type="xs:string" />
            <xs:element name="mensajeRespuesta" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CambioPlanRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cs_id" type="xs:string" />
            <xs:element name="co_id" type="xs:string" />
            <xs:element name="plan_nuevo" type="xs:string" />
            <xs:element name="fidelizacion" type="xs:string" />
            <xs:element name="fecha_ejecucion" type="xs:string" />
            <xs:element name="limite_credito" type="xs:string" />
            <xs:element name="penalidad" type="xs:string" />
            <xs:element name="flag_programado" type="xs:string" />
            <xs:element name="msisdn" type="xs:string" />
            <xs:element name="trace" type="xs:string" />
            <xs:element name="usuario_sistema" type="xs:string" />
            <xs:element name="usuario_aplicacion" type="xs:string" />
            <xs:element name="password_usuario" type="xs:string" />
            <xs:element name="fecha" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe.com.claro.esb.services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" />
      <xs:element name="validarActivaDesactivaServicios">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ValidarActivaDesactivaServiciosRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validarActivaDesactivaServiciosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ValidarActivaDesactivaServiciosResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ejecutaActivaDesactivaServiciosProgramado">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:EjecutaActivaDesactivaServiciosProgramadoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ejecutaActivaDesactivaServiciosProgramadoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:EjecutaActivaDesactivaServiciosProgramadoResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activaDesactivaServiciosProg">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ActivaDesactivaServiciosProgRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activaDesactivaServiciosProgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ActivaDesactivaServiciosProgResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activaDesactivaServicioComercial">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ActivDesactivServicioComercialRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activaDesactivaServicioComercialResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:ser="http://pe/com/claro/esb/services/serviciocomercial/schemas/ServicioComercial" ref="ser:ActivDesactivServicioComercialResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="validarActivaDesactivaServicios">
    <s0:part name="parameters" element="s1:validarActivaDesactivaServicios" />
  </s0:message>
  <s0:message name="validarActivaDesactivaServiciosResponse">
    <s0:part name="parameters" element="s1:validarActivaDesactivaServiciosResponse" />
  </s0:message>
  <s0:message name="ejecutaActivaDesactivaServiciosProgramado">
    <s0:part name="parameters" element="s1:ejecutaActivaDesactivaServiciosProgramado" />
  </s0:message>
  <s0:message name="ejecutaActivaDesactivaServiciosProgramadoResponse">
    <s0:part name="parameters" element="s1:ejecutaActivaDesactivaServiciosProgramadoResponse" />
  </s0:message>
  <s0:message name="activaDesactivaServiciosProg">
    <s0:part name="parameters" element="s1:activaDesactivaServiciosProg" />
  </s0:message>
  <s0:message name="activaDesactivaServiciosProgResponse">
    <s0:part name="parameters" element="s1:activaDesactivaServiciosProgResponse" />
  </s0:message>
  <s0:message name="activaDesactivaServicioComercial">
    <s0:part name="parameters" element="s1:activaDesactivaServicioComercial" />
  </s0:message>
  <s0:message name="activaDesactivaServicioComercialResponse">
    <s0:part name="parameters" element="s1:activaDesactivaServicioComercialResponse" />
  </s0:message>
  <s0:portType name="EbsActivaDesactivaServicioComercialPort">
    <s0:operation name="validarActivaDesactivaServicios" parameterOrder="parameters">
      <s0:input message="s1:validarActivaDesactivaServicios" />
      <s0:output message="s1:validarActivaDesactivaServiciosResponse" />
    </s0:operation>
    <s0:operation name="ejecutaActivaDesactivaServiciosProgramado" parameterOrder="parameters">
      <s0:input message="s1:ejecutaActivaDesactivaServiciosProgramado" />
      <s0:output message="s1:ejecutaActivaDesactivaServiciosProgramadoResponse" />
    </s0:operation>
    <s0:operation name="activaDesactivaServiciosProg" parameterOrder="parameters">
      <s0:input message="s1:activaDesactivaServiciosProg" />
      <s0:output message="s1:activaDesactivaServiciosProgResponse" />
    </s0:operation>
    <s0:operation name="activaDesactivaServicioComercial" parameterOrder="parameters">
      <s0:input message="s1:activaDesactivaServicioComercial" />
      <s0:output message="s1:activaDesactivaServicioComercialResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="EbsActivaDesactivaServicioComercialSoapBinding" type="s1:EbsActivaDesactivaServicioComercialPort">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="validarActivaDesactivaServicios">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="ejecutaActivaDesactivaServiciosProgramado">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="activaDesactivaServiciosProg">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="activaDesactivaServicioComercial">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="EbsActivaDesactivaServicioComercial">
    <s0:port name="EbsActivaDesactivaServicioComercialPort" binding="s1:EbsActivaDesactivaServicioComercialSoapBinding">
      <s2:address location="http://limdeseaiv22.tim.com.pe:8909/ActivDesactivServicioComercialWS/EbsActivaDesactivaServicioComercial" />
    </s0:port>
  </s0:service>
</s0:definitions>