Claro.SIACU.ProxyService.Transac.Service/Service References/CambioPlanLTEWSService/ebsCambioPlanLTESB11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:encpltev1="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:poscplte="http://claro.com.pe/eai/ws/postventa/cambioPlanltews" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://claro.com.pe/eai/ws/postventa/cambioPlanltews" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.17.26.44:20000/CambioPlanLTEWS/ebsCambioPlanLTESB11?xsd=1" namespace="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRequest">
    <wsdl:part name="headerRequest" element="encpltev1:headerRequest" />
  </wsdl:message>
  <wsdl:message name="headerResponse">
    <wsdl:part name="headerResponse" element="encpltev1:headerResponse" />
  </wsdl:message>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="encpltev1:claroFault" />
  </wsdl:message>
  <wsdl:message name="ejecutarCambioPlanLTERequestMessage">
    <wsdl:part name="ejecutarCambioPlanLTERequestMessage" element="encpltev1:ejecutarCambioPlanLTERequestMessage" />
  </wsdl:message>
  <wsdl:message name="ejecutarCambioPlanLTEResponseMessage">
    <wsdl:part name="ejecutarCambioPlanLTEResponseMessage" element="encpltev1:ejecutarCambioPlanLTEResponseMessage" />
  </wsdl:message>
  <wsdl:portType name="CambioPlanLTEWSPortType">
    <wsdl:operation name="ejecutarCambioPlanLTE">
      <wsdl:input message="poscplte:ejecutarCambioPlanLTERequestMessage" />
      <wsdl:output message="poscplte:ejecutarCambioPlanLTEResponseMessage" />
      <wsdl:fault name="claroFault" message="poscplte:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CambioPlanLTEWSSOAP11Binding" type="poscplte:CambioPlanLTEWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ejecutarCambioPlanLTE">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/ejecutarCambioPlanLTE" style="document" />
      <wsdl:input>
        <soap:header message="poscplte:headerRequest" part="headerRequest" use="literal" />
        <soap:body use="literal" parts="ejecutarCambioPlanLTERequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="poscplte:headerResponse" part="headerResponse" use="literal" />
        <soap:body use="literal" parts="ejecutarCambioPlanLTEResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CambioPlanLTEWSSOAP12Binding" type="poscplte:CambioPlanLTEWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ejecutarCambioPlanLTE">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/ejecutarCambioPlanLTE" style="document" />
      <wsdl:input>
        <soap12:header message="poscplte:headerRequest" part="headerRequest" use="literal" />
        <soap12:body use="literal" parts="ejecutarCambioPlanLTERequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="poscplte:headerResponse" part="headerResponse" use="literal" />
        <soap12:body use="literal" parts="ejecutarCambioPlanLTEResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap12:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CambioPlanLTEWSService">
    <wsdl:port name="ebsCambioPlanLTESB11" binding="poscplte:CambioPlanLTEWSSOAP11Binding">
      <soap:address location="http://172.17.26.44:20000/CambioPlanLTEWS/ebsCambioPlanLTESB11" />
    </wsdl:port>
    <wsdl:port name="ebsCambioPlanLTESB12" binding="poscplte:CambioPlanLTEWSSOAP12Binding">
      <soap12:address location="http://172.17.26.44:20000/CambioPlanLTEWS/ebsCambioPlanLTESB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>