Claro.SIACU.ProxyService.Transac.Service/Service References/CambioPlanLTEWSService/ebsCambioPlanLTESB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:encpltev1="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/types" targetNamespace="http://claro.com.pe/eai/ws/postventa/cambioPlanltews/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ejecutarCambioPlanLTERequestMessage" type="encpltev1:ejecutarCambioPlanLTERequest" />
  <xsd:element name="ejecutarCambioPlanLTEResponseMessage" type="encpltev1:ejecutarCambioPlantLTEResponse" />
  <xsd:element name="headerRequest" type="encpltev1:HeaderRequest" />
  <xsd:element name="headerResponse" type="encpltev1:HeaderResponse" />
  <xsd:element name="claroFault" type="encpltev1:ClaroFault" />
  <xsd:complexType name="ejecutarCambioPlanLTERequest">
    <xsd:sequence>
      <xsd:element name="notas" type="xsd:string" />
      <xsd:element name="flagContingencia" type="xsd:string" />
      <xsd:element name="flagCrearPlantilla" type="xsd:string" />
      <xsd:element name="tipoPlan" type="xsd:string" />
      <xsd:element name="codPlan" type="xsd:string" />
      <xsd:element name="tmCode" type="xsd:string" />
      <xsd:element name="listaServicios" type="encpltev1:ListaServiciosType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="contactoCliente" type="encpltev1:ContactoClienteType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosCliente" type="encpltev1:ParametrosClienteType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosPrincipal" type="encpltev1:ParametrosPrincipalType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosPlus" type="encpltev1:ParametrosPlusType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosSot" type="encpltev1:ParametrosSotType" />
      <xsd:element name="listaContratos" type="encpltev1:ListaContratosType" />
      <xsd:element name="actualizarTipificacion" type="encpltev1:ActualizarTipificacionType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosConstancia" type="encpltev1:ParametrosConstanciaType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="parametrosEnvioCorreo" type="encpltev1:ParametrosEnvioCorreoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ejecutarCambioPlantLTEResponse">
    <xsd:sequence>
      <xsd:element name="responseStatus" type="encpltev1:ResponseStatus" />
      <xsd:element name="responseData" type="encpltev1:ResponseData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaServiciosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="servicio" type="encpltev1:ServicioType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServicioType">
    <xsd:sequence>
      <xsd:element name="nombreServicio" type="xsd:string" />
      <xsd:element name="tipoServicio" type="xsd:string" />
      <xsd:element name="grupoServicio" type="xsd:string" />
      <xsd:element name="cf" type="xsd:string" />
      <xsd:element name="equipo" type="xsd:string" />
      <xsd:element name="cantidad" type="xsd:string" />
      <xsd:element name="codigoServicio" type="xsd:string" />
      <xsd:element name="snCode" type="xsd:string" />
      <xsd:element name="spCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactoClienteType">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string" />
      <xsd:element name="nombres" type="xsd:string" />
      <xsd:element name="apellidos" type="xsd:string" />
      <xsd:element name="razonSocial" type="xsd:string" />
      <xsd:element name="tipoDoc" type="xsd:string" />
      <xsd:element name="numDoc" type="xsd:string" />
      <xsd:element name="domicilio" type="xsd:string" />
      <xsd:element name="distrito" type="xsd:string" />
      <xsd:element name="departamento" type="xsd:string" />
      <xsd:element name="provincia" type="xsd:string" />
      <xsd:element name="modalidad" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosClienteType">
    <xsd:sequence>
      <xsd:element name="account" type="xsd:string" />
      <xsd:element name="contactObjId" type="xsd:string" />
      <xsd:element name="flagReg" type="xsd:string" />
      <xsd:element name="msisdn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosPrincipalType">
    <xsd:sequence>
      <xsd:element name="contactobjid" type="xsd:string" />
      <xsd:element name="siteobjid" type="xsd:string" />
      <xsd:element name="account" type="xsd:string" />
      <xsd:element name="phone" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
      <xsd:element name="clase" type="xsd:string" />
      <xsd:element name="subclase" type="xsd:string" />
      <xsd:element name="metodoContacto" type="xsd:string" />
      <xsd:element name="tipoInter" type="xsd:string" />
      <xsd:element name="agente" type="xsd:string" />
      <xsd:element name="usrProceso" type="xsd:string" />
      <xsd:element name="hechoEnUno" type="xsd:string" />
      <xsd:element name="notas" type="xsd:string" />
      <xsd:element name="flagCaso" type="xsd:string" />
      <xsd:element name="resultado" type="xsd:string" />
      <xsd:element name="servafect" type="xsd:string" />
      <xsd:element name="inconven" type="xsd:string" />
      <xsd:element name="servafectCode" type="xsd:string" />
      <xsd:element name="inconvenCode" type="xsd:string" />
      <xsd:element name="coId" type="xsd:string" />
      <xsd:element name="codPlano" type="xsd:string" />
      <xsd:element name="valor1" type="xsd:string" />
      <xsd:element name="valor2" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosPlusType">
    <xsd:sequence>
      <xsd:element name="inter1" type="xsd:string" />
      <xsd:element name="inter2" type="xsd:string" />
      <xsd:element name="inter3" type="xsd:string" />
      <xsd:element name="inter4" type="xsd:string" />
      <xsd:element name="inter5" type="xsd:string" />
      <xsd:element name="inter6" type="xsd:string" />
      <xsd:element name="inter7" type="xsd:string" />
      <xsd:element name="inter8" type="xsd:string" />
      <xsd:element name="inter9" type="xsd:string" />
      <xsd:element name="inter10" type="xsd:string" />
      <xsd:element name="inter11" type="xsd:string" />
      <xsd:element name="inter12" type="xsd:string" />
      <xsd:element name="inter13" type="xsd:string" />
      <xsd:element name="inter14" type="xsd:string" />
      <xsd:element name="inter15" type="xsd:string" />
      <xsd:element name="inter16" type="xsd:string" />
      <xsd:element name="inter17" type="xsd:string" />
      <xsd:element name="inter18" type="xsd:string" />
      <xsd:element name="inter19" type="xsd:string" />
      <xsd:element name="inter20" type="xsd:string" />
      <xsd:element name="inter21" type="xsd:string" />
      <xsd:element name="inter22" type="xsd:string" />
      <xsd:element name="inter23" type="xsd:string" />
      <xsd:element name="inter24" type="xsd:string" />
      <xsd:element name="inter25" type="xsd:string" />
      <xsd:element name="inter26" type="xsd:string" />
      <xsd:element name="inter27" type="xsd:string" />
      <xsd:element name="inter28" type="xsd:string" />
      <xsd:element name="inter29" type="xsd:string" />
      <xsd:element name="inter30" type="xsd:string" />
      <xsd:element name="plusInter2Interact" type="xsd:string" />
      <xsd:element name="adjustmentAmount" type="xsd:string" />
      <xsd:element name="adjustmentReason" type="xsd:string" />
      <xsd:element name="address" type="xsd:string" />
      <xsd:element name="amountUnit" type="xsd:string" />
      <xsd:element name="birthday" type="xsd:string" />
      <xsd:element name="clarifyInteraction" type="xsd:string" />
      <xsd:element name="claroLdn1" type="xsd:string" />
      <xsd:element name="claroLdn2" type="xsd:string" />
      <xsd:element name="claroLdn3" type="xsd:string" />
      <xsd:element name="claroLdn4" type="xsd:string" />
      <xsd:element name="claroLocal1" type="xsd:string" />
      <xsd:element name="claroLocal2" type="xsd:string" />
      <xsd:element name="claroLocal3" type="xsd:string" />
      <xsd:element name="claroLocal4" type="xsd:string" />
      <xsd:element name="claroLocal5" type="xsd:string" />
      <xsd:element name="claroLocal6" type="xsd:string" />
      <xsd:element name="contactPhone" type="xsd:string" />
      <xsd:element name="dniLegalRep" type="xsd:string" />
      <xsd:element name="documentNumber" type="xsd:string" />
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="firstName" type="xsd:string" />
      <xsd:element name="fixedNumber" type="xsd:string" />
      <xsd:element name="flagChangeUser" type="xsd:string" />
      <xsd:element name="flagLegalRep" type="xsd:string" />
      <xsd:element name="flagOther" type="xsd:string" />
      <xsd:element name="flagTitular" type="xsd:string" />
      <xsd:element name="imei" type="xsd:string" />
      <xsd:element name="lastName" type="xsd:string" />
      <xsd:element name="lastNameRep" type="xsd:string" />
      <xsd:element name="ldiNumber" type="xsd:string" />
      <xsd:element name="nameLegalRep" type="xsd:string" />
      <xsd:element name="oldClaroLdn1" type="xsd:string" />
      <xsd:element name="oldClaroLdn2" type="xsd:string" />
      <xsd:element name="oldClaroLdn3" type="xsd:string" />
      <xsd:element name="oldClaroLdn4" type="xsd:string" />
      <xsd:element name="oldClaroLocal1" type="xsd:string" />
      <xsd:element name="oldClaroLocal2" type="xsd:string" />
      <xsd:element name="oldClaroLocal3" type="xsd:string" />
      <xsd:element name="oldClaroLocal4" type="xsd:string" />
      <xsd:element name="oldClaroLocal5" type="xsd:string" />
      <xsd:element name="oldClaroLocal6" type="xsd:string" />
      <xsd:element name="oldDocNumber" type="xsd:string" />
      <xsd:element name="oldFirstName" type="xsd:string" />
      <xsd:element name="oldFixedPhone" type="xsd:string" />
      <xsd:element name="oldLastName" type="xsd:string" />
      <xsd:element name="oldLdiNumber" type="xsd:string" />
      <xsd:element name="oldFixedNumber" type="xsd:string" />
      <xsd:element name="operationType" type="xsd:string" />
      <xsd:element name="otherDocNumber" type="xsd:string" />
      <xsd:element name="otherFirstName" type="xsd:string" />
      <xsd:element name="otherLastName" type="xsd:string" />
      <xsd:element name="otherPhone" type="xsd:string" />
      <xsd:element name="phoneLegalRep" type="xsd:string" />
      <xsd:element name="referencePhone" type="xsd:string" />
      <xsd:element name="reason" type="xsd:string" />
      <xsd:element name="model" type="xsd:string" />
      <xsd:element name="lotCode" type="xsd:string" />
      <xsd:element name="flagRegistered" type="xsd:string" />
      <xsd:element name="registrationReason" type="xsd:string" />
      <xsd:element name="claroNumber" type="xsd:string" />
      <xsd:element name="month" type="xsd:string" />
      <xsd:element name="ostNumber" type="xsd:string" />
      <xsd:element name="basket" type="xsd:string" />
      <xsd:element name="expireDate" type="xsd:string" />
      <xsd:element name="address5" type="xsd:string" />
      <xsd:element name="chargeAmount" type="xsd:string" />
      <xsd:element name="city" type="xsd:string" />
      <xsd:element name="contactSex" type="xsd:string" />
      <xsd:element name="department" type="xsd:string" />
      <xsd:element name="district" type="xsd:string" />
      <xsd:element name="emailConfirmation" type="xsd:string" />
      <xsd:element name="fax" type="xsd:string" />
      <xsd:element name="flagCharge" type="xsd:string" />
      <xsd:element name="maritalStatus" type="xsd:string" />
      <xsd:element name="occupation" type="xsd:string" />
      <xsd:element name="position" type="xsd:string" />
      <xsd:element name="referenceAddress" type="xsd:string" />
      <xsd:element name="typeDocument" type="xsd:string" />
      <xsd:element name="zipCode" type="xsd:string" />
      <xsd:element name="iccid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosSotType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="registroCabecera" type="encpltev1:RegistroCabeceraType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="registroDetalle" type="encpltev1:RegistroDetalleType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="registroSot" type="encpltev1:RegistroSotType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaContratosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="contrato" type="encpltev1:ContratoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarTipificacionType">
    <xsd:sequence>
      <xsd:element name="orden" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosConstanciaType">
    <xsd:sequence>
      <xsd:element name="formatoConstancia" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametrosEnvioCorreoType">
    <xsd:sequence>
      <xsd:element name="correoDestinatario" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistroCabeceraType">
    <xsd:sequence>
      <xsd:element name="tramaCab" type="xsd:string" />
      <xsd:element name="lstTipEqu" type="xsd:string" />
      <xsd:element name="lstCoser" type="xsd:string" />
      <xsd:element name="lstSnCode" type="xsd:string" />
      <xsd:element name="lstSpCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistroDetalleType">
    <xsd:sequence>
      <xsd:element name="trama" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistroSotType">
    <xsd:sequence>
      <xsd:element name="idProcess" type="xsd:string" />
      <xsd:element name="coId" type="xsd:string" />
      <xsd:element name="customerId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContratoType">
    <xsd:sequence>
      <xsd:element name="customerId" type="xsd:long" />
      <xsd:element name="planTarifario" type="xsd:long" />
      <xsd:element name="tipoProducto" type="xsd:string" />
      <xsd:element name="idSubMercado" type="xsd:long" />
      <xsd:element name="idMercado" type="xsd:long" />
      <xsd:element name="red" type="xsd:long" />
      <xsd:element name="estadoUmbral" type="xsd:boolean" />
      <xsd:element name="cantidadUmbral" type="xsd:double" />
      <xsd:element name="archivoLlamadas" type="xsd:boolean" />
      <xsd:element name="estado" type="xsd:int" />
      <xsd:element name="razon" type="xsd:long" />
      <xsd:element name="limiteCredito" type="xsd:float" />
      <xsd:element name="listaServicios" type="encpltev1:ListaServiciosContratoType" />
      <xsd:element name="listaDispositivos" type="encpltev1:ListaDispositivosType" />
      <xsd:element name="informacionContrato" type="encpltev1:InformacionContratoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaServiciosContratoType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="servicio" type="encpltev1:ServicioContratoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaDispositivosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="dispositivo" type="encpltev1:DispositivoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionContratoType">
    <xsd:sequence>
      <xsd:element name="coId" type="xsd:long" />
      <xsd:element name="listaCampos" type="encpltev1:ListaCampoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaCampoType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="campo" type="encpltev1:CampoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CampoType">
    <xsd:sequence>
      <xsd:element name="indice" type="xsd:int" />
      <xsd:element name="tipo" type="xsd:int" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DispositivoType">
    <xsd:sequence>
      <xsd:element name="coId" type="xsd:long" />
      <xsd:element name="iccid" type="xsd:long" />
      <xsd:element name="imei" type="xsd:long" />
      <xsd:element name="idDispositivo" type="xsd:long" />
      <xsd:element name="tipoDispositivo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServicioContratoType">
    <xsd:sequence>
      <xsd:element name="coId" type="xsd:long" />
      <xsd:element name="snCode" type="xsd:long" />
      <xsd:element name="spCode" type="xsd:long" />
      <xsd:element name="profileId" type="xsd:long" />
      <xsd:element name="tipoCostoServicioAvanzado" type="xsd:string" />
      <xsd:element name="costoServicioAvanzado" type="xsd:double" />
      <xsd:element name="periodoCostoServicioAvanzado" type="xsd:int" />
      <xsd:element name="tipoCostoServicio" type="xsd:string" />
      <xsd:element name="costoServicio" type="xsd:double" />
      <xsd:element name="periodoCostoServicio" type="xsd:int" />
      <xsd:element name="listaNumerosDirectorio" type="encpltev1:ListaNumerosDirectorioType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaNumerosDirectorioType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="numeroDirectorio" type="encpltev1:NumeroDirectorioType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NumeroDirectorioType">
    <xsd:sequence>
      <xsd:element name="numeroTelefono" type="xsd:long" />
      <xsd:element name="idNumeroTelefono" type="xsd:long" />
      <xsd:element name="lineaPrincipal" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseStatus">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codeResponse" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descriptionResponse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorLocation" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="origin" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="errorDetails" type="encpltev1:errorDetailType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseData">
    <xsd:sequence>
      <xsd:element name="idInteraccion" type="xsd:string" />
      <xsd:element name="numeroSOT" type="xsd:string" />
      <xsd:element name="rutaConsntacia" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="errorDetailType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="errorCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorDescription" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderRequest">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="channel" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idApplication" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="userApplication" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="userSession" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idESBTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idBusinessTransaction" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="additionalNode" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderResponse">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idESBTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idBusinessTransaction" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="startDate" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="endDate" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="additionalNode" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClaroFault">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idAudit" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codeError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descriptionError" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="locationError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="originError" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>