Claro.SIACU.ProxyService.Transac.Service/Web References/SIACPost.GestionAcuerdoWS/ebsGestionAcuerdoSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/gestionacuerdo/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/GestionAcuerdoWS/ebsGestionAcuerdoSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="obtenerReintegroEquipoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="coId" type="xsd:string" />
        <xsd:element name="fechaTransaccion" type="xsd:string" />
        <xsd:element name="cargoFijoNuevo" type="xsd:string" />
        <xsd:element name="motivoApadece" type="xsd:string" />
        <xsd:element name="flagEquipo" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerReintegroEquipoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="acuerdoOrigen" type="xsd:string" />
        <xsd:element name="acuerdoId" type="xsd:string" />
        <xsd:element name="coId" type="xsd:string" />
        <xsd:element name="customerId" type="xsd:string" />
        <xsd:element name="acuerdoEstado" type="xsd:string" />
        <xsd:element name="acuerdoMontoApacedeTotal" type="xsd:string" />
        <xsd:element name="acuerdoVigenciaMeses" type="xsd:string" />
        <xsd:element name="acuerdoFechaInicio" type="xsd:string" />
        <xsd:element name="acuerdoFechaFin" type="xsd:string" />
        <xsd:element name="mesesAntiguedad" type="xsd:string" />
        <xsd:element name="mesesPendientes" type="xsd:string" />
        <xsd:element name="diasPendientes" type="xsd:string" />
        <xsd:element name="codPlazoAcuerdo" type="xsd:string" />
        <xsd:element name="descPlazoAcuerdo" type="xsd:string" />
        <xsd:element name="acuerdoCaducado" type="xsd:string" />
        <xsd:element name="diasVigencia" type="xsd:string" />
        <xsd:element name="descripcionEstadoAcuerdo" type="xsd:string" />
        <xsd:element name="montoApadece" type="xsd:string" />
        <xsd:element name="cargoFijoDiario" type="xsd:string" />
        <xsd:element name="precioLista" type="xsd:string" />
        <xsd:element name="precioVenta" type="xsd:string" />
        <xsd:element name="diasBloqueo" type="xsd:string" />
        <xsd:element name="finVigenciaReal" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>