Claro.SIACU.ProxyService.Transac.Service/Web References/SIACPost.ValidationQueryBscsEai/EbsConsultaValidacionBscsTimEaiServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/ws" xmlns="" name="EbsConsultaValidacionBscsTimEaiServiceDefinitions" targetNamespace="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xsd:schema xmlns="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="es">XML Schema ConsultaValidacionBSCSTIMEAI</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="ConsultaPosttServicioProgRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Msisdn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FechaDesde" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FechaHasta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Estado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Asesor" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Cuenta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="TipoTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CodInteraccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CadDac" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaPosttServicioProgResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element name="ListaConsultaPosttServicioProg" type="TypeListaConsultaPosttServicioProg" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeListaConsultaPosttServicioProg">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PosttServicioProg" type="TypePosttServicioProg" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypePosttServicioProg">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="CoId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FechaProg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FechaReg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FechaEjec" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescEstado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Batch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MenError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UsuarioSistema" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IdEaiSW" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServiCod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescServi" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MSISDN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IdBatch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UsuarioAplicacion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailUsuarioApp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="XmlEntrada" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NroCuenta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodigoInteraccion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PuntoVenta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipoServ" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coSer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="tipoReg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="descCoSer" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConsultaServicioProgRequest">
        <xsd:annotation>
          <xsd:documentation xml:lang="es">Es obligatorio ingresar al menos un valor :Msisdn,NroCuenta,Asesor,SerEstado,CodigoInteraccion,SerCod,PuntoVenta y ServFechaProg </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Msisdn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="NroCuenta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Asesor" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SerEstado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CodigoInteraccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SerCod" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="PuntoVenta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ServFechaProg" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConsultaServicioProgResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element name="ListaConsultaServicioProg" type="TypeListaConsultaServicioProg" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeListaConsultaServicioProg">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ServicioProg" type="TypeServicioProg" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypeServicioProg">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ServdFechaProg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServdFechaReg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServdFechaEjec" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcEstado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcBatch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvMenError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvCodError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvUsuarioSistema" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvIdEaiSW" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServCod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvMSISDN" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvIdBatch" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvUsuarioAplicacion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvEmailUsuarioApp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServvXmlEntrada" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcCodigoInteraccion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcAsesor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcPuntoVenta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServcNrocuenta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CoId" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidacionPagoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Flag" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation xml:lang="es">Flag 1:msisdn - 2:coId</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="Valor" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidacionPagoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="DatosValidacionPago" type="TypeDatosValidacionPago" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeDatosValidacionPago">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Deuda" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodigoError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescripcionError" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidacionBloqueoSuspCoIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CoID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidacionBloqueoSuspCoIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element name="DatosValidacionBloqueoSuspCoId" type="TypeDatosValidacionBloqueoSuspCoId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeDatosValidacionBloqueoSuspCoId">
        <xsd:sequence>
          <xsd:element name="ResultadoValidacion" type="xsd:string" />
          <xsd:element name="MensajeValidacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ObtieneBloqueadoSuspCoIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CoID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ObtieneBloqueadoSuspCoIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element name="DatosObtencionBloqueoSuspCoId" type="TypeDatosObtencionBloqueoSuspCoId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeDatosObtencionBloqueoSuspCoId">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ResultadoObtencion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescripcionObtencion" type="xsd:string" />
          <xsd:element name="ListaObtencionBloqueoSusp" type="TypeListaObtencionBloqueoSusp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypeListaObtencionBloqueoSusp">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Item" type="TypeItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypeItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="TicklerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Usuario" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaLimiteCreditoActualRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdTransaccion" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Cuenta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CoId" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="CoSer" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidaLimiteCreditoActualResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resultado" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xsd:string" />
            <xsd:element name="DatosValidaLimiteCreditoActual" type="TypeDatosValidaLimiteCreditoActual" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TypeDatosValidaLimiteCreditoActual">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="TotalCF" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LimiteC" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Error" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MsgError" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" />
      <xs:element name="validaBloqueadoSuspCoid">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidacionBloqueoSuspCoIdRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaBloqueadoSuspCoidResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidacionBloqueoSuspCoIdResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obtieneBloqueadoSuspCoId">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ObtieneBloqueadoSuspCoIdRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="obtieneBloqueadoSuspCoIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ObtieneBloqueadoSuspCoIdResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaPago">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidacionPagoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaPagoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidacionPagoResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarPosttServiciosProg">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ConsultaPosttServicioProgRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarPosttServiciosProgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ConsultaPosttServicioProgResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarServiciosProg">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ConsultaServicioProgRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarServiciosProgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ConsultaServicioProgResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaLimiteCreditoActual">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidaLimiteCreditoActualRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaLimiteCreditoActualResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:con="http://pe/com/claro/esb/services/consultavalidacionbscstimeai/schemas/ConsultaValidacionBSCSTIMEAI.xsd" ref="con:ValidaLimiteCreditoActualResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="validaBloqueadoSuspCoid">
    <s0:part name="parameters" element="s1:validaBloqueadoSuspCoid" />
  </s0:message>
  <s0:message name="validaBloqueadoSuspCoidResponse">
    <s0:part name="parameters" element="s1:validaBloqueadoSuspCoidResponse" />
  </s0:message>
  <s0:message name="obtieneBloqueadoSuspCoId">
    <s0:part name="parameters" element="s1:obtieneBloqueadoSuspCoId" />
  </s0:message>
  <s0:message name="obtieneBloqueadoSuspCoIdResponse">
    <s0:part name="parameters" element="s1:obtieneBloqueadoSuspCoIdResponse" />
  </s0:message>
  <s0:message name="validaPago">
    <s0:part name="parameters" element="s1:validaPago" />
  </s0:message>
  <s0:message name="validaPagoResponse">
    <s0:part name="parameters" element="s1:validaPagoResponse" />
  </s0:message>
  <s0:message name="consultarPosttServiciosProg">
    <s0:part name="parameters" element="s1:consultarPosttServiciosProg" />
  </s0:message>
  <s0:message name="consultarPosttServiciosProgResponse">
    <s0:part name="parameters" element="s1:consultarPosttServiciosProgResponse" />
  </s0:message>
  <s0:message name="consultarServiciosProg">
    <s0:part name="parameters" element="s1:consultarServiciosProg" />
  </s0:message>
  <s0:message name="consultarServiciosProgResponse">
    <s0:part name="parameters" element="s1:consultarServiciosProgResponse" />
  </s0:message>
  <s0:message name="validaLimiteCreditoActual">
    <s0:part name="parameters" element="s1:validaLimiteCreditoActual" />
  </s0:message>
  <s0:message name="validaLimiteCreditoActualResponse">
    <s0:part name="parameters" element="s1:validaLimiteCreditoActualResponse" />
  </s0:message>
  <s0:portType name="EbsConsultaValidacionBscsTimEai">
    <s0:operation name="validaBloqueadoSuspCoid" parameterOrder="parameters">
      <s0:input message="s1:validaBloqueadoSuspCoid" />
      <s0:output message="s1:validaBloqueadoSuspCoidResponse" />
    </s0:operation>
    <s0:operation name="obtieneBloqueadoSuspCoId" parameterOrder="parameters">
      <s0:input message="s1:obtieneBloqueadoSuspCoId" />
      <s0:output message="s1:obtieneBloqueadoSuspCoIdResponse" />
    </s0:operation>
    <s0:operation name="validaPago" parameterOrder="parameters">
      <s0:input message="s1:validaPago" />
      <s0:output message="s1:validaPagoResponse" />
    </s0:operation>
    <s0:operation name="consultarPosttServiciosProg" parameterOrder="parameters">
      <s0:input message="s1:consultarPosttServiciosProg" />
      <s0:output message="s1:consultarPosttServiciosProgResponse" />
    </s0:operation>
    <s0:operation name="consultarServiciosProg" parameterOrder="parameters">
      <s0:input message="s1:consultarServiciosProg" />
      <s0:output message="s1:consultarServiciosProgResponse" />
    </s0:operation>
    <s0:operation name="validaLimiteCreditoActual" parameterOrder="parameters">
      <s0:input message="s1:validaLimiteCreditoActual" />
      <s0:output message="s1:validaLimiteCreditoActualResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="EbsConsultaValidacionBscsTimEaiServiceSoapBinding" type="s1:EbsConsultaValidacionBscsTimEai">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="validaBloqueadoSuspCoid">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="obtieneBloqueadoSuspCoId">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="validaPago">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultarPosttServiciosProg">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="consultarServiciosProg">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="validaLimiteCreditoActual">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="EbsConsultaValidacionBscsTimEaiService">
    <s0:port name="EbsConsultaValidacionBscsTimEaiSoapPort" binding="s1:EbsConsultaValidacionBscsTimEaiServiceSoapBinding">
      <s2:address location="http://limdeseaiv22.tim.com.pe:8909/ConsultaValidacionBSCSTIMEAIWS/EbsConsultaValidacionBscsTimEai" />
    </s0:port>
  </s0:service>
</s0:definitions>