Claro.SIACU.ProxyService.Transac.Service/Service References/SIACFixedBpelCallDetail/obtenerDetLlamadasSalNoFactV2_sp.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerDetLlamadasSalNoFactV2" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtenerDetLlamadasSalNoFactV2" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_TIPO_CONSULTA" nillable="true" type="string" />
        <element db:index="2" db:type="NUMBER" minOccurs="0" name="P_VALOR" nillable="true" type="decimal" />
        <element db:index="3" db:type="VARCHAR2" minOccurs="0" name="P_FECHA_INI" nillable="true" type="string" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_FECHA_FIN" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="5" db:type="RowSet" minOccurs="0" name="P_CURSOR" nillable="true" type="db:P_CURSOR_RowSet" />
      </sequence>
    </complexType>
  </element>
  <complexType name="P_CURSOR_RowSet">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="P_CURSOR_Row">
        <complexType>
          <sequence>
            <element db:type="DATE" minOccurs="0" name="FECHA_HORA_INICIO" nillable="true" type="dateTime" />
            <element db:type="DATE" minOccurs="0" name="HORA_INICIO" nillable="true" type="dateTime" />
            <element db:type="VARCHAR2" minOccurs="0" name="TELEFONO_DESTINO" nillable="true" type="db:string4000" />
            <element db:type="NUMBER" minOccurs="0" name="CANTIDAD" nillable="true" type="decimal" />
            <element db:type="NUMBER" minOccurs="0" name="CARGO_ORIGINAL" nillable="true" type="decimal" />
            <element db:type="NUMBER" minOccurs="0" name="CARGO_ORI_FLEXIBLE" nillable="true" type="decimal" />
            <element db:type="VARCHAR2" minOccurs="0" name="PLAN_TARIFARIO" nillable="true" type="db:string30" />
            <element db:type="VARCHAR2" minOccurs="0" name="TARIFA" nillable="true" type="db:string4000" />
            <element db:type="VARCHAR2" minOccurs="0" name="TIPO" nillable="true" type="db:string16" />
            <element db:type="VARCHAR2" minOccurs="0" name="TIPO_UNIDADES" nillable="true" type="db:string20" />
            <element db:type="VARCHAR2" minOccurs="0" name="ZONA_TARIFARIA" nillable="true" type="db:string30" />
            <element db:type="VARCHAR2" minOccurs="0" name="OPERADOR" nillable="true" type="db:string4000" />
            <element db:type="VARCHAR2" minOccurs="0" name="HORARIO" nillable="true" type="db:string30" />
            <element db:type="VARCHAR2" minOccurs="0" name="TIPO_LLAMADA" nillable="true" type="db:string3" />
            <element db:type="NUMBER" minOccurs="0" name="CARGO_FINAL" nillable="true" type="decimal" />
            <element db:type="NUMBER" minOccurs="0" name="B2" nillable="true" type="decimal" />
            <element db:type="NUMBER" minOccurs="0" name="B1" nillable="true" type="decimal" />
            <element db:type="VARCHAR2" minOccurs="0" name="TELEFONO_ORIGEN" nillable="true" type="db:string4000" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="string4000">
    <restriction base="string">
      <maxLength value="4000" />
    </restriction>
  </simpleType>
  <simpleType name="string30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="string16">
    <restriction base="string">
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="string20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="string3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
</schema>