Claro.SIACU.ProxyService.Transac.Service/Web References/SIACFixed.CrewManagement/ebsADMCUAD_CapacitySB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://claro.com.pe/eai/ebs/services/capacity/etadirect/ws" targetNamespace="http://claro.com.pe/eai/ebs/services/capacity/etadirect/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="parametrosRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="objetoRequestOpcional" nillable="true">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="parametrosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="objetoResponseOpcional" nillable="true">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="capacidadType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ubicacion" type="xsd:string" />
      <xsd:element name="fecha" type="xsd:date" />
      <xsd:element minOccurs="0" name="espacioTiempo" type="xsd:string" />
      <xsd:element minOccurs="0" name="habilidadTrabajo" type="xsd:string" />
      <xsd:element name="cuota" type="xsd:long" />
      <xsd:element name="disponible" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="nombreAplicacion" type="xsd:string" />
      <xsd:element name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="campoActividadType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarCapacidadRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="ns0:AuditRequest" />
        <xsd:element maxOccurs="unbounded" name="fecha" type="xsd:date" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ubicacion" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" name="calcularDuracion" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="calcularTiempoViaje" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="calcularHabilidadTrabajo" type="xsd:boolean" />
        <xsd:element minOccurs="0" name="determinarUbicacionPorZona" type="xsd:boolean" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="espacioTiempo" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="habilidadTrabajo" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="camposActividad" nillable="true" type="ns0:campoActividadType" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaRequestOpcional" nillable="true" type="ns0:parametrosRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarCapacidadSGARequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="request" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarCapacidadResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="ns0:AuditResponse" />
        <xsd:element minOccurs="0" name="duracionActividad" type="xsd:string" />
        <xsd:element minOccurs="0" name="tiempoViajeActividad" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="capacidad" nillable="true" type="ns0:capacidadType" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaResponseOpcional" nillable="true" type="ns0:parametrosResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>