Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService90.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteractionSubClasDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteractionSubClasDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InteractionSubClasDetailRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="item" nillable="true" type="q2:InteractionSubClasDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InteractionSubClasDetailRequestCommon" nillable="true" type="tns:InteractionSubClasDetailRequestCommon" />
  <xs:complexType name="InteractionSubClasDetailResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeError" type="xs:int" />
      <xs:element minOccurs="0" name="MsgError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesSucess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractionSubClasDetailResponseCommon" nillable="true" type="tns:InteractionSubClasDetailResponseCommon" />
</xs:schema>