Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetCenterPopulatPVU" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetCenterPopulatPVU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="CenterPopulatPvuRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodDepart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodDistr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodProv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CenterPopulatPvuRequestCommon" nillable="true" type="tns:CenterPopulatPvuRequestCommon" />
  <xs:complexType name="CenterPopulatPvuResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CenterPopulatPvuResponseCommon" nillable="true" type="tns:CenterPopulatPvuResponseCommon" />
</xs:schema>