Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultServiceBono" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultServiceBono" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd95" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GetConsultServiceBonoRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
          <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoRequest" nillable="true" type="tns:GetConsultServiceBonoRequest" />
  <xs:complexType name="GetConsultServiceBonoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:GetConsultServiceBonoMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoResponse" nillable="true" type="tns:GetConsultServiceBonoResponse" />
  <xs:complexType name="GetConsultServiceBonoMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetConsultServiceBonoBodyResponse" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q3:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoMessageResponse" nillable="true" type="tns:GetConsultServiceBonoMessageResponse" />
  <xs:complexType name="GetConsultServiceBonoBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bonoActual" nillable="true" type="tns:ArrayOfGetConsultServiceBonoListaBonoActual" />
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagAumentoVelocidad" type="xs:int" />
      <xs:element minOccurs="0" name="flagBonoActual" type="xs:int" />
      <xs:element minOccurs="0" name="flagFullClaro" type="xs:int" />
      <xs:element minOccurs="0" name="listaBonoDisponible" nillable="true" type="tns:ArrayOfGetConsultServiceBonoListaBonoDisponible" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicioInternet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoBodyResponse" nillable="true" type="tns:GetConsultServiceBonoBodyResponse" />
  <xs:complexType name="ArrayOfGetConsultServiceBonoListaBonoActual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetConsultServiceBonoListaBonoActual" nillable="true" type="tns:GetConsultServiceBonoListaBonoActual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetConsultServiceBonoListaBonoActual" nillable="true" type="tns:ArrayOfGetConsultServiceBonoListaBonoActual" />
  <xs:complexType name="GetConsultServiceBonoListaBonoActual">
    <xs:sequence>
      <xs:element minOccurs="0" name="descBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecActBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecVigenBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="periodoBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="snCodeBonoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="velocidadFinalActual" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoListaBonoActual" nillable="true" type="tns:GetConsultServiceBonoListaBonoActual" />
  <xs:complexType name="ArrayOfGetConsultServiceBonoListaBonoDisponible">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetConsultServiceBonoListaBonoDisponible" nillable="true" type="tns:GetConsultServiceBonoListaBonoDisponible" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetConsultServiceBonoListaBonoDisponible" nillable="true" type="tns:ArrayOfGetConsultServiceBonoListaBonoDisponible" />
  <xs:complexType name="GetConsultServiceBonoListaBonoDisponible">
    <xs:sequence>
      <xs:element minOccurs="0" name="descBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="periodosBonoDisp" nillable="true" type="tns:ArrayOfGetConsultServiceBonoPeriodosBonoDisp" />
      <xs:element minOccurs="0" name="snCodeBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDescBonoDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoIdBonoDisp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoListaBonoDisponible" nillable="true" type="tns:GetConsultServiceBonoListaBonoDisponible" />
  <xs:complexType name="ArrayOfGetConsultServiceBonoPeriodosBonoDisp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetConsultServiceBonoPeriodosBonoDisp" nillable="true" type="tns:GetConsultServiceBonoPeriodosBonoDisp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetConsultServiceBonoPeriodosBonoDisp" nillable="true" type="tns:ArrayOfGetConsultServiceBonoPeriodosBonoDisp" />
  <xs:complexType name="GetConsultServiceBonoPeriodosBonoDisp">
    <xs:sequence>
      <xs:element minOccurs="0" name="desPeriodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPeriodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPeriodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valorPeriodo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultServiceBonoPeriodosBonoDisp" nillable="true" type="tns:GetConsultServiceBonoPeriodosBonoDisp" />
</xs:schema>