Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService92.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterEta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterEta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterEtaRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vcod_plano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vcod_zona" type="xs:int" />
          <xs:element minOccurs="0" name="vfecha_venta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vidreturn" type="xs:int" />
          <xs:element minOccurs="0" name="vnumslc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vsubtipo_orden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vtiempo_trabajo" type="xs:int" />
          <xs:element minOccurs="0" name="vtipo_orden" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterEtaRequest" nillable="true" type="tns:RegisterEtaRequest" />
  <xs:complexType name="RegisterEtaResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Claro" base="q2:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdia" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vestado" type="xs:int" />
          <xs:element minOccurs="0" name="vfranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vid_bucket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vidconsulta" type="xs:int" />
          <xs:element minOccurs="0" name="vquota" type="xs:int" />
          <xs:element minOccurs="0" name="vresp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterEtaResponse" nillable="true" type="tns:RegisterEtaResponse" />
</xs:schema>