Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InteractionDet">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="application_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campaign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flg_residue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="object_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recharge_repayment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractionDet" nillable="true" type="tns:InteractionDet" />
</xs:schema>