Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultCampaign" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultCampaign" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd95" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:complexType name="GetConsultCampaignRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:GetConsultCampaignMessageRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignRequest" nillable="true" type="tns:GetConsultCampaignRequest" />
  <xs:complexType name="GetConsultCampaignMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetConsultCampaignBodyRequest" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q1:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignMessageRequest" nillable="true" type="tns:GetConsultCampaignMessageRequest" />
  <xs:complexType name="GetConsultCampaignBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarCampaniaRequest" nillable="true" type="tns:ConsultCampaignRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignBodyRequest" nillable="true" type="tns:GetConsultCampaignBodyRequest" />
  <xs:complexType name="ConsultCampaignRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditRequest" nillable="true" type="tns:GetConsultCampaignAuditRequest" />
      <xs:element minOccurs="0" name="consultaCampania" nillable="true" type="tns:GetConsultCampaign" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultCampaignRequest" nillable="true" type="tns:ConsultCampaignRequest" />
  <xs:complexType name="GetConsultCampaignAuditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ipAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioAplicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignAuditRequest" nillable="true" type="tns:GetConsultCampaignAuditRequest" />
  <xs:complexType name="GetConsultCampaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroCont" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroContDet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroPed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroPedDet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPrdCod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaign" nillable="true" type="tns:GetConsultCampaign" />
  <xs:complexType name="GetConsultCampaignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:GetConsultCampaignMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignResponse" nillable="true" type="tns:GetConsultCampaignResponse" />
  <xs:complexType name="GetConsultCampaignMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetConsultCampaignBodyResponse" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignMessageResponse" nillable="true" type="tns:GetConsultCampaignMessageResponse" />
  <xs:complexType name="GetConsultCampaignBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarCampaniaResponse" nillable="true" type="tns:ConsultCampaignResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignBodyResponse" nillable="true" type="tns:GetConsultCampaignBodyResponse" />
  <xs:complexType name="ConsultCampaignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditResponse" nillable="true" type="tns:GetConsultCampaignAuditResponse" />
      <xs:element minOccurs="0" name="consultarCursor" nillable="true" type="tns:GetConsultCampaignConsultCursor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultCampaignResponse" nillable="true" type="tns:ConsultCampaignResponse" />
  <xs:complexType name="GetConsultCampaignAuditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignAuditResponse" nillable="true" type="tns:GetConsultCampaignAuditResponse" />
  <xs:complexType name="GetConsultCampaignConsultCursor">
    <xs:sequence>
      <xs:element minOccurs="0" name="cursor" nillable="true" type="tns:ArrayOfGetConsultCampaignCursor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignConsultCursor" nillable="true" type="tns:GetConsultCampaignConsultCursor" />
  <xs:complexType name="ArrayOfGetConsultCampaignCursor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetConsultCampaignCursor" nillable="true" type="tns:GetConsultCampaignCursor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetConsultCampaignCursor" nillable="true" type="tns:ArrayOfGetConsultCampaignCursor" />
  <xs:complexType name="GetConsultCampaignCursor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campaniaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campaniaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModifica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroPed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroSec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="planDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoOpeCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoOpeDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPrdCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPrdDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModifica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConsultCampaignCursor" nillable="true" type="tns:GetConsultCampaignCursor" />
</xs:schema>