Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService114.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetPenaltyChangePlans" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetPenaltyChangePlans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="PenaltyChangePlanRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeNewPlan" type="xs:double" />
          <xs:element minOccurs="0" name="DatePenalty" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DayXMonth" type="xs:double" />
          <xs:element minOccurs="0" name="NroTelephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PenaltyChangePlanRequest" nillable="true" type="tns:PenaltyChangePlanRequest" />
  <xs:complexType name="PenaltyChangePlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementIdExit" type="xs:double" />
      <xs:element minOccurs="0" name="CargCurrentFixed" type="xs:double" />
      <xs:element minOccurs="0" name="CargFiexdDiar" type="xs:double" />
      <xs:element minOccurs="0" name="CargFixedNewPlan" type="xs:double" />
      <xs:element minOccurs="0" name="DayPendient" type="xs:double" />
      <xs:element minOccurs="0" name="NroFacture" type="xs:double" />
      <xs:element minOccurs="0" name="PenaltyApadece" type="xs:double" />
      <xs:element minOccurs="0" name="PenaltyPcs" type="xs:double" />
      <xs:element minOccurs="0" name="PrecList" type="xs:double" />
      <xs:element minOccurs="0" name="PrecVent" type="xs:double" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PenaltyChangePlanResponse" nillable="true" type="tns:PenaltyChangePlanResponse" />
</xs:schema>