Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInsertEquipmentForeign" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInsertEquipmentForeign" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertEquipmentForeignRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="adviser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codeadviser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerFullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerId" type="xs:long" />
          <xs:element minOccurs="0" name="customerLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerLegalAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerNumberDocument" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerNumberDocumentRRLL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="documentNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="documentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="documentTypeText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagFirmaDigital" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imeiFisico" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="item" nillable="true" type="q2:EquipmentForeignInsert" />
          <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="listLegalAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="markModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nameCac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nameTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numberclaro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referencePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="relationshipOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="replegal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strHuellaEncode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strHuellaMinucia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strStatusLinea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoPersona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="typeCac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userAccesslogin" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertEquipmentForeignRequest" nillable="true" type="tns:InsertEquipmentForeignRequest" />
  <xs:complexType name="InsertEquipmentForeignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcesSucess" type="xs:boolean" />
      <xs:element minOccurs="0" name="codeFailed" type="xs:int" />
      <xs:element minOccurs="0" name="codeResult" type="xs:int" />
      <xs:element minOccurs="0" name="msgResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namePDF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertEquipmentForeignResponse" nillable="true" type="tns:InsertEquipmentForeignResponse" />
</xs:schema>