Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService89.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultDepartment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultDepartment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="ConsultDepartmentRequestPrepaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodDepartment" type="xs:int" />
          <xs:element minOccurs="0" name="CodRegion" type="xs:int" />
          <xs:element minOccurs="0" name="CodState" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultDepartmentRequestPrepaid" nillable="true" type="tns:ConsultDepartmentRequestPrepaid" />
  <xs:complexType name="ConsultDepartmentResponsePrepaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListConsultDepartment" nillable="true" type="q2:ArrayOfConsultDepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDepartmentResponsePrepaid" nillable="true" type="tns:ConsultDepartmentResponsePrepaid" />
</xs:schema>