Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetReadDataUser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetReadDataUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="leerDatosUsuario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="aplicacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="leerDatosUsuario" nillable="true" type="tns:leerDatosUsuario" />
  <xs:complexType name="leerDatosUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessResponse" nillable="true" type="tns:AccesoResponse" />
      <xs:element minOccurs="0" name="auditResponse" nillable="true" type="tns:audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="leerDatosUsuarioResponse" nillable="true" type="tns:leerDatosUsuarioResponse" />
  <xs:complexType name="AccesoResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="auditoria" nillable="true" type="q2:auditoria" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccesoResponse" nillable="true" type="tns:AccesoResponse" />
  <xs:complexType name="audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="audit" nillable="true" type="tns:audit" />
</xs:schema>