Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ArrayOfGenericItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericItem" nillable="true" type="tns:GenericItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericItem" nillable="true" type="tns:ArrayOfGenericItem" />
  <xs:complexType name="GenericItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agrupador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_tipo_servicio" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor_C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericItem" nillable="true" type="tns:GenericItem" />
  <xs:complexType name="Interaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AGENTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="APELLIDO_AGENTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CASO_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CASO_PADRE_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLASE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLASE_CODIGO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COLA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTRATO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DUMMY_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_CASO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_INSERCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_INSERCION_CASO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_INTERACCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HECHO_EN_UNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_CASO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_INTERACCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INCONVENIENTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INCONVENIENTE_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INSERTADO_POR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MESSAGE_CASO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="METODO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMBRE_AGENTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOTAS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PLANO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRIORIDAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RESULTADO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICIO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SERVICIO_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEVERIDAD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUBCLASE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUBCLASE_CODIGO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPIFICACION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPO_CODIGO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPO_INTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPO_INTERACCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USUARIO_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USUARIO_PROCESO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALOR_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALOR_2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Interaction" nillable="true" type="tns:Interaction" />
</xs:schema>