Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultIGV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetConsultIGV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="ConsultIGVRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultIGVRequest" nillable="true" type="tns:ConsultIGVRequest" />
  <xs:complexType name="ConsultIGVResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListConsultIGV" nillable="true" type="q2:ArrayOfConsultIGV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultIGVResponse" nillable="true" type="tns:ConsultIGVResponse" />
</xs:schema>