Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterBonoSpeed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterBonoSpeed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd95" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:complexType name="GetRegisterBonoSpeedRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:GetRegisterBonoSpeedMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedRequest" nillable="true" type="tns:GetRegisterBonoSpeedRequest" />
  <xs:complexType name="GetRegisterBonoSpeedMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetRegisterBonoSpeedBodyRequest" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedMessageRequest" nillable="true" type="tns:GetRegisterBonoSpeedMessageRequest" />
  <xs:complexType name="GetRegisterBonoSpeedBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="bonoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedBodyRequest" nillable="true" type="tns:GetRegisterBonoSpeedBodyRequest" />
  <xs:complexType name="GetRegisterBonoSpeedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:GetRegisterBonoSpeedMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedResponse" nillable="true" type="tns:GetRegisterBonoSpeedResponse" />
  <xs:complexType name="GetRegisterBonoSpeedMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetRegisterBonoSpeedBodyResponse" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q3:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedMessageResponse" nillable="true" type="tns:GetRegisterBonoSpeedMessageResponse" />
  <xs:complexType name="GetRegisterBonoSpeedBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegisterBonoSpeedBodyResponse" nillable="true" type="tns:GetRegisterBonoSpeedBodyResponse" />
</xs:schema>