Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterServiceCommercial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetRegisterServiceCommercial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterServiceCommercialRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodServ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIdTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeActivation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterServiceCommercialRequest" nillable="true" type="tns:RegisterServiceCommercialRequest" />
  <xs:complexType name="RegisterServiceCommercialResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterServiceCommercialResponse" nillable="true" type="tns:RegisterServiceCommercialResponse" />
</xs:schema>