Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService107.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetUpdateNotes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetUpdateNotes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="UpdateNotesRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrObjId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrOrder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateNotesRequestCommon" nillable="true" type="tns:UpdateNotesRequestCommon" />
  <xs:complexType name="UpdateNotesResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateNotesResponseCommon" nillable="true" type="tns:UpdateNotesResponseCommon" />
</xs:schema>