Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteractionClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteractionClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="GetInteractionClientRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="intcontactobjid1" type="xs:int" />
          <xs:element minOccurs="0" name="intnrorecordshow" type="xs:int" />
          <xs:element minOccurs="0" name="intsiteobjid1" type="xs:int" />
          <xs:element minOccurs="0" name="straccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strtelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strtipification" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetInteractionClientRequestCommon" nillable="true" type="tns:GetInteractionClientRequestCommon" />
  <xs:complexType name="GetInteractionClientResponseCommon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flagcreation" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListInteractionClient" nillable="true" type="q2:ArrayOfIteraction" />
      <xs:element minOccurs="0" name="Msgtext" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetInteractionClientResponseCommon" nillable="true" type="tns:GetInteractionClientResponseCommon" />
</xs:schema>