Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetPagOptionXuserNV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetPagOptionXuserNV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="PagOptionXuserNVRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IntAplicationCode" type="xs:int" />
          <xs:element minOccurs="0" name="IntUser" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PagOptionXuserNVRequest" nillable="true" type="tns:PagOptionXuserNVRequest" />
  <xs:complexType name="PagOptionXuserNVResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeErr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListConsultSecurity" nillable="true" type="q2:ArrayOfConsultSecurity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagOptionXuserNVResponse" nillable="true" type="tns:PagOptionXuserNVResponse" />
</xs:schema>