Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService49.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetValidateCollaborator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetValidateCollaborator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd95" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:complexType name="GetValidateCollaboratorRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:GetValidateCollaboratorMessageRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorRequest" nillable="true" type="tns:GetValidateCollaboratorRequest" />
  <xs:complexType name="GetValidateCollaboratorMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetValidateCollaboratorBodyRequest" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q1:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorMessageRequest" nillable="true" type="tns:GetValidateCollaboratorMessageRequest" />
  <xs:complexType name="GetValidateCollaboratorBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="validarColaboradorRequest" nillable="true" type="tns:ValidateCollaboratorRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorBodyRequest" nillable="true" type="tns:GetValidateCollaboratorBodyRequest" />
  <xs:complexType name="ValidateCollaboratorRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditRequest" nillable="true" type="tns:GetValidateCollaboratorAuditRequest" />
      <xs:element minOccurs="0" name="casoEspecial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateCollaboratorRequest" nillable="true" type="tns:ValidateCollaboratorRequest" />
  <xs:complexType name="GetValidateCollaboratorAuditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ipAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioAplicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorAuditRequest" nillable="true" type="tns:GetValidateCollaboratorAuditRequest" />
  <xs:complexType name="GetValidateCollaboratorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:GetValidateCollaboratorMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorResponse" nillable="true" type="tns:GetValidateCollaboratorResponse" />
  <xs:complexType name="GetValidateCollaboratorMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:GetValidateCollaboratorBodyResponse" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorMessageResponse" nillable="true" type="tns:GetValidateCollaboratorMessageResponse" />
  <xs:complexType name="GetValidateCollaboratorBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="validarColaboradorResponse" nillable="true" type="tns:ValidateCollaboratorResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorBodyResponse" nillable="true" type="tns:GetValidateCollaboratorBodyResponse" />
  <xs:complexType name="ValidateCollaboratorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditResponse" nillable="true" type="tns:GetValidateCollaboratorAuditResponse" />
      <xs:element minOccurs="0" name="pCfMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pExiste" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateCollaboratorResponse" nillable="true" type="tns:ValidateCollaboratorResponse" />
  <xs:complexType name="GetValidateCollaboratorAuditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetValidateCollaboratorAuditResponse" nillable="true" type="tns:GetValidateCollaboratorAuditResponse" />
</xs:schema>