Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetContractByPhoneNumber" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetContractByPhoneNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="ContractByPhoneNumberRequestCommon">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="System" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContractByPhoneNumberRequestCommon" nillable="true" type="tns:ContractByPhoneNumberRequestCommon" />
  <xs:complexType name="ContractByPhoneNumberResponseCommon">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListContByPhone" nillable="true" type="q2:ArrayOfContractByPhoneNumber" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractByPhoneNumberResponseCommon" nillable="true" type="tns:ContractByPhoneNumberResponseCommon" />
</xs:schema>