Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService94.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetInteraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InteractionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="objTypification" nillable="true" type="q2:Typification" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InteractionRequest" nillable="true" type="tns:InteractionRequest" />
  <xs:complexType name="InteractionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Restul" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteractionResponse" nillable="true" type="tns:InteractionResponse" />
</xs:schema>