Claro.SIACU.Web.WebApplication.Transac.Service/Service References/CommonTransacService/CommonTransacService30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetSubmitNotificationEmail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetSubmitNotificationEmail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd95" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:import schemaLocation="http://localhost:40204/CommonTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="EmailSubmitRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CallBackURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaignCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaignDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaignName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpiryDateTime" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeadersRequest" />
          <xs:element minOccurs="0" name="MsgDetails" nillable="true" type="tns:MsgDetailsResquest" />
          <xs:element minOccurs="0" name="PromotionalCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ScheduledDateTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:SenderRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailSubmitRequest" nillable="true" type="tns:EmailSubmitRequest" />
  <xs:complexType name="MsgDetailsResquest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryReport" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fallback" nillable="true" type="tns:FallbackRequest" />
      <xs:element minOccurs="0" name="ReadReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Simple" nillable="true" type="tns:SimpleRequest" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Template" nillable="true" type="tns:TemplateRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MsgDetailsResquest" nillable="true" type="tns:MsgDetailsResquest" />
  <xs:complexType name="FallbackRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FallbackType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FallbackRequest" nillable="true" type="tns:FallbackRequest" />
  <xs:complexType name="SimpleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="tns:RecipientsRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleRequest" nillable="true" type="tns:SimpleRequest" />
  <xs:complexType name="RecipientsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipientsRequest" nillable="true" type="tns:RecipientsRequest" />
  <xs:complexType name="TemplateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFileURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFTPFileURL" nillable="true" type="tns:SFTPFileURLRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateRequest" nillable="true" type="tns:TemplateRequest" />
  <xs:complexType name="SFTPFileURLRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SFTPDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFTPPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFTPPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFTPUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SFTPFileURLRequest" nillable="true" type="tns:SFTPFileURLRequest" />
  <xs:complexType name="SenderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SenderRequest" nillable="true" type="tns:SenderRequest" />
  <xs:complexType name="EmailSubmitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaignID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientsCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:StatusResponse" />
      <xs:element minOccurs="0" name="jobCost" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailSubmitResponse" nillable="true" type="tns:EmailSubmitResponse" />
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>