Claro.SIACU.ProxyService.Transac.Service/Service References/SIAC.ServAdiDescuentoWS/GestionServAdiDescuentoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows" xmlns:types="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="GestionServAdiDescuentoWS" targetNamespace="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows" />
    <xsd:schema>
      <xsd:import schemaLocation="GestionServAdiDescuentoWS.xsd" namespace="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrarDescHFCRequestMsg">
    <wsdl:part name="request" element="types:registrarDescHFCRequest" />
  </wsdl:message>
  <wsdl:message name="registrarDescHFCResponseMsg">
    <wsdl:part name="response" element="types:registrarDescHFCResponse" />
  </wsdl:message>
  <wsdl:message name="registrarDescLTERequestMsg">
    <wsdl:part name="request" element="types:registrarDescLTERequest" />
  </wsdl:message>
  <wsdl:message name="registrarDescLTEResponseMsg">
    <wsdl:part name="response" element="types:registrarDescLTEResponse" />
  </wsdl:message>
  <wsdl:portType name="gestionServAdiDescuentoWSPortType">
    <wsdl:operation name="registrarDescHFC">
      <wsdl:input message="tns:registrarDescHFCRequestMsg" />
      <wsdl:output message="tns:registrarDescHFCResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="registrarDescLTE">
      <wsdl:input message="tns:registrarDescLTERequestMsg" />
      <wsdl:output message="tns:registrarDescLTEResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="gestionServAdiDescuentoWSPortTypeSOAP11Binding" type="tns:gestionServAdiDescuentoWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarDescHFC">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/registrarDescHFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDescLTE">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/registrarDescLTE" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="gestionServAdiDescuentoWSPortTypeSOAP12Binding" type="tns:gestionServAdiDescuentoWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarDescHFC">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/registrarDescHFC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDescLTE">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/gestionservadidescuentows/registrarDescLTE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionServAdiDescuentoWSService">
    <wsdl:port name="ebsGestionServAdiDescuentoSB11" binding="tns:gestionServAdiDescuentoWSPortTypeSOAP11Binding">
      <soap:address location="http://127.0.0.1:7001/GestionServAdiDescuentoWS/ebsGestionServAdiDescuentoSB11" />
    </wsdl:port>
    <wsdl:port name="ebsGestionServAdiDescuentoSB12" binding="tns:gestionServAdiDescuentoWSPortTypeSOAP12Binding">
      <soap12:address location="http://127.0.0.1:7001/GestionServAdiDescuentoWS/ebsGestionServAdiDescuentoSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>