Claro.SIACU.ProxyService.Transac.Service/Service References/SIACSecurity.Permissions.LDE/leerDatosEmpleado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns1="http://claro.com.pe/eai/ws/baseschema" xmlns:ns0="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" elementFormDefault="qualified" targetNamespace="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="auditoria.xsd" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:complexType name="ResponseOpcionalComplexType">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmpleadoType">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" />
      <xsd:element name="codigoSap" type="xsd:string" />
      <xsd:element name="login" type="xsd:string" />
      <xsd:element name="nombres" type="xsd:string" />
      <xsd:element name="paterno" type="xsd:string" />
      <xsd:element name="materno" type="xsd:string" />
      <xsd:element name="nombreCompleto" type="xsd:string" />
      <xsd:element name="correo" type="xsd:string" />
      <xsd:element name="codigoArea" type="xsd:string" />
      <xsd:element name="descripcionArea" type="xsd:string" />
      <xsd:element name="codigoCargo" type="xsd:string" />
      <xsd:element name="descripcionCargo" type="xsd:string" />
      <xsd:element name="codigoDireccion" type="xsd:string" />
      <xsd:element name="descripcionDireccion" type="xsd:string" />
      <xsd:element name="codigoJefe" type="xsd:string" />
      <xsd:element name="descripcionJefe" type="xsd:string" />
      <xsd:element name="telefono" type="xsd:string" />
      <xsd:element name="dni" type="xsd:string" />
      <xsd:element name="codModalidad" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="aplicacion" type="xsd:string" />
      <xsd:element name="usrAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ResponseOpcional" type="ns0:ResponseOpcionalComplexType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Empleados">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="item" type="ns0:EmpleadoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOpcional" type="ns0:RequestOpcionalComplexType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EmpleadoResponse">
    <xsd:sequence>
      <xsd:element name="empleados" type="ns0:Empleados" />
      <xsd:element name="codigoVendedor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestOpcionalComplexType">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosEmpleadoRequest">
    <xsd:sequence>
      <xsd:element name="login" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="leerDatosEmpleadoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="ns0:AuditResponse" />
        <xsd:element name="EmpleadoResponse" type="ns0:EmpleadoResponse" />
        <xsd:element name="listaOpcionalResponse" type="ns0:ListaResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="leerDatosEmpleado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="ns0:AuditRequest" />
        <xsd:element name="DatosEmpleadoRequest" type="ns0:DatosEmpleadoRequest" />
        <xsd:element name="listaOpcionalRequest" type="ns0:ListaRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>