Claro.SIACU.ProxyService.Transac.Service/Service References/SIACUEnviarNotificacion/enviarNotificacionEmail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://email.soap.ngage.comviva.com/" targetNamespace="http://email.soap.ngage.comviva.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmailSubmitRequest" type="tns:emailSubmitRequestType" />
  <xs:element name="EmailSubmitResponse" type="tns:emailSubmitResponseType" />
  <xs:element name="TransactionID">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="emailSubmitResponseType">
    <xs:sequence>
      <xs:element name="CampaignID" type="xs:string" />
      <xs:element name="jobCost" type="xs:double" />
      <xs:element name="RecipientsCount" type="xs:long" />
      <xs:element name="Status">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StatusCode" type="xs:string" />
            <xs:element name="StatusText" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="emailSubmitRequestType">
    <xs:sequence>
      <xs:element name="CampaignName" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignDesc" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignCategory" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionalCategory" type="xs:string" />
      <xs:element minOccurs="0" name="CallBackURL" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDateTime" type="xs:dateTime" />
      <xs:element name="Sender">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Username" type="xs:string" />
            <xs:element name="Password" type="xs:string" />
            <xs:element name="FromAddress" type="xs:string" />
            <xs:element name="DisplayName" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MsgDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Subject" type="xs:string" />
            <xs:element name="Simple">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Content" type="xs:string" />
                  <xs:element minOccurs="0" name="Attachments" type="xs:string" />
                  <xs:element name="Recipients">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="Contact" type="xs:string" />
                        <xs:element minOccurs="0" name="ContactGroup" type="xs:string" />
                        <xs:element minOccurs="0" name="Recipient" type="xs:string" />
                        <xs:element minOccurs="0" name="FileURL" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Template">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string" />
                  <xs:element name="DataFileURL" type="xs:string" />
                  <xs:element name="SFTPFileURL">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="SFTPDomain" type="xs:string" />
                        <xs:element minOccurs="0" name="SFTPUsername" type="xs:string" />
                        <xs:element minOccurs="0" name="SFTPPassword" type="xs:string" />
                        <xs:element minOccurs="0" name="SFTPPath" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Fallback">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FallbackType" type="xs:int" />
                  <xs:element name="SenderAddress" type="xs:string" />
                  <xs:element name="Text" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ReadReply" type="xs:boolean" />
            <xs:element minOccurs="0" name="DeliveryReport" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>