Claro.SIACU.ProxyService.Transac.Service/Service References/CambioPlanFija/ebsCambioPlanFijaPort113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:aud="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="claroFault" type="aud:ClaroFault" />
  <xsd:complexType name="ClaroFault">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idAuditoria" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descripcionError" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ubicacionError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fecha" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorOrigen" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>