Claro.SIACU.ProxyService.Transac.Service/Service References/CambioPlanFija/ebsCambioPlanFijaPort112.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:aud="http://claro.com.pe/esb/data/generico/responseStatus/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="ResponseStatus">
    <sequence>
      <element name="estado" type="int" />
      <element name="codigoRespuesta" type="string" />
      <element name="descripcionRespuesta" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ubicacionError" nillable="true" type="string" />
      <element name="fecha" type="dateTime" />
      <element minOccurs="0" maxOccurs="1" name="origen" nillable="true" type="string" />
    </sequence>
  </complexType>
</schema>