Claro.SIACU.ProxyService.Transac.Service/Web References/WSValidaIdentidad/EXP_ValidaIdentidad0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" xmlns:base="http://claro.com.pe/esb/data/generico/baseschema/v1/" xmlns:tns="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FBaseSchema" namespace="http://claro.com.pe/esb/data/generico/baseschema/v1/" />
  <xsd:complexType name="DatosAuditReniecRequest">
    <xsd:sequence>
      <xsd:element name="autenticacionMensaje" type="xsd:string" />
      <xsd:element name="codigoIdentificacionDispositivo" type="xsd:string" />
      <xsd:element name="latitudLocalizacion" type="xsd:string" />
      <xsd:element name="longitudLocalizacion" type="xsd:string" />
      <xsd:element name="marcaDispositivo" type="xsd:string" />
      <xsd:element name="modeloDispositivo" type="xsd:string" />
      <xsd:element name="numeroIdentificadorCliente" type="xsd:string" />
      <xsd:element name="numeroOrden" type="xsd:string" />
      <xsd:element name="numeroTransaccion" type="xsd:string" />
      <xsd:element name="tipoDispositivo" type="xsd:string" />
      <xsd:element name="tipoEstacion" type="xsd:string" />
      <xsd:element name="tipoIdentificacionDispositivo" type="xsd:string" />
      <xsd:element name="tipoIdentificadorCliente" type="xsd:string" />
      <xsd:element name="versionAplicativo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosBiometriaRequest">
    <xsd:sequence>
      <xsd:element name="tipoIdentificacionInstitucion" type="xsd:string" />
      <xsd:element name="numeroIdentificadorInstitucion" type="xsd:string" />
      <xsd:element name="tipoDocumento" type="xsd:string" />
      <xsd:element name="numeroDocumento" type="xsd:string" />
      <xsd:element name="tipoVerificacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="huellasBiometrica" type="tns:HuellasBiometrica" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HuellasBiometrica">
    <xsd:sequence>
      <xsd:element name="idHuella" type="xsd:string" />
      <xsd:element name="calidadImagen" type="xsd:string" />
      <xsd:element name="huellaImagen" type="xsd:string" />
      <xsd:element name="huellaTemplate" type="xsd:string" />
      <xsd:element name="formatoBiometrico" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosAuditReniecResponse">
    <xsd:sequence>
      <xsd:element name="autenticacionMensaje" type="xsd:string" />
      <xsd:element name="codigoAutorizador" type="xsd:string" />
      <xsd:element name="codigoIdentificacionDispositivo" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="fechaProceso" type="xsd:string" />
      <xsd:element name="horaProceso" type="xsd:string" />
      <xsd:element name="latitudLocalizacion" type="xsd:string" />
      <xsd:element name="longitudLocalizacion" type="xsd:string" />
      <xsd:element name="marcaDispositivo" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
      <xsd:element name="modeloDispositivo" type="xsd:string" />
      <xsd:element name="numeroIdentificadorCliente" type="xsd:string" />
      <xsd:element name="numeroProceso" type="xsd:string" />
      <xsd:element name="numeroTransaccion" type="xsd:string" />
      <xsd:element name="origenRespuesta" type="xsd:string" />
      <xsd:element name="tipoIdentificacionDispositivo" type="xsd:string" />
      <xsd:element name="tipoIdentificadorCliente" type="xsd:string" />
      <xsd:element name="tipoRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatosBiometriaResponse">
    <xsd:sequence>
      <xsd:element name="apellidoMaterno" type="xsd:string" />
      <xsd:element name="apellidoPaterno" type="xsd:string" />
      <xsd:element name="codigoGrupoRestriccion" type="xsd:string" />
      <xsd:element name="codigoRestriccion" type="xsd:string" />
      <xsd:element name="descripcionGrupoRestriccion" type="xsd:string" />
      <xsd:element name="descripcionRestriccion" type="xsd:string" />
      <xsd:element name="fechaCaducidad" type="xsd:string" />
      <xsd:element name="fechaEmision" type="xsd:string" />
      <xsd:element name="fechaNacimiento" type="xsd:string" />
      <xsd:element name="firma" type="xsd:string" />
      <xsd:element name="foto" type="xsd:string" />
      <xsd:element name="idSesion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="listaConfiabilidadHuella" type="tns:ConfiabilidadHuella" />
      <xsd:element name="nombres" type="xsd:string" />
      <xsd:element name="numeroDocumento" type="xsd:string" />
      <xsd:element name="sexo" type="xsd:string" />
      <xsd:element name="tipoDocumento" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiabilidadHuella">
    <xsd:sequence>
      <xsd:element name="idHuella" type="xsd:string" />
      <xsd:element name="porcentajeConfiabilidad" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataValidarIdentidad">
    <xsd:sequence>
      <xsd:element name="datosAuditReniecResponse" type="tns:DatosAuditReniecResponse" />
      <xsd:element name="datosBiometriaResponse" type="tns:DatosBiometriaResponse" />
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="validarIdentidadRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="datosAuditReniecRequest" type="tns:DatosAuditReniecRequest" />
        <xsd:element name="codigoPDV" type="xsd:string" />
        <xsd:element name="sistema" type="xsd:string" />
        <xsd:element name="oficina" type="xsd:string" />
        <xsd:element name="tipoError" type="xsd:string" />
        <xsd:element name="flagBiometria" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="codOperacion" type="xsd:string" />
        <xsd:element name="tipoOperacion" type="xsd:string" />
        <xsd:element name="codCanal" type="xsd:string" />
        <xsd:element name="linea" type="xsd:string" />
        <xsd:element name="tipoOrigen" type="xsd:string" />
        <xsd:element name="datosBiometriaRequest" type="tns:DatosBiometriaRequest" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:RequestOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validarIdentidadResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseStatus" type="base:responseStatus" />
        <xsd:element name="responseData" type="tns:ResponseDataValidarIdentidad" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>