Claro.SIACU.ProxyService.Transac.Service/Web References/WSValidaIdentidad/PRS_ValidaIdentidad_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types2" xmlns:WL5G3N5="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N6="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/" xmlns:WL5G3N7="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" xmlns:WL5G3N4="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types3" name="PRS_ValidaIdentidad_v1" targetNamespace="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:types2="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types2" xmlns:tns="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:types3="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types3" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cf="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types1="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" xmlns:WL5G3N8="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:he="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FvalidarIdentidad_v1" namespace="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types1" />
      <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FobtenerConfiguracion_v1" namespace="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types2" />
      <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FconsultaMejorHuella_v1" namespace="http://claro.com.pe/esb/data/ventas/prsvalidadidentidad/types3" />
      <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
      <xsd:import schemaLocation="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad?SCHEMA%2FPRS_ValidaIdentidad%2FSRV_PRS_ValidaIdentidad%2FResources%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerRequest" element="WL5G3N1:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResponse" element="WL5G3N1:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="validarIdentidadRequestMessage">
    <WL5G3N0:part name="validarIdentidadRequest" element="WL5G3N2:validarIdentidadRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="validarIdentidadResponseMessage">
    <WL5G3N0:part name="validarIdentidadResponse" element="WL5G3N2:validarIdentidadResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerConfiguracionRequestMessage">
    <WL5G3N0:part name="obtenerConfiguracionRequest" element="WL5G3N3:obtenerConfiguracionRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerConfiguracionResponseMessage">
    <WL5G3N0:part name="obtenerConfiguracionResponse" element="WL5G3N3:obtenerConfiguracionResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarMejorHuellaRequestMessage">
    <WL5G3N0:part name="consultarMejorHuellaRequest" element="WL5G3N4:consultarMejorHuellaRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarMejorHuellaResponseMessage">
    <WL5G3N0:part name="consultarMejorHuellaResponse" element="WL5G3N4:consultarMejorHuellaResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N5:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="PRS_ValidaIdentidadPort">
    <WL5G3N0:operation name="validarIdentidad">
      <WL5G3N0:input message="WL5G3N6:validarIdentidadRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:validarIdentidadResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N6:claroFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerConfiguracion">
      <WL5G3N0:input message="WL5G3N6:obtenerConfiguracionRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:obtenerConfiguracionResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N6:claroFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarMejorHuella">
      <WL5G3N0:input message="WL5G3N6:consultarMejorHuellaRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:consultarMejorHuellaResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N6:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PRS_ValidaIdentidadSOAP11Binding" type="WL5G3N6:PRS_ValidaIdentidadPort">
    <WL5G3N7:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="validarIdentidad">
      <WL5G3N7:operation soapAction="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/validarIdentidad" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" parts="validarIdentidadRequest" />
        <WL5G3N7:header message="WL5G3N6:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" parts="validarIdentidadResponse" />
        <WL5G3N7:header message="WL5G3N6:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N7:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerConfiguracion">
      <WL5G3N7:operation soapAction="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/obtenerConfiguracion" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" parts="obtenerConfiguracionRequest" />
        <WL5G3N7:header message="WL5G3N6:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" parts="obtenerConfiguracionResponse" />
        <WL5G3N7:header message="WL5G3N6:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N7:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarMejorHuella">
      <WL5G3N7:operation soapAction="http://claro.com.pe/esb/ventas/prsvalidadidentidad/v1/consultarMejorHuella" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" parts="consultarMejorHuellaRequest" />
        <WL5G3N7:header message="WL5G3N6:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" parts="consultarMejorHuellaResponse" />
        <WL5G3N7:header message="WL5G3N6:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N7:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PRS_ValidaIdentidad_WS">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="PRS_ValidaIdentidadSB11" binding="WL5G3N6:PRS_ValidaIdentidadSOAP11Binding">
      <WL5G3N7:address location="http://172.17.26.53:21000/PRS_ValidaIdentidad/SRV_PRS_ValidaIdentidad/Service/Exposition/EXP_ValidaIdentidad" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>