Claro.SIACU.ProxyService.Transac.Service/Service References/ConfigurationServices/ClaroFault_v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/bpel/data/generico/claroFault/v1/" xmlns:tns="http://claro.com.pe/bpel/data/generico/claroFault/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/bpel/data/generico/claroFault/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="claroFault" type="tns:ClaroFault" />
  <xsd:complexType name="ClaroFault">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idAuditoria" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descripcionError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ubicacionError" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fecha" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="errorOrigen" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>