Claro.SIACU.ProxyService.Transac.Service/Service References/ConfigurationServices/ConfiguracionIP_v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:rst="http://claro.com.pe/bpel/data/generico/responseStatus/v1/" xmlns:tns="http://claro.com.pe/BPEL_ConfiguracionIP/ConfiguracionIP/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/BPEL_ConfiguracionIP/ConfiguracionIP/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://10.172.139.64:7003/soa-infra/services/default/ConfiguracionIPSOA/ConfiguracionIPSOAP?XSD=../Schemas/ResponseStatus_v1.xsd" namespace="http://claro.com.pe/bpel/data/generico/responseStatus/v1/" />
  <xsd:complexType name="Interact">
    <xsd:sequence>
      <xsd:element name="contactobjid" type="xsd:string" />
      <xsd:element name="siteobjid" type="xsd:string" />
      <xsd:element name="account" type="xsd:string" />
      <xsd:element name="phone" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
      <xsd:element name="clase" type="xsd:string" />
      <xsd:element name="subclase" type="xsd:string" />
      <xsd:element name="metodoContacto" type="xsd:string" />
      <xsd:element name="tipoInter" type="xsd:string" />
      <xsd:element name="agente" type="xsd:string" />
      <xsd:element name="usrProceso" type="xsd:string" />
      <xsd:element name="hechoEnUno" type="xsd:string" />
      <xsd:element name="notas" type="xsd:string" />
      <xsd:element name="flagCaso" type="xsd:string" />
      <xsd:element name="resultado" type="xsd:string" />
      <xsd:element name="servafect" type="xsd:string" />
      <xsd:element name="inconven" type="xsd:string" />
      <xsd:element name="servafectCode" type="xsd:string" />
      <xsd:element name="inconvenCode" type="xsd:string" />
      <xsd:element name="coId" type="xsd:string" />
      <xsd:element name="codPlano" type="xsd:string" />
      <xsd:element name="valor1" type="xsd:string" />
      <xsd:element name="valor2" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InteractPlus">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="inter1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter5" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter6" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter7" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter8" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter9" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter10" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter11" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter12" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter13" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter14" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter15" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter16" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter17" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter18" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter19" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter20" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter21" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter22" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter23" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter24" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter25" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter26" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter27" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter28" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter29" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="inter30" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="plusInter2Interact" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="adjustmentAmount" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="adjustmentReason" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="amountUnit" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="birthday" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="clarifyInteraction" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLdn1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLdn2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLdn3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLdn4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal5" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroLocal6" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="contactPhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dniLegalRep" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="documentNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fixedNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagChangeUser" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagLegalRep" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagOther" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagTitular" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="imei" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lastNameRep" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ldiNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nameLegalRep" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLdn1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLdn2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLdn3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLdn4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal5" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldClaroLocal6" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldDocNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldFirstName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldFixedPhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldLastName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldLdiNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="oldFixedNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="operationType" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="otherDocNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="otherFirstName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="otherLastName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="otherPhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="phoneLegalRep" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="referencePhone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="reason" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="model" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="lotCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagRegistered" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="registrationReason" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="claroNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="month" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ostNumber" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="basket" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="expireDate" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="address5" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="chargeAmount" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="contactSex" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="department" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="district" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="emailConfirmation" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fax" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="flagCharge" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="maritalStatus" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="occupation" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="position" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="referenceAddress" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="typeDocument" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="zipCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="iccid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerClfy">
    <xsd:sequence>
      <xsd:element name="account" type="xsd:string" />
      <xsd:element name="contactObjId" type="xsd:string" />
      <xsd:element name="flagReg" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactUser">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nombres" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="apellidos" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="razonSocial" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="tipoDoc" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="numDoc" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="domicilio" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="distrito" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="departamento" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="provincia" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="modalidad" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParamSOTHFC">
    <xsd:sequence>
      <xsd:element name="tipoTrans" type="xsd:string" />
      <xsd:element name="codSolot" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
      <xsd:element name="codinssrv" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registroAuditoria">
    <xsd:sequence>
      <xsd:element name="transaccion" type="xsd:string" />
      <xsd:element name="servicio" type="xsd:string" />
      <xsd:element name="ipCliente" type="xsd:string" />
      <xsd:element name="nombreCliente" type="xsd:string" />
      <xsd:element name="ipServidor" type="xsd:string" />
      <xsd:element name="nombreServidor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataConfiguracionIP">
    <xsd:sequence>
      <xsd:element name="idInteraccion" type="xsd:string" />
      <xsd:element name="numeroSOT" type="xsd:string" />
      <xsd:element name="rutaConsntacia" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="configuracionIPRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="msisdn" type="xsd:string" />
        <xsd:element name="flagContingencia" type="xsd:string" />
        <xsd:element name="tipoTransaccion" type="xsd:string" />
        <xsd:element name="correoDestinatario" type="xsd:string" />
        <xsd:element name="formatoConstancia" type="xsd:string" />
        <xsd:element name="ipCliente" type="xsd:string" />
        <xsd:element name="customerClfy" type="tns:CustomerClfy" />
        <xsd:element name="contactUser" type="tns:ContactUser" />
        <xsd:element name="interact" type="tns:Interact" />
        <xsd:element name="interactPlus" type="tns:InteractPlus" />
        <xsd:element name="paramSOTHFC" type="tns:ParamSOTHFC" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="configuracionIPResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseStatus" type="rst:ResponseStatus" />
        <xsd:element name="responseData" type="tns:ResponseDataConfiguracionIP" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>