Claro.SIACU.ProxyService.Transac.Service/Service References/ConfigurationServices/ConfiguracionIP2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://claro.com.pe/bpel/postventa/ConfiguracionIP/v1/" xmlns:he="http://claro.com.pe/bpel/data/generico/claroGenericHeader/v1/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:types="http://claro.com.pe/BPEL_ConfiguracionIP/ConfiguracionIP/types" xmlns:ef="http://claro.com.pe/bpel/data/generico/claroFault/v1/" name="ConfiguracionIP" targetNamespace="http://claro.com.pe/bpel/postventa/ConfiguracionIP/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.172.139.64:7003/soa-infra/services/default/ConfiguracionIPSOA/ConfiguracionIPSOAP?XSD=../Schemas/ConfiguracionIP_v1.xsd" namespace="http://claro.com.pe/BPEL_ConfiguracionIP/ConfiguracionIP/types" />
      <xsd:import schemaLocation="http://10.172.139.64:7003/soa-infra/services/default/ConfiguracionIPSOA/ConfiguracionIPSOAP?XSD=../Schemas/ClaroFault_v1.xsd" namespace="http://claro.com.pe/bpel/data/generico/claroFault/v1/" />
      <xsd:import schemaLocation="http://10.172.139.64:7003/soa-infra/services/default/ConfiguracionIPSOA/ConfiguracionIPSOAP?XSD=../Schemas/ClaroGenericHeaders_v1.xsd" namespace="http://claro.com.pe/bpel/data/generico/claroGenericHeader/v1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConfiguracionIPRequestMessage">
    <wsdl:part name="request" element="types:configuracionIPRequest" />
  </wsdl:message>
  <wsdl:message name="ConfiguracionIPResponseMessage">
    <wsdl:part name="response" element="types:configuracionIPResponse" />
  </wsdl:message>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="ef:claroFault" />
  </wsdl:message>
  <wsdl:message name="headerRequest">
    <wsdl:part name="headerRequest" element="he:headerRequest" />
  </wsdl:message>
  <wsdl:message name="headerResponse">
    <wsdl:part name="headerResponse" element="he:headerResponse" />
  </wsdl:message>
  <wsdl:portType name="BPEL_ConfiguracionIPPort">
    <wsdl:operation name="ejecutarConfiguracion">
      <wsdl:input message="tns:ConfiguracionIPRequestMessage" />
      <wsdl:output message="tns:ConfiguracionIPResponseMessage" />
      <wsdl:fault name="claroFault" message="tns:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPEL_ConfiguracionIPPortSOAP11Binding" type="tns:BPEL_ConfiguracionIPPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ejecutarConfiguracion">
      <soap:operation soapAction="http://claro.com.pe/bpel/postventa/ConfiguracionIP/v1/ejecutarConfiguracion" style="document" />
      <wsdl:input>
        <soap:header message="tns:headerRequest" part="headerRequest" use="literal" />
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:headerResponse" part="headerResponse" use="literal" />
        <soap:body use="literal" parts="response" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BPEL_ConfiguracionIPPortSOAP12Binding" type="tns:BPEL_ConfiguracionIPPort">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" />
    <wsdl:operation name="ejecutarConfiguracion">
      <soap12:operation soapAction="http://claro.com.pe/bpel/postventa/ConfiguracionIP/v1/ejecutarConfiguracion" style="document" />
      <wsdl:input>
        <soap:header message="tns:headerRequest" part="headerRequest" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:headerResponse" part="headerResponse" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap12:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPEL_ConfiguracionIP_v1">
    <wsdl:port name="BPEL_ConfiguracionIPSB11" binding="tns:BPEL_ConfiguracionIPPortSOAP11Binding">
      <soap:address location="http://127.0.0.1:7001/BPEL_ConfiguracionIP/BPEL_ConfiguracionIPSB11" />
    </wsdl:port>
    <wsdl:port name="BPEL_ConfiguracionIPSB12" binding="tns:BPEL_ConfiguracionIPPortSOAP12Binding">
      <soap12:address location="http://127.0.0.1:7001/BPEL_DetalleLlamadas/BPEL_ConfiguracionIPSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>