Claro.SIACU.ProxyService.Transac.Service/Service References/Fixed.UninstallInstallDecosLTE/InstalacionDesinstalacionDecosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:enevcrv1="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:enevcr="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="InstalacionDesinstalacionDecosWS" targetNamespace="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.17.26.44:20000/InstalacionDesinstalacionDecosWS/ebsInstalacionDesinstalacionDecosSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRequest">
    <wsdl:part name="headerRequest" element="enevcrv1:headerRequest" />
  </wsdl:message>
  <wsdl:message name="headerResponse">
    <wsdl:part name="headerResponse" element="enevcrv1:headerResponse" />
  </wsdl:message>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="enevcrv1:claroFault" />
  </wsdl:message>
  <wsdl:message name="instalarDesinstalarDecoAdicionalRequestMessage">
    <wsdl:part name="instalarDesinstalarDecoAdicionalRequestMessage" element="enevcrv1:instalarDesinstalarDecoAdicionalRequestMessage" />
  </wsdl:message>
  <wsdl:message name="instalarDesinstalarDecoAdicionalResponseMessage">
    <wsdl:part name="instalarDesinstalarDecoAdicionalResponseMessage" element="enevcrv1:instalarDesinstalarDecoAdicionalResponseMessage" />
  </wsdl:message>
  <wsdl:message name="registarInstaDecoAdiHFCRequestMessage">
    <wsdl:part name="registarInstaDecoAdiHFCRequestMessage" element="enevcrv1:registarInstaDecoAdiHFCRequestMessage" />
  </wsdl:message>
  <wsdl:message name="registarInstaDecoAdiHFCResponseMessage">
    <wsdl:part name="registarInstaDecoAdiHFCResponseMessage" element="enevcrv1:registarInstaDecoAdiHFCResponseMessage" />
  </wsdl:message>
  <wsdl:portType name="InstalacionDesinstalacionDecosWSPortType">
    <wsdl:operation name="instalarDesinstalarDecoAdicional">
      <wsdl:input message="enevcr:instalarDesinstalarDecoAdicionalRequestMessage" />
      <wsdl:output message="enevcr:instalarDesinstalarDecoAdicionalResponseMessage" />
      <wsdl:fault name="claroFault" message="enevcr:claroFault" />
    </wsdl:operation>
    <wsdl:operation name="registarInstaDecoAdiHFC">
      <wsdl:input message="enevcr:registarInstaDecoAdiHFCRequestMessage" />
      <wsdl:output message="enevcr:registarInstaDecoAdiHFCResponseMessage" />
      <wsdl:fault name="claroFault" message="enevcr:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InstalacionDesinstalacionDecosWSSOAP11Binding" type="enevcr:InstalacionDesinstalacionDecosWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="instalarDesinstalarDecoAdicional">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/instalarDesinstalarDecoAdicional" style="document" />
      <wsdl:input>
        <soap:header message="enevcr:headerRequest" part="headerRequest" use="literal" />
        <soap:body use="literal" parts="instalarDesinstalarDecoAdicionalRequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="enevcr:headerResponse" part="headerResponse" use="literal" />
        <soap:body use="literal" parts="instalarDesinstalarDecoAdicionalResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registarInstaDecoAdiHFC">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/registarInstaDecoAdiHFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="registarInstaDecoAdiHFCRequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="registarInstaDecoAdiHFCResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InstalacionDesinstalacionDecosWSSOAP12Binding" type="enevcr:InstalacionDesinstalacionDecosWSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="instalarDesinstalarDecoAdicional">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/instalarDesinstalarDecoAdicional" style="document" />
      <wsdl:input>
        <soap12:header message="enevcr:headerRequest" part="headerRequest" use="literal" />
        <soap12:body use="literal" parts="instalarDesinstalarDecoAdicionalRequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="enevcr:headerResponse" part="headerResponse" use="literal" />
        <soap12:body use="literal" parts="instalarDesinstalarDecoAdicionalResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap12:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registarInstaDecoAdiHFC">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/instalacionDesinstalacionDecosws/registarInstaDecoAdiHFC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="registarInstaDecoAdiHFCRequestMessage" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="registarInstaDecoAdiHFCResponseMessage" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap12:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstalacionDesinstalacionDecosWSService">
    <wsdl:port name="ebsInstalacionDesinstalacionDecosSB11" binding="enevcr:InstalacionDesinstalacionDecosWSSOAP11Binding">
      <soap:address location="http://172.17.26.44:20000/InstalacionDesinstalacionDecosWS/ebsInstalacionDesinstalacionDecosSB11" />
    </wsdl:port>
    <wsdl:port name="ebsInstalacionDesinstalacionDecosSB12" binding="enevcr:InstalacionDesinstalacionDecosWSSOAP12Binding">
      <soap12:address location="http://172.17.26.44:20000/InstalacionDesinstalacionDecosWS/ebsInstalacionDesinstalacionDecosSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>