Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" />
  <xs:complexType name="IncomingCallDetailRequestPrepaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrStartDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IncomingCallDetailRequestPrepaid" nillable="true" type="tns:IncomingCallDetailRequestPrepaid" />
  <xs:complexType name="IncomingCallDetailResponsePrepaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" minOccurs="0" name="ListIncomingCallDetail" nillable="true" type="q2:ArrayOfIncomingCallDetail" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncomingCallDetailResponsePrepaid" nillable="true" type="tns:IncomingCallDetailResponsePrepaid" />
</xs:schema>