Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService114.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" />
  <xs:complexType name="CallRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsTFI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPerfil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPerfilBuscar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPerfilExportar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoConsulta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strfechaFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strfechaInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strflag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallRequest" nillable="true" type="tns:CallRequest" />
  <xs:complexType name="CallResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhonFnlNroGener" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhonfNroGener" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaction" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" minOccurs="0" name="lstCall" nillable="true" type="q2:ArrayOfCall" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" minOccurs="0" name="objCall" nillable="true" type="q3:Call" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallResponse" nillable="true" type="tns:CallResponse" />
</xs:schema>