Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetRecharge" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetLineData" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetDataBag" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" />
  <xs:element name="GetRecharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetRecharge" minOccurs="0" name="objRechargeRequest" nillable="true" type="q1:RechargeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetRecharge" minOccurs="0" name="GetRechargeResult" nillable="true" type="q2:RechargeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetLineData" minOccurs="0" name="request" nillable="true" type="q3:LineDataRequestPrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetLineData" minOccurs="0" name="GetLineDataResult" nillable="true" type="q4:LineDataResponsePrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetDataBag" minOccurs="0" name="request" nillable="true" type="q5:DataBagRequestPrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataBagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetDataBag" minOccurs="0" name="GetDataBagResult" nillable="true" type="q6:DataBagResponsePrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomingCallDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" minOccurs="0" name="objRequest" nillable="true" type="q7:IncomingCallDetailRequestPrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomingCallDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" minOccurs="0" name="GetIncomingCallDetailResult" nillable="true" type="q8:IncomingCallDetailResponsePrepaid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipifCallOutPrep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" minOccurs="0" name="objRequest" nillable="true" type="q9:TipifCallOutPrepRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipifCallOutPrepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" minOccurs="0" name="GetTipifCallOutPrepResult" nillable="true" type="q10:TipifCallOutPrepResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallOutDetailsLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" minOccurs="0" name="objRequest" nillable="true" type="q11:CallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallOutDetailsLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" minOccurs="0" name="GetCallOutDetailsLoadResult" nillable="true" type="q12:CallResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultPointOfSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" minOccurs="0" name="objPointOfSaleRequest" nillable="true" type="q13:ConsultPointOfSaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultPointOfSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" minOccurs="0" name="GetConsultPointOfSaleResult" nillable="true" type="q14:ConsultPointOfSaleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanesTFI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" minOccurs="0" name="objRequest" nillable="true" type="q15:PlanesTFIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanesTFIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" minOccurs="0" name="GetPlanesTFIResult" nillable="true" type="q16:responseDataObtenerTabConsultaPlanTFIPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCambioPlanTFI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" minOccurs="0" name="objCambioPlanTFIRequest" nillable="true" type="q17:CambioPlanTFIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCambioPlanTFIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" minOccurs="0" name="GetCambioPlanTFIResult" nillable="true" type="q18:CambioPlanTFIResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>