Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService118.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="CambioPlanTFIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="offer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="subscriberStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CambioPlanTFIRequest" nillable="true" type="tns:CambioPlanTFIRequest" />
  <xs:complexType name="CambioPlanTFIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offerAntiguo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offerNuevo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CambioPlanTFIResponse" nillable="true" type="tns:CambioPlanTFIResponse" />
</xs:schema>