Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PreTransacService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetRecharge" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd4" namespace="AuditService" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetLineData" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetDataBag" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetIncomingCallDetail" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCall" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
      <xsd:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetCambioPlanTFI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreTransacService_GetRecharge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecharge" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetRecharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetLineData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLineData" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetLineData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLineDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetDataBag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBag" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetDataBag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBagResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetIncomingCallDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncomingCallDetail" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetIncomingCallDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncomingCallDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetTipifCallOutPrep_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipifCallOutPrep" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetTipifCallOutPrep_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipifCallOutPrepResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetCallOutDetailsLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallOutDetailsLoad" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetCallOutDetailsLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallOutDetailsLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetConsultPointOfSale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultPointOfSale" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetConsultPointOfSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultPointOfSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetPlanesTFI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanesTFI" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetPlanesTFI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanesTFIResponse" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetCambioPlanTFI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCambioPlanTFI" />
  </wsdl:message>
  <wsdl:message name="IPreTransacService_GetCambioPlanTFI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCambioPlanTFIResponse" />
  </wsdl:message>
  <wsdl:portType name="IPreTransacService">
    <wsdl:operation name="GetRecharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetRecharge" message="tns:IPreTransacService_GetRecharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetRechargeResponse" message="tns:IPreTransacService_GetRecharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLineData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetLineData" message="tns:IPreTransacService_GetLineData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetLineDataResponse" message="tns:IPreTransacService_GetLineData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataBag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetDataBag" message="tns:IPreTransacService_GetDataBag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetDataBagResponse" message="tns:IPreTransacService_GetDataBag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingCallDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetIncomingCallDetail" message="tns:IPreTransacService_GetIncomingCallDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetIncomingCallDetailResponse" message="tns:IPreTransacService_GetIncomingCallDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipifCallOutPrep">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetTipifCallOutPrep" message="tns:IPreTransacService_GetTipifCallOutPrep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetTipifCallOutPrepResponse" message="tns:IPreTransacService_GetTipifCallOutPrep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallOutDetailsLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetCallOutDetailsLoad" message="tns:IPreTransacService_GetCallOutDetailsLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetCallOutDetailsLoadResponse" message="tns:IPreTransacService_GetCallOutDetailsLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultPointOfSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetConsultPointOfSale" message="tns:IPreTransacService_GetConsultPointOfSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetConsultPointOfSaleResponse" message="tns:IPreTransacService_GetConsultPointOfSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanesTFI">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetPlanesTFI" message="tns:IPreTransacService_GetPlanesTFI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetPlanesTFIResponse" message="tns:IPreTransacService_GetPlanesTFI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCambioPlanTFI">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreTransacService/GetCambioPlanTFI" message="tns:IPreTransacService_GetCambioPlanTFI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPreTransacService/GetCambioPlanTFIResponse" message="tns:IPreTransacService_GetCambioPlanTFI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPreTransacService" type="tns:IPreTransacService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecharge">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLineData">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetLineData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataBag">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetDataBag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingCallDetail">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetIncomingCallDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipifCallOutPrep">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetTipifCallOutPrep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallOutDetailsLoad">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetCallOutDetailsLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultPointOfSale">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetConsultPointOfSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanesTFI">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetPlanesTFI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCambioPlanTFI">
      <soap:operation soapAction="http://tempuri.org/IPreTransacService/GetCambioPlanTFI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreTransacService">
    <wsdl:port name="BasicHttpBinding_IPreTransacService" binding="tns:BasicHttpBinding_IPreTransacService">
      <soap:address location="http://localhost:40204/PreTransacService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>