Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService1110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetPlanesTFI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" />
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="PlanesTFIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common.GetDataPower" minOccurs="0" name="Header" nillable="true" type="q2:HeaderRequest" />
          <xs:element minOccurs="0" name="obtenerTabCambioPlanTFI" nillable="true" type="tns:obtenerTabCambioPlanTFIPostRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlanesTFIRequest" nillable="true" type="tns:PlanesTFIRequest" />
  <xs:complexType name="obtenerTabCambioPlanTFIPostRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="Claro" base="q3:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="suscriptor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tarifa" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="obtenerTabCambioPlanTFIPostRequest" nillable="true" type="tns:obtenerTabCambioPlanTFIPostRequest" />
  <xs:complexType name="responseDataObtenerTabConsultaPlanTFIPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaTabConsultaPlanTFIPost" nillable="true" type="tns:ArrayOftabConsultaPlanTFIPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseDataObtenerTabConsultaPlanTFIPost" nillable="true" type="tns:responseDataObtenerTabConsultaPlanTFIPost" />
  <xs:complexType name="ArrayOftabConsultaPlanTFIPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tabConsultaPlanTFIPost" nillable="true" type="tns:tabConsultaPlanTFIPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftabConsultaPlanTFIPost" nillable="true" type="tns:ArrayOftabConsultaPlanTFIPost" />
  <xs:complexType name="tabConsultaPlanTFIPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc_plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suscriber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tariff" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tabConsultaPlanTFIPost" nillable="true" type="tns:tabConsultaPlanTFIPost" />
</xs:schema>