Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService115.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetConsultPointOfSale" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ConsultPointOfSaleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCAC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultPointOfSaleRequest" nillable="true" type="tns:ConsultPointOfSaleRequest" />
  <xs:complexType name="ConsultPointOfSaleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="flag_biometria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultPointOfSaleResponse" nillable="true" type="tns:ConsultPointOfSaleResponse" />
</xs:schema>