Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PreTransacService/PreTransacService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Prepaid.GetTipifCallOutPrep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PreTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="TipifCallOutPrepRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vTransaccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TipifCallOutPrepRequest" nillable="true" type="tns:TipifCallOutPrepRequest" />
  <xs:complexType name="TipifCallOutPrepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescTipif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InteraccionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespTipif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubClaseDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubClaseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipifCallOutPrepResponse" nillable="true" type="tns:TipifCallOutPrepResponse" />
</xs:schema>