Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListInvoice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListInvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ListInvoiceRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCODCLIENTE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListInvoiceRequestTransactions" nillable="true" type="tns:ListInvoiceRequestTransactions" />
  <xs:complexType name="ListInvoiceResponseTransactions">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="GetListInvoice" nillable="true" type="q2:ArrayOfInvoiceTransactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListInvoiceResponseTransactions" nillable="true" type="tns:ListInvoiceResponseTransactions" />
</xs:schema>