Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetProgramerMigration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetProgramerMigration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ProgramerMigrationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="asesor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cacDac" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cicloFacturacion" type="xs:int" />
          <xs:element minOccurs="0" name="clienteCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cuentaPadre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionTipoTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaProgramacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaProgramacionTope" type="xs:dateTime" />
          <xs:element minOccurs="0" name="flagAplicaApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagLimiteCredito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagNdPcs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagOccApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagValidaApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idInteraccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idTipoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imsi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="listaContratos" nillable="true" type="tns:ArrayOfcontratoBeanType" />
          <xs:element minOccurs="0" name="montoApadece" type="xs:decimal" />
          <xs:element minOccurs="0" name="montoFidelizacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="montoPCS" type="xs:decimal" />
          <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ndArea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ndMotivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ndSubmotivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nivelCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nroCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoClarify" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoMigracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoPostpago" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoRegistroTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoServicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="topeConsumo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="topeControlConsumo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgramerMigrationRequest" nillable="true" type="tns:ProgramerMigrationRequest" />
  <xs:complexType name="ArrayOfcontratoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contratoBeanType" nillable="true" type="tns:contratoBeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcontratoBeanType" nillable="true" type="tns:ArrayOfcontratoBeanType" />
  <xs:complexType name="contratoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacionContrato" nillable="true" type="tns:actualizacionContratoBeanType" />
      <xs:element minOccurs="0" name="estadoUmbral" type="xs:boolean" />
      <xs:element minOccurs="0" name="informacionContrato" nillable="true" type="tns:ArrayOfcampoBean" />
      <xs:element minOccurs="0" name="listaDispositivos" nillable="true" type="tns:ArrayOfdispositivoBeanType" />
      <xs:element minOccurs="0" name="planTarifario" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contratoBeanType" nillable="true" type="tns:contratoBeanType" />
  <xs:complexType name="actualizacionContratoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" name="razon" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="actualizacionContratoBeanType" nillable="true" type="tns:actualizacionContratoBeanType" />
  <xs:complexType name="ArrayOfcampoBean">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="campoBean" nillable="true" type="tns:campoBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcampoBean" nillable="true" type="tns:ArrayOfcampoBean" />
  <xs:complexType name="campoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="indice" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="campoBean" nillable="true" type="tns:campoBean" />
  <xs:complexType name="ArrayOfdispositivoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dispositivoBeanType" nillable="true" type="tns:dispositivoBeanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdispositivoBeanType" nillable="true" type="tns:ArrayOfdispositivoBeanType" />
  <xs:complexType name="dispositivoBeanType">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDispositivo" type="xs:long" />
      <xs:element minOccurs="0" name="tipoDispositivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dispositivoBeanType" nillable="true" type="tns:dispositivoBeanType" />
  <xs:complexType name="ProgramerMigrationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IResultado" type="xs:int" />
      <xs:element minOccurs="0" name="MenssageResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramerMigrationResponse" nillable="true" type="tns:ProgramerMigrationResponse" />
</xs:schema>