Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBillPostDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBillPostDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="BillPostDetailRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vFECHA_FIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_INI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_777" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_DETALLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_GPRS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_INTERNACIONA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_NACIONAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_SMS_MMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_TIPO_VISUAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFLAG_VAS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vMSISDN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vSeguridad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillPostDetailRequestTransactions" nillable="true" type="tns:BillPostDetailRequestTransactions" />
  <xs:complexType name="BillPostDetailResponseTransactions">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="GetBillPostDetail" nillable="true" type="q2:ArrayOfCallDetailGeneric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillPostDetailResponseTransactions" nillable="true" type="tns:BillPostDetailResponseTransactions" />
</xs:schema>