Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetExecuteMigrationPlan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetExecuteMigrationPlan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ExecuteMigrationPlanRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreaPCS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Asesor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CicloFacturacion" type="xs:int" />
          <xs:element minOccurs="0" name="CoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodPlanBase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoInteraccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionTipoTpe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Escenario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaProgramacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaProgramacionTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagAplicaApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagLimiteCredito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagServicioOnTop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagValidaApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTipoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontoApadece" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoFidelizar" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontoPCS" type="xs:decimal" />
          <xs:element minOccurs="0" name="MotivoPCS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroCuentaPadre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiciosAdicionales" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubMotivoPCS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoClarify" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoRegistroTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopeConsumo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopeControlConsumo" type="xs:int" />
          <xs:element minOccurs="0" name="UsuarioAplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioSistema" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExecuteMigrationPlanRequestTransactions" nillable="true" type="tns:ExecuteMigrationPlanRequestTransactions" />
  <xs:complexType name="ExecuteMigrationPlanResponseTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenssageResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteMigrationPlanResponseTransactions" nillable="true" type="tns:ExecuteMigrationPlanResponseTransactions" />
</xs:schema>