Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetApprovalBusinessCreditLimit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetApprovalBusinessCreditLimit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ApprovalBusinessCreditLimitRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contract" type="xs:int" />
          <xs:element minOccurs="0" name="Service" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApprovalBusinessCreditLimitRequest" nillable="true" type="tns:ApprovalBusinessCreditLimitRequest" />
  <xs:complexType name="ApprovalBusinessCreditLimitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:long" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="NewCharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovalBusinessCreditLimitResponse" nillable="true" type="tns:ApprovalBusinessCreditLimitResponse" />
</xs:schema>