Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServicesDTH" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServicesDTH" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ServicesDTHRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="intCoId" type="xs:int" />
          <xs:element minOccurs="0" name="strMsisdn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServicesDTHRequest" nillable="true" type="tns:ServicesDTHRequest" />
  <xs:complexType name="ServicesDTHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IntResult" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="ListServicesDTH" nillable="true" type="q2:ArrayOfServicesDTH" />
      <xs:element minOccurs="0" name="StrMessageError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesDTHResponse" nillable="true" type="tns:ServicesDTHResponse" />
</xs:schema>