Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetParameterBusinnes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetParameterBusinnes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ParameterBusinnesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strIdList" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterBusinnesRequest" nillable="true" type="tns:ParameterBusinnesRequest" />
  <xs:complexType name="ParameterBusinnesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstParameterBusinnes" nillable="true" type="q2:ArrayOfParameterBusinnes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterBusinnesResponse" nillable="true" type="tns:ParameterBusinnesResponse" />
</xs:schema>