Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListCallDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListCallDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ListCallDetailRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vINVOICENUMBER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vSeguridad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vTELEFONO" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListCallDetailRequestTransactions" nillable="true" type="tns:ListCallDetailRequestTransactions" />
  <xs:complexType name="ListCallDetailResponseTransactions">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="GetListCallDetail" nillable="true" type="q2:ArrayOfListCallDetailTransactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListCallDetailResponseTransactions" nillable="true" type="tns:ListCallDetailResponseTransactions" />
</xs:schema>