Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServByTransCodeProduct" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServByTransCodeProduct" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ServByTransCodeProductRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServByTransCodeProductRequest" nillable="true" type="tns:ServByTransCodeProductRequest" />
  <xs:complexType name="ServByTransCodeProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CargoFijoPorPlan" type="xs:double" />
      <xs:element minOccurs="0" name="NroRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCargoFijo" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstTopConsumption" nillable="true" type="q2:ArrayOfTopConsumption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServByTransCodeProductResponse" nillable="true" type="tns:ServByTransCodeProductResponse" />
</xs:schema>