Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataByCount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataByCount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="DataByCountRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataByCountRequestPostPaid" nillable="true" type="tns:DataByCountRequestPostPaid" />
  <xs:complexType name="DataByCountResponsePostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="NivelCount" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstDataContractInfo" nillable="true" type="q2:ArrayOfDataByContractInfo" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstDataCount" nillable="true" type="q3:ArrayOfDataByCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataByCountResponsePostPaid" nillable="true" type="tns:DataByCountResponsePostPaid" />
</xs:schema>