Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMigrationPlans" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMigrationPlans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="MigrationPlanRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoriaProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MigracionPlan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modalidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlanActual" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValorTipoProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MigrationPlanRequestTransactions" nillable="true" type="tns:MigrationPlanRequestTransactions" />
  <xs:complexType name="MigrationPlanResponseTransactions">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstNewPlan" nillable="true" type="q2:ArrayOfNewPlanTransactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MigrationPlanResponseTransactions" nillable="true" type="tns:MigrationPlanResponseTransactions" />
</xs:schema>