Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService531.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetActDesServProg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetActDesServProg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ActDesServProgRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="DAmountFidApadece" type="xs:double" />
          <xs:element minOccurs="0" name="DNewCf" type="xs:double" />
          <xs:element minOccurs="0" name="ICycleFact" type="xs:int" />
          <xs:element minOccurs="0" name="StrApplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDateProg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDesSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagOccApadece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIdInteract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIpApplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMsisDn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNumberAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeReg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserApplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserSystem" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActDesServProgRequest" nillable="true" type="tns:ActDesServProgRequest" />
  <xs:complexType name="ActDesServProgResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlnResposne" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrCodError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDesResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActDesServProgResponse" nillable="true" type="tns:ActDesServProgResponse" />
</xs:schema>