Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetAdjustForClaims" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetAdjustForClaims" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="AdjustForClaimsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="CodClient" type="xs:long" />
          <xs:element minOccurs="0" name="CodOCC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateVig" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumQuota" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdjustForClaimsRequest" nillable="true" type="tns:AdjustForClaimsRequest" />
  <xs:complexType name="AdjustForClaimsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdjustForClaimsResponse" nillable="true" type="tns:AdjustForClaimsResponse" />
</xs:schema>