Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMaintenancePlan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMaintenancePlan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="MaintenancePlanRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Tmcode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaintenancePlanRequestTransactions" nillable="true" type="tns:MaintenancePlanRequestTransactions" />
  <xs:complexType name="MaintenancePlanResponseTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlgAdicionales" type="xs:int" />
      <xs:element minOccurs="0" name="FlgCincoSoles" type="xs:int" />
      <xs:element minOccurs="0" name="FlgTopeAutomatico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaintenancePlanResponseTransactions" nillable="true" type="tns:MaintenancePlanResponseTransactions" />
</xs:schema>