Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService5610.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetSignDocument" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetSignDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="SignDocumentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ObjSignDocumentHeaderRequest" nillable="true" type="tns:SignDocumentHeaderRequest" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="lstSignDocumenOptionalList" nillable="true" type="q2:ArrayOfSignDocumenOptionalList" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="objSignDocument" nillable="true" type="q3:SignDocument" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignDocumentRequest" nillable="true" type="tns:SignDocumentRequest" />
  <xs:complexType name="SignDocumentHeaderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Canal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccionESB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccionNegocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodoAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioSesion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignDocumentHeaderRequest" nillable="true" type="tns:SignDocumentHeaderRequest" />
  <xs:complexType name="SignDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjSignDocumentResponseData" nillable="true" type="tns:SignDocumentResponseData" />
      <xs:element minOccurs="0" name="ObjSignDocumentResponseStatus" nillable="true" type="tns:SignDocumentResponseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignDocumentResponse" nillable="true" type="tns:SignDocumentResponse" />
  <xs:complexType name="SignDocumentResponseData">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="LstSignDocumenOptionalList" nillable="true" type="q4:ArrayOfSignDocumenOptionalList" />
      <xs:element minOccurs="0" name="ObjSignDocumentDatosFirmarDocumentoResponse" nillable="true" type="tns:SignDocumentDatosFirmarDocumentoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignDocumentResponseData" nillable="true" type="tns:SignDocumentResponseData" />
  <xs:complexType name="SignDocumentDatosFirmarDocumentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaArchivo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignDocumentDatosFirmarDocumentoResponse" nillable="true" type="tns:SignDocumentDatosFirmarDocumentoResponse" />
  <xs:complexType name="SignDocumentResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbicacionError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignDocumentResponseStatus" nillable="true" type="tns:SignDocumentResponseStatus" />
</xs:schema>