Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetUpdateInteraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetUpdateInteraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="UpdateInteractionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="InteractId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateInteractionRequest" nillable="true" type="tns:UpdateInteractionRequest" />
  <xs:complexType name="UpdateInteractionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlagInsertion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInteractionResponse" nillable="true" type="tns:UpdateInteractionResponse" />
</xs:schema>