Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService568.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBiometricConfiguration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBiometricConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="BiometricConfigurationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codCanal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codModalVenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codOperacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoPDV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="head" nillable="true" type="q2:ValidateIdentityHeaderRequest" />
          <xs:element minOccurs="0" name="idHijo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idPadre" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="listaOpcional" nillable="true" type="q3:ArrayOfValidateIdentityOptionalList" />
          <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sistema" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usuarioCtaRed" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiometricConfigurationRequest" nillable="true" type="tns:BiometricConfigurationRequest" />
  <xs:complexType name="BiometricConfigurationResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="data" nillable="true" type="q4:ArrayOfBiometricDataConfiguration" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="listaOpcional" nillable="true" type="q5:ArrayOfValidateIdentityOptionalList" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="status" nillable="true" type="q6:ValidateIdentityStatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiometricConfigurationResponse" nillable="true" type="tns:BiometricConfigurationResponse" />
</xs:schema>