Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PostTransacService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetReceipt" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd4" namespace="AuditService" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetConsumeLimit" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetFixedCharge" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetHLR" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBillingCycle" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetParameterBusinnes" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetNewPlan" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetTarifePlan" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetElementMigration" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetCodeChangeCustomer" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetArea" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMotiveByArea" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetSubMotive" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetConsumptionStop" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetChangePhoneNumber" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetPortability" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetTriations" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMigrationPlans" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetFixedCostBasePlan" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetQueryAssociatedLines" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidationProgDeudaBloqSusp" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBillData" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataLine" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetAmountIncomingCall" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetCallDetailNBDB1" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetCallDetailNBDB1BSCS" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd32" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetAgreement" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServByTransCodeProduct" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd34" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetMaintenancePlan" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd35" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidateBagShare" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd36" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidateProgByProduct" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd37" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetRegisterPlanService" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd38" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetProgramerMigration" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd39" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataByContract" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataByCount" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd41" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetUpdateInteraction" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd42" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetAdjustForClaims" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd43" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetExecuteMigrationPlan" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd44" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBillPostDetail" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd45" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListInvoice_PDI" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd46" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListInvoice" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd47" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListCallDetail" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd48" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetListCallDetailPDI" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd49" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetRechargeList" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetApprovalBusinessCreditLimit" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd51" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetUserExistsBSCS" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd52" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetConsultService" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd53" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetModifyServiceQuotAmount" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd54" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetTypeTransactionBRMS" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd55" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetActDesServProg" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd56" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServiceByContract" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd57" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServicesDTH" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd58" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidateActDesServProg" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd59" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServiceBSCS" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd60" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetInsertTraceability" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd61" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetBiometricConfiguration" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd62" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetSignDocument" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd63" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetDataCustomer" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd64" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.PostUpdateChangeData" />
      <xsd:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd65" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPostTransacService_GetDataInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInvoice" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GETConsumeLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GETConsumeLimit" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GETConsumeLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GETConsumeLimitResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ConsultFixedCharge_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFixedCharge" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ConsultFixedCharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultFixedChargeResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetStatusPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusPhone" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetStatusPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetHLRLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHLRLocation" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetHLRLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHLRLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBillingCycle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillingCycle" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBillingCycle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillingCycleResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlanModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanModel" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlanModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanModelResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetNewPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPlan" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetNewPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTarifePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTarifePlan" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTarifePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTarifePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetElementMigration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElementMigration" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetElementMigration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElementMigrationResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCodeChangeCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeChangeCustomer" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCodeChangeCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeChangeCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArea" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetMotiveByArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotiveByArea" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetMotiveByArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotiveByAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetSubMotive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubMotive" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetSubMotive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubMotiveResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetConsumptionStop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumptionStop" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetConsumptionStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumptionStopResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateChangeNumberTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangeNumberTransaction" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateChangeNumberTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangeNumberTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAvailableLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLines" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAvailableLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateChangeNumberBSCS_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangeNumberBSCS" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateChangeNumberBSCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangeNumberBSCSResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ExecuteChangeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteChangeNumber" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ExecuteChangeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteChangeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_RollbackChangeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:RollbackChangeNumber" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_RollbackChangeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollbackChangeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_DeleteUserHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserHistory" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_DeleteUserHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdatePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdatePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPortability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPortability" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPortability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPortabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTriaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTriaciones" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTriaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTriacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlansMigrations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansMigrations" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlansMigrations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansMigrationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetFixedCostBasePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFixedCostBasePlan" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetFixedCostBasePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFixedCostBasePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListQueryAssociatedLines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListQueryAssociatedLines" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListQueryAssociatedLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListQueryAssociatedLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidationProgDeudaBloqSuspResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationProgDeudaBloqSuspResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidationProgDeudaBloqSuspResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationProgDeudaBloqSuspResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidationMigration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationMigration" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidationMigration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidationMigrationResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListBillSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListBillSummary" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListBillSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListBillSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataLine" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataLineResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAmountIncomingCall_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountIncomingCall" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAmountIncomingCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountIncomingCallResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDocumentType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentType" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDocumentType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCallDetailNB_DB1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallDetailNB_DB1" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCallDetailNB_DB1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallDetailNB_DB1Response" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCallDetailNB_DB1_BSCS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallDetailNB_DB1_BSCS" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetCallDetailNB_DB1_BSCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallDetailNB_DB1_BSCSResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetReinstatementEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReinstatementEquipment" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetReinstatementEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReinstatementEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServByTransCodeProductResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServByTransCodeProductResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServByTransCodeProductResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServByTransCodeProductResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlansServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansServices" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetPlansServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateBagShare_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateBagShare" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateBagShare_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateBagShareResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateProgByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateProgByProduct" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateProgByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateProgByProductResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_RegisterPlanService_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlanService" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_RegisterPlanService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPlanServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ProgramerMigrationControlPostPago_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramerMigrationControlPostPago" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ProgramerMigrationControlPostPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramerMigrationControlPostPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataByContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByContract" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataByContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataByCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByCount" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataByCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataByCountResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_AlignTransactionService_InputMessage">
    <wsdl:part name="parameters" element="tns:AlignTransactionService" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_AlignTransactionService_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlignTransactionServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetUpdateInteraction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateInteraction" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetUpdateInteraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateInteractionResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAdjustForClaims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdjustForClaims" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetAdjustForClaims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdjustForClaimsResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_AlignCodID_InputMessage">
    <wsdl:part name="parameters" element="tns:AlignCodID" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_AlignCodID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlignCodIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_MigrationPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:MigrationPlans" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_MigrationPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrationPlansResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBillPostDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillPostDetail" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBillPostDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillPostDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListInvoicePDI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListInvoicePDI" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListInvoicePDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListInvoicePDIResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListInvoice" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListCallDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCallDetail" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListCallDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCallDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListCallDetailPDI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCallDetailPDI" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetListCallDetailPDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCallDetailPDIResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetRechargeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeList" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetRechargeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeListResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetApprovalBusinessCreditLimitBusinessAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalBusinessCreditLimitBusinessAccount" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetApprovalBusinessCreditLimitBusinessAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovalBusinessCreditLimitBusinessAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetUserExistsBSCS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExistsBSCS" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetUserExistsBSCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserExistsBSCSResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetConsultService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultService" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetConsultService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetModifyServiceQuotAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModifyServiceQuotAmount" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetModifyServiceQuotAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModifyServiceQuotAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTypeTransactionBRMS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeTransactionBRMS" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetTypeTransactionBRMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeTransactionBRMSResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetActDesServProg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActDesServProg" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetActDesServProg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActDesServProgResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServiceByContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByContract" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServiceByContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByContractResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServicesDTH_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesDTH" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServicesDTH_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesDTHResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateActDesServProg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateActDesServProg" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetValidateActDesServProg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateActDesServProgResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServiceBSCS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBSCS" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetServiceBSCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceBSCSResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataAccord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAccord" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataAccord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataAccordResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetLoadStaidTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadStaidTotal" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetLoadStaidTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadStaidTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetInsertTraceability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsertTraceability" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetInsertTraceability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsertTraceabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBiometricConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBiometricConfiguration" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetBiometricConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBiometricConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetSignDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignDocument" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetSignDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataCustomer" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetDataCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetMotivoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotivoCambio" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_GetMotivoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotivoCambioResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateEnvioxMail_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEnvioxMail" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_ValidateEnvioxMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateEnvioxMailResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateNameCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNameCustomer" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateNameCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNameCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataMinorCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataMinorCustomer" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataMinorCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataMinorCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataCustomerCLF_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataCustomerCLF" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataCustomerCLF_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataCustomerCLFResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateAddressCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressCustomer" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateAddressCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataCustomerPClub_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataCustomerPClub" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_UpdateDataCustomerPClub_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataCustomerPClubResponse" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_registrarTransaccionSiga_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarTransaccionSiga" />
  </wsdl:message>
  <wsdl:message name="IPostTransacService_registrarTransaccionSiga_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarTransaccionSigaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPostTransacService">
    <wsdl:operation name="GetDataInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataInvoice" message="tns:IPostTransacService_GetDataInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataInvoiceResponse" message="tns:IPostTransacService_GetDataInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GETConsumeLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GETConsumeLimit" message="tns:IPostTransacService_GETConsumeLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GETConsumeLimitResponse" message="tns:IPostTransacService_GETConsumeLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultFixedCharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ConsultFixedCharge" message="tns:IPostTransacService_ConsultFixedCharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ConsultFixedChargeResponse" message="tns:IPostTransacService_ConsultFixedCharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetStatusPhone" message="tns:IPostTransacService_GetStatusPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetStatusPhoneResponse" message="tns:IPostTransacService_GetStatusPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHLRLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetHLRLocation" message="tns:IPostTransacService_GetHLRLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetHLRLocationResponse" message="tns:IPostTransacService_GetHLRLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillingCycle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetBillingCycle" message="tns:IPostTransacService_GetBillingCycle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetBillingCycleResponse" message="tns:IPostTransacService_GetBillingCycle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetPlanModel" message="tns:IPostTransacService_GetPlanModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetPlanModelResponse" message="tns:IPostTransacService_GetPlanModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetNewPlan" message="tns:IPostTransacService_GetNewPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetNewPlanResponse" message="tns:IPostTransacService_GetNewPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTarifePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetTarifePlan" message="tns:IPostTransacService_GetTarifePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetTarifePlanResponse" message="tns:IPostTransacService_GetTarifePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElementMigration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetElementMigration" message="tns:IPostTransacService_GetElementMigration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetElementMigrationResponse" message="tns:IPostTransacService_GetElementMigration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeChangeCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetCodeChangeCustomer" message="tns:IPostTransacService_GetCodeChangeCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetCodeChangeCustomerResponse" message="tns:IPostTransacService_GetCodeChangeCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetArea" message="tns:IPostTransacService_GetArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetAreaResponse" message="tns:IPostTransacService_GetArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotiveByArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetMotiveByArea" message="tns:IPostTransacService_GetMotiveByArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetMotiveByAreaResponse" message="tns:IPostTransacService_GetMotiveByArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubMotive">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetSubMotive" message="tns:IPostTransacService_GetSubMotive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetSubMotiveResponse" message="tns:IPostTransacService_GetSubMotive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumptionStop">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetConsumptionStop" message="tns:IPostTransacService_GetConsumptionStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetConsumptionStopResponse" message="tns:IPostTransacService_GetConsumptionStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateChangeNumberTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ValidateChangeNumberTransaction" message="tns:IPostTransacService_ValidateChangeNumberTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ValidateChangeNumberTransactionResponse" message="tns:IPostTransacService_ValidateChangeNumberTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetAvailableLines" message="tns:IPostTransacService_GetAvailableLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetAvailableLinesResponse" message="tns:IPostTransacService_GetAvailableLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateChangeNumberBSCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ValidateChangeNumberBSCS" message="tns:IPostTransacService_ValidateChangeNumberBSCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ValidateChangeNumberBSCSResponse" message="tns:IPostTransacService_ValidateChangeNumberBSCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteChangeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ExecuteChangeNumber" message="tns:IPostTransacService_ExecuteChangeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ExecuteChangeNumberResponse" message="tns:IPostTransacService_ExecuteChangeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RollbackChangeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/RollbackChangeNumber" message="tns:IPostTransacService_RollbackChangeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/RollbackChangeNumberResponse" message="tns:IPostTransacService_RollbackChangeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/DeleteUserHistory" message="tns:IPostTransacService_DeleteUserHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/DeleteUserHistoryResponse" message="tns:IPostTransacService_DeleteUserHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdatePhoneNumber" message="tns:IPostTransacService_UpdatePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdatePhoneNumberResponse" message="tns:IPostTransacService_UpdatePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPortability">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetPortability" message="tns:IPostTransacService_GetPortability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetPortabilityResponse" message="tns:IPostTransacService_GetPortability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTriaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetTriaciones" message="tns:IPostTransacService_GetTriaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetTriacionesResponse" message="tns:IPostTransacService_GetTriaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlansMigrations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetPlansMigrations" message="tns:IPostTransacService_GetPlansMigrations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetPlansMigrationsResponse" message="tns:IPostTransacService_GetPlansMigrations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFixedCostBasePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetFixedCostBasePlan" message="tns:IPostTransacService_GetFixedCostBasePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetFixedCostBasePlanResponse" message="tns:IPostTransacService_GetFixedCostBasePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListQueryAssociatedLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListQueryAssociatedLines" message="tns:IPostTransacService_GetListQueryAssociatedLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListQueryAssociatedLinesResponse" message="tns:IPostTransacService_GetListQueryAssociatedLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidationProgDeudaBloqSuspResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetValidationProgDeudaBloqSuspResponse" message="tns:IPostTransacService_GetValidationProgDeudaBloqSuspResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetValidationProgDeudaBloqSuspResponseResponse" message="tns:IPostTransacService_GetValidationProgDeudaBloqSuspResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidationMigration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetValidationMigration" message="tns:IPostTransacService_GetValidationMigration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetValidationMigrationResponse" message="tns:IPostTransacService_GetValidationMigration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListBillSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListBillSummary" message="tns:IPostTransacService_GetListBillSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListBillSummaryResponse" message="tns:IPostTransacService_GetListBillSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataLine" message="tns:IPostTransacService_GetDataLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataLineResponse" message="tns:IPostTransacService_GetDataLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountIncomingCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetAmountIncomingCall" message="tns:IPostTransacService_GetAmountIncomingCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetAmountIncomingCallResponse" message="tns:IPostTransacService_GetAmountIncomingCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentType">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDocumentType" message="tns:IPostTransacService_GetDocumentType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDocumentTypeResponse" message="tns:IPostTransacService_GetDocumentType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallDetailNB_DB1">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1" message="tns:IPostTransacService_GetCallDetailNB_DB1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1Response" message="tns:IPostTransacService_GetCallDetailNB_DB1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallDetailNB_DB1_BSCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1_BSCS" message="tns:IPostTransacService_GetCallDetailNB_DB1_BSCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1_BSCSResponse" message="tns:IPostTransacService_GetCallDetailNB_DB1_BSCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReinstatementEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetReinstatementEquipment" message="tns:IPostTransacService_GetReinstatementEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetReinstatementEquipmentResponse" message="tns:IPostTransacService_GetReinstatementEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServByTransCodeProductResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetServByTransCodeProductResponse" message="tns:IPostTransacService_GetServByTransCodeProductResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetServByTransCodeProductResponseResponse" message="tns:IPostTransacService_GetServByTransCodeProductResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlansServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetPlansServices" message="tns:IPostTransacService_GetPlansServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetPlansServicesResponse" message="tns:IPostTransacService_GetPlansServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateBagShare">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateBagShare" message="tns:IPostTransacService_GetValidateBagShare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateBagShareResponse" message="tns:IPostTransacService_GetValidateBagShare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateProgByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateProgByProduct" message="tns:IPostTransacService_GetValidateProgByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateProgByProductResponse" message="tns:IPostTransacService_GetValidateProgByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPlanService">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/RegisterPlanService" message="tns:IPostTransacService_RegisterPlanService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/RegisterPlanServiceResponse" message="tns:IPostTransacService_RegisterPlanService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgramerMigrationControlPostPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ProgramerMigrationControlPostPago" message="tns:IPostTransacService_ProgramerMigrationControlPostPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ProgramerMigrationControlPostPagoResponse" message="tns:IPostTransacService_ProgramerMigrationControlPostPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataByContract" message="tns:IPostTransacService_GetDataByContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataByContractResponse" message="tns:IPostTransacService_GetDataByContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataByCount" message="tns:IPostTransacService_GetDataByCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataByCountResponse" message="tns:IPostTransacService_GetDataByCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlignTransactionService">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/AlignTransactionService" message="tns:IPostTransacService_AlignTransactionService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/AlignTransactionServiceResponse" message="tns:IPostTransacService_AlignTransactionService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInteraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetUpdateInteraction" message="tns:IPostTransacService_GetUpdateInteraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetUpdateInteractionResponse" message="tns:IPostTransacService_GetUpdateInteraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdjustForClaims">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetAdjustForClaims" message="tns:IPostTransacService_GetAdjustForClaims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetAdjustForClaimsResponse" message="tns:IPostTransacService_GetAdjustForClaims_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlignCodID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/AlignCodID" message="tns:IPostTransacService_AlignCodID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/AlignCodIDResponse" message="tns:IPostTransacService_AlignCodID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MigrationPlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/MigrationPlans" message="tns:IPostTransacService_MigrationPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/MigrationPlansResponse" message="tns:IPostTransacService_MigrationPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillPostDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetBillPostDetail" message="tns:IPostTransacService_GetBillPostDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetBillPostDetailResponse" message="tns:IPostTransacService_GetBillPostDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListInvoicePDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListInvoicePDI" message="tns:IPostTransacService_GetListInvoicePDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListInvoicePDIResponse" message="tns:IPostTransacService_GetListInvoicePDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListInvoice" message="tns:IPostTransacService_GetListInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListInvoiceResponse" message="tns:IPostTransacService_GetListInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCallDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListCallDetail" message="tns:IPostTransacService_GetListCallDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListCallDetailResponse" message="tns:IPostTransacService_GetListCallDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCallDetailPDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetListCallDetailPDI" message="tns:IPostTransacService_GetListCallDetailPDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetListCallDetailPDIResponse" message="tns:IPostTransacService_GetListCallDetailPDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRechargeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetRechargeList" message="tns:IPostTransacService_GetRechargeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetRechargeListResponse" message="tns:IPostTransacService_GetRechargeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApprovalBusinessCreditLimitBusinessAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetApprovalBusinessCreditLimitBusinessAccount" message="tns:IPostTransacService_GetApprovalBusinessCreditLimitBusinessAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetApprovalBusinessCreditLimitBusinessAccountResponse" message="tns:IPostTransacService_GetApprovalBusinessCreditLimitBusinessAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserExistsBSCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetUserExistsBSCS" message="tns:IPostTransacService_GetUserExistsBSCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetUserExistsBSCSResponse" message="tns:IPostTransacService_GetUserExistsBSCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultService">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetConsultService" message="tns:IPostTransacService_GetConsultService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetConsultServiceResponse" message="tns:IPostTransacService_GetConsultService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModifyServiceQuotAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetModifyServiceQuotAmount" message="tns:IPostTransacService_GetModifyServiceQuotAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetModifyServiceQuotAmountResponse" message="tns:IPostTransacService_GetModifyServiceQuotAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeTransactionBRMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetTypeTransactionBRMS" message="tns:IPostTransacService_GetTypeTransactionBRMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetTypeTransactionBRMSResponse" message="tns:IPostTransacService_GetTypeTransactionBRMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActDesServProg">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetActDesServProg" message="tns:IPostTransacService_GetActDesServProg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetActDesServProgResponse" message="tns:IPostTransacService_GetActDesServProg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceByContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetServiceByContract" message="tns:IPostTransacService_GetServiceByContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetServiceByContractResponse" message="tns:IPostTransacService_GetServiceByContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServicesDTH">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetServicesDTH" message="tns:IPostTransacService_GetServicesDTH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetServicesDTHResponse" message="tns:IPostTransacService_GetServicesDTH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateActDesServProg">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateActDesServProg" message="tns:IPostTransacService_GetValidateActDesServProg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetValidateActDesServProgResponse" message="tns:IPostTransacService_GetValidateActDesServProg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceBSCS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetServiceBSCS" message="tns:IPostTransacService_GetServiceBSCS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetServiceBSCSResponse" message="tns:IPostTransacService_GetServiceBSCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAccord">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataAccord" message="tns:IPostTransacService_GetDataAccord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataAccordResponse" message="tns:IPostTransacService_GetDataAccord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoadStaidTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetLoadStaidTotal" message="tns:IPostTransacService_GetLoadStaidTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetLoadStaidTotalResponse" message="tns:IPostTransacService_GetLoadStaidTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsertTraceability">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetInsertTraceability" message="tns:IPostTransacService_GetInsertTraceability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetInsertTraceabilityResponse" message="tns:IPostTransacService_GetInsertTraceability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBiometricConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetBiometricConfiguration" message="tns:IPostTransacService_GetBiometricConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetBiometricConfigurationResponse" message="tns:IPostTransacService_GetBiometricConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetSignDocument" message="tns:IPostTransacService_GetSignDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetSignDocumentResponse" message="tns:IPostTransacService_GetSignDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetDataCustomer" message="tns:IPostTransacService_GetDataCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetDataCustomerResponse" message="tns:IPostTransacService_GetDataCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotivoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/GetMotivoCambio" message="tns:IPostTransacService_GetMotivoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/GetMotivoCambioResponse" message="tns:IPostTransacService_GetMotivoCambio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEnvioxMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/ValidateEnvioxMail" message="tns:IPostTransacService_ValidateEnvioxMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/ValidateEnvioxMailResponse" message="tns:IPostTransacService_ValidateEnvioxMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNameCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdateNameCustomer" message="tns:IPostTransacService_UpdateNameCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdateNameCustomerResponse" message="tns:IPostTransacService_UpdateNameCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataMinorCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataMinorCustomer" message="tns:IPostTransacService_UpdateDataMinorCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataMinorCustomerResponse" message="tns:IPostTransacService_UpdateDataMinorCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataCustomerCLF">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataCustomerCLF" message="tns:IPostTransacService_UpdateDataCustomerCLF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataCustomerCLFResponse" message="tns:IPostTransacService_UpdateDataCustomerCLF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddressCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdateAddressCustomer" message="tns:IPostTransacService_UpdateAddressCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdateAddressCustomerResponse" message="tns:IPostTransacService_UpdateAddressCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataCustomerPClub">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataCustomerPClub" message="tns:IPostTransacService_UpdateDataCustomerPClub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/UpdateDataCustomerPClubResponse" message="tns:IPostTransacService_UpdateDataCustomerPClub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionSiga">
      <wsdl:input wsaw:Action="http://tempuri.org/IPostTransacService/registrarTransaccionSiga" message="tns:IPostTransacService_registrarTransaccionSiga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPostTransacService/registrarTransaccionSigaResponse" message="tns:IPostTransacService_registrarTransaccionSiga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPostTransacService" type="tns:IPostTransacService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataInvoice">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETConsumeLimit">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GETConsumeLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultFixedCharge">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ConsultFixedCharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusPhone">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetStatusPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHLRLocation">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetHLRLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillingCycle">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetBillingCycle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanModel">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetPlanModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewPlan">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetNewPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTarifePlan">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetTarifePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementMigration">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetElementMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeChangeCustomer">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetCodeChangeCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArea">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotiveByArea">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetMotiveByArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMotive">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetSubMotive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumptionStop">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetConsumptionStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateChangeNumberTransaction">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ValidateChangeNumberTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLines">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetAvailableLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateChangeNumberBSCS">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ValidateChangeNumberBSCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteChangeNumber">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ExecuteChangeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackChangeNumber">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/RollbackChangeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserHistory">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/DeleteUserHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdatePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortability">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetPortability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTriaciones">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetTriaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlansMigrations">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetPlansMigrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFixedCostBasePlan">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetFixedCostBasePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListQueryAssociatedLines">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListQueryAssociatedLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidationProgDeudaBloqSuspResponse">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetValidationProgDeudaBloqSuspResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidationMigration">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetValidationMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBillSummary">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListBillSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataLine">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountIncomingCall">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetAmountIncomingCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentType">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDocumentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallDetailNB_DB1">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallDetailNB_DB1_BSCS">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetCallDetailNB_DB1_BSCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReinstatementEquipment">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetReinstatementEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServByTransCodeProductResponse">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetServByTransCodeProductResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlansServices">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetPlansServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateBagShare">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetValidateBagShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateProgByProduct">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetValidateProgByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPlanService">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/RegisterPlanService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramerMigrationControlPostPago">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ProgramerMigrationControlPostPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByContract">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataByContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByCount">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataByCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlignTransactionService">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/AlignTransactionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInteraction">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetUpdateInteraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdjustForClaims">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetAdjustForClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlignCodID">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/AlignCodID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrationPlans">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/MigrationPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillPostDetail">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetBillPostDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListInvoicePDI">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListInvoicePDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListInvoice">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCallDetail">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListCallDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCallDetailPDI">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetListCallDetailPDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRechargeList">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetRechargeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalBusinessCreditLimitBusinessAccount">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetApprovalBusinessCreditLimitBusinessAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserExistsBSCS">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetUserExistsBSCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultService">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetConsultService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModifyServiceQuotAmount">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetModifyServiceQuotAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeTransactionBRMS">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetTypeTransactionBRMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActDesServProg">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetActDesServProg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceByContract">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetServiceByContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicesDTH">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetServicesDTH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateActDesServProg">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetValidateActDesServProg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBSCS">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetServiceBSCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAccord">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataAccord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoadStaidTotal">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetLoadStaidTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsertTraceability">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetInsertTraceability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBiometricConfiguration">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetBiometricConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignDocument">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetSignDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataCustomer">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetDataCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotivoCambio">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/GetMotivoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEnvioxMail">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/ValidateEnvioxMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNameCustomer">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdateNameCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataMinorCustomer">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdateDataMinorCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataCustomerCLF">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdateDataCustomerCLF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddressCustomer">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdateAddressCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataCustomerPClub">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/UpdateDataCustomerPClub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarTransaccionSiga">
      <soap:operation soapAction="http://tempuri.org/IPostTransacService/registrarTransaccionSiga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostTransacService">
    <wsdl:port name="BasicHttpBinding_IPostTransacService" binding="tns:BasicHttpBinding_IPostTransacService">
      <soap:address location="http://localhost:40204/PostTransacService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>