Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServiceByContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetServiceByContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="ServiceByContractRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceByContractRequest" nillable="true" type="tns:ServiceByContractRequest" />
  <xs:complexType name="ServiceByContractResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="ListServiceByContract" nillable="true" type="q2:ArrayOfServiceByContract" />
      <xs:element minOccurs="0" name="StrDesPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceByContractResponse" nillable="true" type="tns:ServiceByContractResponse" />
</xs:schema>