Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidationProgDeudaBloqSusp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidationProgDeudaBloqSusp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidationProgDeudaBloqSuspRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationProgDeudaBloqSuspRequest" nillable="true" type="tns:ValidationProgDeudaBloqSuspRequest" />
  <xs:complexType name="ValidationProgDeudaBloqSuspResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="RespuestaValidacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationProgDeudaBloqSuspResponse" nillable="true" type="tns:ValidationProgDeudaBloqSuspResponse" />
</xs:schema>