Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetConsultService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetConsultService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ConsultServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodId" type="xs:int" />
          <xs:element minOccurs="0" name="CodServ" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultServiceRequest" nillable="true" type="tns:ConsultServiceRequest" />
  <xs:complexType name="ConsultServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnCode" type="xs:int" />
      <xs:element minOccurs="0" name="SpCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultServiceResponse" nillable="true" type="tns:ConsultServiceResponse" />
</xs:schema>