Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetRegisterPlanService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetRegisterPlanService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterPlanRequestTransactions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CARGO_FIJO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COD_SERVICIO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DES_SERVICIO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_INTERACCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOTIVO_EXCLUYE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterPlanRequestTransactions" nillable="true" type="tns:RegisterPlanRequestTransactions" />
  <xs:complexType name="RegisterPlanResponseTransactions">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodRegServicioPlan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPlanResponseTransactions" nillable="true" type="tns:RegisterPlanResponseTransactions" />
</xs:schema>