Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetCallDetailNBDB1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetCallDetailNBDB1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" />
  <xs:complexType name="CallDetailNBDB1RequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrStartDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallDetailNBDB1RequestPostPaid" nillable="true" type="tns:CallDetailNBDB1RequestPostPaid" />
  <xs:complexType name="CallDetailNBDB1ResponsePostPaid">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" minOccurs="0" name="ListCallDetail" nillable="true" type="q2:ArrayOfCallDetailGeneric" />
      <xs:element minOccurs="0" name="MsgError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SummaryTotal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailNBDB1ResponsePostPaid" nillable="true" type="tns:CallDetailNBDB1ResponsePostPaid" />
</xs:schema>