Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetQueryAssociatedLines" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetQueryAssociatedLines" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="QueryAssociatedLinesRequestPostPaid">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date_End" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date_Ini" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeQuery" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryAssociatedLinesRequestPostPaid" nillable="true" type="tns:QueryAssociatedLinesRequestPostPaid" />
  <xs:complexType name="QueryAssociatedLinesResponsePostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="Total" nillable="true" type="q2:ArrayOfCallDetailSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryAssociatedLinesResponsePostPaid" nillable="true" type="tns:QueryAssociatedLinesResponsePostPaid" />
</xs:schema>