Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidateActDesServProg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid.GetValidateActDesServProg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/PostTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateActDesServProgRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrAplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodServ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIdTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIpAplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMsisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeReg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateActDesServProgRequest" nillable="true" type="tns:ValidateActDesServProgRequest" />
  <xs:complexType name="ValidateActDesServProgResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrCodError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDesResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateActDesServProgResponse" nillable="true" type="tns:ValidateActDesServProgResponse" />
</xs:schema>