Claro.SIACU.Web.WebApplication.Transac.Service/Service References/PostTransacService/PostTransacService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPlanTariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateStatus" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DolDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate_Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate_Select" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDateBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagLoadDataLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagPlatform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCNTPossible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinuteBalance_Select" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumFamFriends" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumICCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumIMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusIMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriberStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffChangesFree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TermContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriacionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TriosChanguesFree" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="ArrayOfCallDetailGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallDetailGeneric" nillable="true" type="tns:CallDetailGeneric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallDetailGeneric" nillable="true" type="tns:ArrayOfCallDetailGeneric" />
  <xs:complexType name="CallDetailGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceSoles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChargeSoles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Horary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberBOperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="OriginalAmount_Flexible" type="xs:double" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity_FormatHHMMSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StrDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrStartDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffPlanIdCall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tariff_Zone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VlrNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailGeneric" nillable="true" type="tns:CallDetailGeneric" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASESOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CALLE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANT_REG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CICLO_FACTURACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIUDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONSULTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACTO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRATO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREDIT_SCORE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactCntCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactCustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTEMENTO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPOSITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION_DESPACHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI_RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOMICILIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CIVIL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_REGISTRADO" type="xs:int" />
      <xs:element minOccurs="0" name="FORMA_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUNCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIMITE_CREDITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LONG_NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LUGAR_NACIMIENTO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODALIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO_REGISTRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NACIONALIDAD" type="xs:long" />
      <xs:element minOccurs="0" name="NICHO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMERCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_COMPLETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCUPACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAIS_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSTAL_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUNTO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_FLAG_CONSULTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_MSG_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON_SOCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCIA_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPRESENTANTE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSABLE_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROL_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGMENTO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEXO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_REFERENCIA_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_REFERENCIA_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEF_REFERENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEXTO_NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOC_RL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_CUENTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTAL_LINEAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URBANIZACION_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USU_ASEG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>