Claro.SIACU.ProxyService.Transac.Service/Service References/SIACSecurity.Permissions.LPOPU/ConsultaOpcionesAuditoriaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" xmlns:he="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:fault="http://claro.com.pe/eai/ebs/xsd/CommonsException" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns0="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" name="ConsultaOpcionesAuditoriaService" targetNamespace="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../esquemas/leerPaginaOpcionesPorUsuario.xsd" namespace="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" />
      <xsd:import schemaLocation="../esquemas/HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="../esquemas/CommonsException.xsd" namespace="http://claro.com.pe/eai/ebs/xsd/CommonsException" />
    </xsd:schema>
  </types>
  <message name="leerPaginaOpcionesPorUsuario">
    <part name="leerPaginaOpcionesPorUsuario" element="ns0:leerPaginaOpcionesPorUsuario" />
  </message>
  <message name="leerPaginaOpcionesPorUsuarioResponse">
    <part name="leerPaginaOpcionesPorUsuarioResponse" element="ns0:leerPaginaOpcionesPorUsuarioResponse" />
  </message>
  <message name="headerRequest">
    <part name="headerRequest" element="he:HeaderRequest" />
  </message>
  <message name="headerResponse">
    <part name="headerResponse" element="he:HeaderResponse" />
  </message>
  <message name="claroFault">
    <part name="claroFault" element="fault:IntegrationError" />
  </message>
  <portType name="ConsultaOpcionesAuditoriaPortType">
    <operation name="leerPaginaOpcionesPorUsuario">
      <input wsam:Action="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws/leerPaginaOpcionesPorUsuario" message="ns0:leerPaginaOpcionesPorUsuario" />
      <output wsam:Action="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws/ConsultaOpcionesAuditoriaPortType/leerPaginaOpcionesPorUsuarioResponse" message="ns0:leerPaginaOpcionesPorUsuarioResponse" />
      <fault name="claroFault" message="ns0:claroFault" />
    </operation>
  </portType>
  <binding name="ConsultaOpcionesAuditoriaPortSB11Binding" type="ns0:ConsultaOpcionesAuditoriaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="leerPaginaOpcionesPorUsuario">
      <soap:operation soapAction="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws/leerPaginaOpcionesPorUsuario" />
      <input>
        <soap:header message="ns0:headerRequest" part="headerRequest" use="literal" />
        <soap:body use="literal" />
      </input>
      <output>
        <soap:header message="ns0:headerResponse" part="headerResponse" use="literal" />
        <soap:body use="literal" />
      </output>
      <fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ConsultaOpcionesAuditoriaService">
    <port name="ConsultaOpcionesAuditoriaPortSB11" binding="ns0:ConsultaOpcionesAuditoriaPortSB11Binding">
      <soap:address location="http://limdeseaiv26.tim.com.pe:8909/ConsultaOpcionesAuditoria/ConsultaOpcionesAuditoriaPortSB11" />
    </port>
  </service>
</definitions>