Claro.SIACU.ProxyService.Transac.Service/Service References/SIACSecurity.Permissions.LPOPU/leerPaginaOpcionesPorUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns1="http://claro.com.pe/eai/ws/baseschema" xmlns:ns0="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" elementFormDefault="qualified" targetNamespace="http://service.eai.auditoria.claro.com.pe/consultaopcionesauditoriaws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="auditoria.xsd" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:complexType name="ResponseOpcionalComplexType">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="aplicacion" type="xsd:string" />
      <xsd:element name="usrAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ResponseOpcional" type="ns0:ResponseOpcionalComplexType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaginaOpcionType">
    <xsd:sequence>
      <xsd:element name="opcicCod" type="xsd:string" />
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="opcicDes" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaPaginaOpcionesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaOpciones" nillable="true" type="ns0:PaginaOpcionType" />
      <xsd:element name="codigoVendedor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOpcional" type="ns0:RequestOpcionalComplexType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaginaOpcionesUsuarioRequest">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:int" />
      <xsd:element name="aplicCod" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestOpcionalComplexType">
    <xsd:sequence>
      <xsd:element name="clave" type="xsd:string" />
      <xsd:element name="valor" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="leerPaginaOpcionesPorUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="ns0:AuditResponse" />
        <xsd:element name="PaginaOpcionesUsuarioResponse" type="ns0:ListaPaginaOpcionesType" />
        <xsd:element name="listaOpcionalResponse" type="ns0:ListaResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="leerPaginaOpcionesPorUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="audit" type="ns0:AuditRequest" />
        <xsd:element name="PaginaOpcionesUsuarioRequest" type="ns0:PaginaOpcionesUsuarioRequest" />
        <xsd:element name="listaOpcionalRequest" type="ns0:ListaRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>