Claro.SIACU.Web.WebApplication.Transac.Service/Service References/ColivingTransacService/ColivingTransacService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving.GetParameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving.GetParameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetParameterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LstParameter" nillable="true" type="tns:ArrayOfListParameter" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetParameterResponse" nillable="true" type="tns:GetParameterResponse" />
  <xs:complexType name="ArrayOfListParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListParameter" nillable="true" type="tns:ListParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListParameter" nillable="true" type="tns:ArrayOfListParameter" />
  <xs:complexType name="ListParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARAMETRO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERIODO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR_C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR_L" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR_N" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListParameter" nillable="true" type="tns:ListParameter" />
</xs:schema>