Claro.SIACU.Web.WebApplication.Transac.Service/Service References/ColivingTransacService/ColivingTransacService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeaderToBe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimesTamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderToBe" nillable="true" type="tns:HeaderToBe" />
  <xs:complexType name="ArrayOfListOptional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListOptional" nillable="true" type="tns:ListOptional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListOptional" nillable="true" type="tns:ArrayOfListOptional" />
  <xs:complexType name="ListOptional">
    <xs:sequence>
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOptional" nillable="true" type="tns:ListOptional" />
  <xs:complexType name="AuditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditResponse" nillable="true" type="tns:AuditResponse" />
  <xs:complexType name="AuditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioAplicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditRequest" nillable="true" type="tns:AuditRequest" />
  <xs:complexType name="ArrayOfListItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItems" nillable="true" type="tns:ListItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItems" nillable="true" type="tns:ArrayOfListItems" />
  <xs:complexType name="ListItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListItems" nillable="true" type="tns:ListItems" />
  <xs:complexType name="ArrayOfDataHistorical">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataHistorical" nillable="true" type="tns:DataHistorical" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataHistorical" nillable="true" type="tns:ArrayOfDataHistorical" />
  <xs:complexType name="DataHistorical">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNoteFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNoteLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeMot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocRep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocTypeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecMod1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecMod2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecMod3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecMod4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalRep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Movil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalityDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistroCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nSequense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updDataMinor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updDirFac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updDirLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updRepLegal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataHistorical" nillable="true" type="tns:DataHistorical" />
</xs:schema>