Claro.SIACU.Web.WebApplication.Transac.Service/Service References/ColivingTransacService/ColivingTransacService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving.GetUpdateDataClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving.GetUpdateDataClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/ColivingTransacService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" />
  <xs:complexType name="GetUpdateDataClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizarDatosClienteRequest" nillable="true" type="tns:GetUpdateClientRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUpdateDataClientRequest" nillable="true" type="tns:GetUpdateDataClientRequest" />
  <xs:complexType name="GetUpdateClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="clienteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="csId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="csIdPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datosCliente" nillable="true" type="tns:GetDataClientRequest" />
      <xs:element minOccurs="0" name="dirSecuencial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaCuentaFacturacion" nillable="true" type="tns:ArrayOfGetAccountBillingRequest" />
      <xs:element minOccurs="0" name="listaDatosCuentaFacturacion" nillable="true" type="tns:ArrayOfGetListDataAccountBillingRequest" />
      <xs:element minOccurs="0" name="listaDirecciones" nillable="true" type="tns:ArrayOfGetListAddressRequest" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" minOccurs="0" name="listaOpcional" nillable="true" type="q1:ArrayOfListOptional" />
      <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sistemaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUpdateClientRequest" nillable="true" type="tns:GetUpdateClientRequest" />
  <xs:complexType name="GetDataClientRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasificacionDeMercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostalLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamentoLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionReferenciaLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distritoLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="limiteCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paisLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provinciaLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sectorComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segmentoComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoReferencia1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoReferencia2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeoDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urbanizacionLegal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDataClientRequest" nillable="true" type="tns:GetDataClientRequest" />
  <xs:complexType name="ArrayOfGetAccountBillingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAccountBillingRequest" nillable="true" type="tns:GetAccountBillingRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAccountBillingRequest" nillable="true" type="tns:ArrayOfGetAccountBillingRequest" />
  <xs:complexType name="GetAccountBillingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagFacturacionDividida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagPrimaria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idClientePub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMedioFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoFacturaPublico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indicadorUso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldoAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldoCuentaFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaFechaFacturacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountBillingRequest" nillable="true" type="tns:GetAccountBillingRequest" />
  <xs:complexType name="ArrayOfGetListDataAccountBillingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetListDataAccountBillingRequest" nillable="true" type="tns:GetListDataAccountBillingRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetListDataAccountBillingRequest" nillable="true" type="tns:ArrayOfGetListDataAccountBillingRequest" />
  <xs:complexType name="GetListDataAccountBillingRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="codCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuentaCambioSaldo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuentaTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagDetalleLLamadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoFacturaVinculada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelCambioMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldoActualCuentaFact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secuencialDirFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secuencialDirFacturaTemp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListDataAccountBillingRequest" nillable="true" type="tns:GetListDataAccountBillingRequest" />
  <xs:complexType name="ArrayOfGetListAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetListAddressRequest" nillable="true" type="tns:GetListAddressRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetListAddressRequest" nillable="true" type="tns:ArrayOfGetListAddressRequest" />
  <xs:complexType name="GetListAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="adrNacinalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adrNacinalidadPublico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codIdiomaPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirAdic1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirAdic2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirAnios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirAreaTlf1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirAreaTlf2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirBorrado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCalleNoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCiudadPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCodPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirEmpleador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirFax1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirFax1Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirFaxEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirFechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirFechaValidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirLabor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirLicencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirMensCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirNombre2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirNote1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirNote2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirNote3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirNroReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirRegEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirRoles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirSecuencial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirSexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirSugerencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirTemp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirTipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirTlf1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirTlf2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirUrgente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dirUsoDif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivilPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPaisPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTituloPub" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListAddressRequest" nillable="true" type="tns:GetListAddressRequest" />
  <xs:complexType name="RequestCUParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="codigoClienteUnico" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="participanteId" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestCUParticipante" nillable="true" type="tns:RequestCUParticipante" />
  <xs:complexType name="ResponseCUParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" name="claroFault" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="codigoRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="mensajeError" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="participante" nillable="true" type="tns:ArrayOfParticipante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseCUParticipante" nillable="true" type="tns:ResponseCUParticipante" />
  <xs:complexType name="ArrayOfParticipante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participante" nillable="true" type="tns:Participante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipante" nillable="true" type="tns:ArrayOfParticipante" />
  <xs:complexType name="Participante">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clasificacionDeMercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoClienteUnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostalLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamentoLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionReferenciaLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distritoLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivilDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacionProspecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="limiteCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaDetalleSegmento" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="lugarNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nacionalidadDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nacionalidadId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paisLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="participanteId" type="xs:int" />
      <xs:element minOccurs="0" name="provinciaLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saldoLimiteCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sectorComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segmentoComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sistemaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoReferencia1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoReferencia2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeoDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urbanizacionLegal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participante" nillable="true" type="tns:Participante" />
</xs:schema>