Claro.SIACU.ProxyService.Transac.Service/Web References/SIACFIXED.PlanMigrationServices/MED_CambioPlanFija.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://claro.com.pe/esb/data/postventa/cambioPlanFija/v1/" xmlns:WL5G3N2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:WL5G3N4="http://claro.com.pe/esb/postventa/BSS_CambioPlanFija/v1/" name="MED_CambioPlanFija" targetNamespace="http://claro.com.pe/esb/postventa/BSS_CambioPlanFija/v1/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:header="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/postventa/BSS_CambioPlanFija/v1/" xmlns:inp2="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp1="http://claro.com.pe/esb/data/postventa/cambioPlanFija/v1/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://10.172.139.63:7003/BSS_CambioPlanFija/SRV_CambioPlanFija/Service/Mediation/MED_CambioPlanFija_v1?SCHEMA%2FBSS_CambioPlanFija%2FSRV_CambioPlanFija%2FResource%2FXSD%2FCambioPlanFija_v1" namespace="http://claro.com.pe/esb/data/postventa/cambioPlanFija/v1/" />
      <xsd:import schemaLocation="http://10.172.139.63:7003/BSS_CambioPlanFija/SRV_CambioPlanFija/Service/Mediation/MED_CambioPlanFija_v1?SCHEMA%2FBSS_CambioPlanFija%2FSRV_CambioPlanFija%2FResource%2FXSD%2FClaroFault_v1" namespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" />
      <xsd:import schemaLocation="http://10.172.139.63:7003/BSS_CambioPlanFija/SRV_CambioPlanFija/Service/Mediation/MED_CambioPlanFija_v1?SCHEMA%2FBSS_CambioPlanFija%2FSRV_CambioPlanFija%2FResource%2FXSD%2FClaroGenericHeaders_v1" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ejecutarCambioPlanFijaRequestMessage">
    <WL5G3N0:part name="ejecutarCambioPlanFijaRequest" element="WL5G3N1:ejecutarCambioPlanFijaRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ejecutarCambioPlanFijaResponseMessage">
    <WL5G3N0:part name="ejecutarCambioPlanFijaResponse" element="WL5G3N1:ejecutarCambioPlanFijaResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="claroFault">
    <WL5G3N0:part name="claroFault" element="WL5G3N2:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequest">
    <WL5G3N0:part name="headerRequest" element="WL5G3N3:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponse">
    <WL5G3N0:part name="headerResponse" element="WL5G3N3:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="cambioPlanFijaPort">
    <WL5G3N0:operation name="ejecutarCambioPlan">
      <WL5G3N0:input message="WL5G3N4:ejecutarCambioPlanFijaRequestMessage" />
      <WL5G3N0:output message="WL5G3N4:ejecutarCambioPlanFijaResponseMessage" />
      <WL5G3N0:fault name="claroFault" message="WL5G3N4:claroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="cambioPlanFijaSOAP11Binding" type="WL5G3N4:cambioPlanFijaPort">
    <WL5G3N5:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="ejecutarCambioPlan">
      <WL5G3N5:operation soapAction="http://claro.com.pe/esb/postventa/BSS_CambioPlanFija/v1/ejecutarCambioPlan" style="document" />
      <WL5G3N0:input>
        <WL5G3N5:body use="literal" parts="ejecutarCambioPlanFijaRequest" />
        <WL5G3N5:header message="WL5G3N4:headerRequest" part="headerRequest" use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body use="literal" parts="ejecutarCambioPlanFijaResponse" />
        <WL5G3N5:header message="WL5G3N4:headerResponse" part="headerResponse" use="literal" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="claroFault">
        <WL5G3N5:fault use="literal" name="claroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="cambioPlanFija">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="ebsCambioPlanFijaPort11" binding="WL5G3N4:cambioPlanFijaSOAP11Binding">
      <WL5G3N5:address location="http://10.172.139.63:7003/BSS_CambioPlanFija/SRV_CambioPlanFija/Service/Mediation/MED_CambioPlanFija_v1" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>