Claro.SIACU.ProxyService.Transac.Service/Web References/CargaDocumentOnBaseWS/cargaDocumentOnBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap11/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:pocdocv1dat="http://claro.com.pe/esb/message/CargaDocumentOnBase/cargarDocumentoOnBase/v1/" xmlns:hd="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:pocdocv1="http://claro.com.pe/esb/postventa/cargaDocumentOnBase/v1/" xmlns:v1="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:fault="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:header="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="cargaDocumentOnBase" targetNamespace="http://claro.com.pe/esb/postventa/cargaDocumentOnBase/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/postventa/cargaDocumentOnBase/v1/types">
      <xsd:import schemaLocation="cargaDocumentOnBaseSOAP11Binding?WSDL&amp;interface=cargaDocumentOnBaseSOAP11Binding&amp;part=cargarDocumentoOnBase.xsd" namespace="http://claro.com.pe/esb/message/CargaDocumentOnBase/cargarDocumentoOnBase/v1/" />
      <xsd:import schemaLocation="cargaDocumentOnBaseSOAP11Binding?WSDL&amp;interface=cargaDocumentOnBaseSOAP11Binding&amp;part=HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
      <xsd:import schemaLocation="cargaDocumentOnBaseSOAP11Binding?WSDL&amp;interface=cargaDocumentOnBaseSOAP11Binding&amp;part=ClaroFault_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroFault/v2/" />
      <xsd:import schemaLocation="cargaDocumentOnBaseSOAP11Binding?WSDL&amp;interface=cargaDocumentOnBaseSOAP11Binding&amp;part=ClaroGenericHeaders_v2.xsd" namespace="http://claro.com.pe/esb/data/commonBusinessEntities/claroGenericHeaders/v2/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="fault:claroFault" />
  </wsdl:message>
  <wsdl:message name="headerResponse">
    <wsdl:part name="headerResponse" element="header:headerResponse" />
  </wsdl:message>
  <wsdl:message name="headerRequest">
    <wsdl:part name="headerRequest" element="header:headerRequest" />
  </wsdl:message>
  <wsdl:message name="CargarDocumentoOnBaseRequestMessage">
    <wsdl:part name="cargarDocumentoOnBaseRequest" element="pocdocv1dat:CargarDocumentoOnBaseRequestMessage" />
  </wsdl:message>
  <wsdl:message name="HeaderRequest">
    <wsdl:part name="HeaderRequest" element="v1:HeaderRequest" />
  </wsdl:message>
  <wsdl:message name="CargarDocumentoOnBaseResponseMessage">
    <wsdl:part name="cargarDocumentoOnBaseResponse" element="pocdocv1dat:CargarDocumentoOnBaseResponseMessage" />
  </wsdl:message>
  <wsdl:message name="HeaderResponse">
    <wsdl:part name="HeaderResponse" element="v1:HeaderResponse" />
  </wsdl:message>
  <wsdl:portType name="cargaDocumentOnBasePort">
    <wsdl:operation name="cargarDocumentoOnBase">
      <wsdl:input message="pocdocv1:CargarDocumentoOnBaseRequestMessage" />
      <wsdl:output message="pocdocv1:CargarDocumentoOnBaseResponseMessage" />
      <wsdl:fault name="claroFault" message="pocdocv1:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cargaDocumentOnBaseSOAP11Binding" type="pocdocv1:cargaDocumentOnBasePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarDocumentoOnBase">
      <soap:operation soapAction="http://claro.com.pe/esb/postventa/cargaDocumentOnBase/v1/cargarDocumentoOnBase" style="document" />
      <wsdl:input>
        <soap:header message="pocdocv1:HeaderRequest" part="HeaderRequest" use="literal" />
        <soap:header message="pocdocv1:headerRequest" part="headerRequest" use="literal" />
        <soap:body use="literal" parts="cargarDocumentoOnBaseRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="pocdocv1:HeaderResponse" part="HeaderResponse" use="literal" />
        <soap:header message="pocdocv1:headerResponse" part="headerResponse" use="literal" />
        <soap:body use="literal" parts="cargarDocumentoOnBaseResponse" />
      </wsdl:output>
      <wsdl:fault name="claroFault">
        <soap:fault use="literal" name="claroFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cargaDocumentOnBase">
    <wsdl:port name="cargaDocumentOnBasePort" binding="pocdocv1:cargaDocumentOnBaseSOAP11Binding">
      <soap:address location="http://localhost:8090/cargaDocumentOnBaseSOAP11Binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>