Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SpecificationAttachmentOnBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="listEntitySpectAttach" nillable="true" type="tns:entitySpecAttachExtensionOnBase" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecificationAttachmentOnBase" nillable="true" type="tns:SpecificationAttachmentOnBase" />
  <xs:complexType name="entitySpecAttachExtensionOnBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fileBase64" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="entitySpecAttachExtensionOnBase" nillable="true" type="tns:entitySpecAttachExtensionOnBase" />
  <xs:complexType name="ArrayOfmetadatosOnBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="metadatosOnBase" nillable="true" type="tns:metadatosOnBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmetadatosOnBase" nillable="true" type="tns:ArrayOfmetadatosOnBase" />
  <xs:complexType name="metadatosOnBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="metadatosOnBase" nillable="true" type="tns:metadatosOnBase" />
  <xs:complexType name="ConnectionSFTP">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeyPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path_Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registryKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionSFTP" nillable="true" type="tns:ConnectionSFTP" />
  <xs:complexType name="ArrayOfBEHub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEHub" nillable="true" type="tns:BEHub" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEHub" nillable="true" type="tns:ArrayOfBEHub" />
  <xs:complexType name="BEHub">
    <xs:sequence>
      <xs:element minOccurs="0" name="strCintillo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCmts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCodSuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDirSuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strHub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strHubDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strIdPlano" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNomSuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNomUrb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNumVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEHub" nillable="true" type="tns:BEHub" />
  <xs:complexType name="Iteraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APELLIDO_AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASE_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ES_TFI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_CREACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_CASO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HECHO_EN_UNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_CASO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INCONVENIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSERTADO_POR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="METODO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJID_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESULTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBCLASE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBCLASE_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_INTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO_PROCESO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Iteraction" nillable="true" type="tns:Iteraction" />
  <xs:complexType name="InsertTemplateInteraction">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ID_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_MSISDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NOMBRE_TRANSACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NRO_DIAS" type="xs:int" />
      <xs:element minOccurs="0" name="_NRO_TARJETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_NRO_TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_P_OLD_ID_CONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_P_USUARIO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_SESSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Script_IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_TICKET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_TIENE_DATOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADDRESS5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ADJUSTMENT_AMOUNT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_ADJUSTMENT_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_AMOUNT_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_BASKET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_BIRTHDAY" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_CHARGE_AMOUNT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARIFY_INTERACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLAROLOCAL6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_LDN4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CLARO_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CONTACT_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_CONTACT_SEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DEPARTMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DISTRICT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DNI_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_DOCUMENT_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EMAIL_CONFIRMATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_EXPIRE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FIXED_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_CHANGE_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_CHARGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_OTHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_REGISTERED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_FLAG_TITULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ICCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_10" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_11" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_12" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_13" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_14" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_21" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_22" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_23" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_24" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_25" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_26" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_27" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_28" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_29" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_30" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_INTER_8" type="xs:double" />
      <xs:element minOccurs="0" name="_X_INTER_9" type="xs:double" />
      <xs:element minOccurs="0" name="_X_LASTNAME_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LDI_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_LOT_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MARITAL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MODEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_MONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_NAME_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_NRO_INTERACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OCCUPATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLAROLOCAL6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_CLARO_LDN4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_DOC_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIXED_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_FIXED_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OLD_LDI_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OPERATION_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OST_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_DOC_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_LAST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_OTHER_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_PHONE_LEGAL_REP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_PLUS_INTER2INTERACT" type="xs:double" />
      <xs:element minOccurs="0" name="_X_POSITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_RECHARGE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_X_REFERENCE_ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REFERENCE_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_REGISTRATION_REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_TRIO_ANTIGUO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_TYPE_DOCUMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_X_ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertTemplateInteraction" nillable="true" type="tns:InsertTemplateInteraction" />
</xs:schema>