Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService59.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetHistoryToa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetHistoryToa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="HistoryToaRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strCodPlano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCodZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strDiaReserva" type="xs:dateTime" />
          <xs:element minOccurs="0" name="strFranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strIdBucket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strIdConsulta" type="xs:int" />
          <xs:element minOccurs="0" name="strNroOrden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strSubTipoOrden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoOrden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoTransaccion" type="xs:int" />
          <xs:element minOccurs="0" name="strValor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryToaRequest" nillable="true" type="tns:HistoryToaRequest" />
  <xs:complexType name="HistoryToaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="strCodResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strMsjResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNroOrden" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryToaResponse" nillable="true" type="tns:HistoryToaResponse" />
</xs:schema>