Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9912.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRecordTransExtInt" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRecordTransExtInt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RecordTranferExtIntRequestFixed">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EdificioID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaProgramada" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FranjaHora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InterCasoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListaCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListaEquipos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListaSNCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ListaSPCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MotivoID" type="xs:int" />
          <xs:element minOccurs="0" name="NomUrb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomVia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NroVia" type="xs:int" />
          <xs:element minOccurs="0" name="NumCarta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumLote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumMZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObtenerHoraAgendaETA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Operador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlanoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Presuscrito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Publicar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Servicios" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="TipMz" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoUrb" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoVia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TmCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrabajoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransTipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USRREGIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ubigeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZonaID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agendaGetCodigoFranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agendaGetFecha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agendaGetFranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agendaGetTipoTrabajo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agendaGetValidaEta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="chkEmailChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="chkSN" type="xs:boolean" />
          <xs:element minOccurs="0" name="chkUseChangeBillingChecked" type="xs:boolean" />
          <xs:element minOccurs="0" name="hdnCodigoRequestAct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hdnInterIDValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strtypetransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="txtNotText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="txtNumDir" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecordTranferExtIntRequestFixed" nillable="true" type="tns:RecordTranferExtIntRequestFixed" />
  <xs:complexType name="RecordTranferExtIntResponseFixed">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodMessaTransfer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescMessaTransfer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescTransfer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTransfer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordTranferExtIntResponseFixed" nillable="true" type="tns:RecordTranferExtIntResponseFixed" />
</xs:schema>