Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetAccountStatus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetAccountStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="AccountStatusRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="pCliNroCuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pCodAplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pFechaDesde" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pFechaHasta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pFlagSoloDisputa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pFlagSoloSaldo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pNroPagina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pNroTelefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pTamanoPagina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pTipoConsulta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pTipoServicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pUsuarioAplic" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountStatusRequest" nillable="true" type="tns:AccountStatusRequest" />
  <xs:complexType name="AccountStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="audit" nillable="true" type="tns:Audit" />
      <xs:element minOccurs="0" name="xEstadoCuenta" nillable="true" type="tns:AccountStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStatusResponse" nillable="true" type="tns:AccountStatusResponse" />
  <xs:complexType name="Audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:complexType name="AccountStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="xDetalleEstadoCuentaCab" nillable="true" type="tns:ArrayOfAccountStatusDetailH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStatus" nillable="true" type="tns:AccountStatus" />
  <xs:complexType name="ArrayOfAccountStatusDetailH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountStatusDetailH" nillable="true" type="tns:AccountStatusDetailH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountStatusDetailH" nillable="true" type="tns:ArrayOfAccountStatusDetailH" />
  <xs:complexType name="AccountStatusDetailH">
    <xs:sequence>
      <xs:element minOccurs="0" name="xCicloFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xCodCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xCodCuentaAlterna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xCreditScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDescUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDetalleTrx" nillable="true" type="tns:TrxDetail" />
      <xs:element minOccurs="0" name="xDeudaActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDeudaVencida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xEstadoCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaActivacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaUltFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaUtlPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xLimiteCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xNombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTipoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTotalMontoDisputa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStatusDetailH" nillable="true" type="tns:AccountStatusDetailH" />
  <xs:complexType name="TrxDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="xDetalleEstadoCuenta" nillable="true" type="tns:ArrayOfAccountStatusDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrxDetail" nillable="true" type="tns:TrxDetail" />
  <xs:complexType name="ArrayOfAccountStatusDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountStatusDetail" nillable="true" type="tns:AccountStatusDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountStatusDetail" nillable="true" type="tns:ArrayOfAccountStatusDetail" />
  <xs:complexType name="AccountStatusDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="xAbono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDescripDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDescripExtend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDocAnio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDocAnioVenc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDocMes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDocMesVenc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xEstadoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaEmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFlagCargoCta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xIdDocOAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xIdDocOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoDolares" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoFco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoFinan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoReclamado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMontoSoles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xNroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xNroOperacionPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xNroTicket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xSaldoCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xSaldoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xSaldoFco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xSaldoFinan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xTipoMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountStatusDetail" nillable="true" type="tns:AccountStatusDetail" />
</xs:schema>