Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetValidateDepVelLte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetValidateDepVelLte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateDepVelLteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="intContract" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateDepVelLteRequest" nillable="true" type="tns:ValidateDepVelLteRequest" />
  <xs:complexType name="ValidateDepVelLteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="intResult" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateDepVelLteResponse" nillable="true" type="tns:ValidateDepVelLteResponse" />
</xs:schema>