Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService999.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPhoneNumber" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPhoneNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="PhoneNumberRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CLASIF_RED" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLASS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTACTOBJID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONTRACT_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COST_LOCU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COST_LOCU_IGV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COST_TRANS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COST_TRANS_IGV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTIDOBJID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUSTOMER_TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOCUMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_FIDEL_LOCU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_FIDEL_TRANS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_LOCU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_PLAN_TIPI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLAG_SEND_EMAIL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FULL_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HLR_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="METHOD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATIONAL_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NRO_TELEF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMBER_PHONES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POINT_ATTENTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RESULT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SUBCLASS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TIPO_INTER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPE_NUMBER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPE_PHONE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USER_PROCESS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneNumberRequest" nillable="true" type="tns:PhoneNumberRequest" />
  <xs:complexType name="PhoneNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="NEW_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROUTE_PDF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneNumberResponse" nillable="true" type="tns:PhoneNumberResponse" />
</xs:schema>