Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetOrderSubType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetOrderSubType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="OrderSubTypesRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="av_cod_contrato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="av_cod_tipo_orden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="av_cod_tipo_trabajo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderSubTypesRequestHfc" nillable="true" type="tns:OrderSubTypesRequestHfc" />
  <xs:complexType name="OrderSubTypesResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="OrderSubTypes" nillable="true" type="q2:ArrayOfOrderSubType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSubTypesResponseHfc" nillable="true" type="tns:OrderSubTypesResponseHfc" />
</xs:schema>