Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService49.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterNuevaInteraccion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterNuevaInteraccion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterNuevaInteraccionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="interaccion" nillable="true" type="tns:Interaccion" />
          <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterNuevaInteraccionRequest" nillable="true" type="tns:RegisterNuevaInteraccionRequest" />
  <xs:complexType name="Interaccion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Claro" base="q2:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="clase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codPlano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoEmpleado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigoSistema" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flagCaso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hechoEnUno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inconv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="inconvenCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="metodoContacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="servAfect" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="servAfectCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="siteObjId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="subClase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="textResultado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoInteraccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valor1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valor2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Interaccion" nillable="true" type="tns:Interaccion" />
  <xs:complexType name="RegisterNuevaInteraccionPlusRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="Claro" base="q3:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="interaccionPlus" nillable="true" type="tns:InteraccionPlus" />
          <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterNuevaInteraccionPlusRequest" nillable="true" type="tns:RegisterNuevaInteraccionPlusRequest" />
  <xs:complexType name="InteraccionPlus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Claro" base="q4:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="p_ADDRESS5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_CHARGE_AMOUNT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_CITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_CONTACT_SEX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_DEPARTMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_DISTRICT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_EMAIL_CONFIRMATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_FAX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_FLAG_CHARGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_MARITAL_STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_OCCUPATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_POSITION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_REFERENCE_ADDRESS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_TYPE_DOCUMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_ZIPCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_adjustment_amount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_adjustment_reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_amount_unit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_basket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_birthday" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarify_interaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_claro_ldn1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_claro_ldn2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_claro_ldn3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_claro_ldn4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_claro_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_clarolocal6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_contact_phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_dni_legal_rep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_document_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_expire_date" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_first_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_fixed_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_flag_change_user" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_flag_legal_rep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_flag_other" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_flag_registered" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_flag_titular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_iccid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_imei" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_11" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_12" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_13" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_14" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_15" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_16" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_17" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_18" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_19" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_20" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_21" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_22" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_23" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_24" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_25" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_26" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_27" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_28" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_29" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_30" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_inter_9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_last_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_lastname_rep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_ldi_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_lot_code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_month" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_name_legal_rep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_nro_interaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_claro_ldn1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_claro_ldn2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_claro_ldn3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_claro_ldn4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_clarolocal6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_doc_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_first_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_fixed_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_fixed_phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_last_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_old_ldi_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_operation_type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_ost_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_other_doc_number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_other_first_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_other_last_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_other_phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_phone_legal_rep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_plus_inter2interact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_reference_phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="p_registration_reason" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InteraccionPlus" nillable="true" type="tns:InteraccionPlus" />
</xs:schema>