Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService80.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetConsultClientSN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetConsultClientSN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="ConsultClientSNRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ConsultClientSNMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultClientSNRequest" nillable="true" type="tns:ConsultClientSNRequest" />
  <xs:complexType name="ConsultClientSNMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultClientSNBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultClientSNHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNMessageRequest" nillable="true" type="tns:ConsultClientSNMessageRequest" />
  <xs:complexType name="ConsultClientSNBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="queryUserOttRequest" nillable="true" type="q2:QueryUserOttRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNBodyRequest" nillable="true" type="tns:ConsultClientSNBodyRequest" />
  <xs:complexType name="ConsultClientSNHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNHeaderRequest" nillable="true" type="tns:ConsultClientSNHeaderRequest" />
  <xs:complexType name="ConsultClientSNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ConsultClientSNMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNResponse" nillable="true" type="tns:ConsultClientSNResponse" />
  <xs:complexType name="ConsultClientSNMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultClientSNBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultClientSNHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNMessageResponse" nillable="true" type="tns:ConsultClientSNMessageResponse" />
  <xs:complexType name="ConsultClientSNBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="queryUserOttResponse" nillable="true" type="q4:queryUserOttResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNBodyResponse" nillable="true" type="tns:ConsultClientSNBodyResponse" />
  <xs:complexType name="ConsultClientSNHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultClientSNHeaderResponse" nillable="true" type="tns:ConsultClientSNHeaderResponse" />
</xs:schema>