Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9934.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCallDetailSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallDetailSummary" nillable="true" type="tns:CallDetailSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallDetailSummary" nillable="true" type="tns:ArrayOfCallDetailSummary" />
  <xs:complexType name="CallDetailSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Co_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSISDN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroOrd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailSummary" nillable="true" type="tns:CallDetailSummary" />
</xs:schema>