Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService68.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRegistarInstaDecoAdiHFC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRegistarInstaDecoAdiHFC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegistarInstaDecoAdiHFCRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplicacaBono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanalAtencion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoBono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoFijoCIGV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CargoFijoSIGV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoCampana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoPlano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSistema" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoTipoTrabajo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostoInstalacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrentPlan" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="Customer" nillable="true" type="q2:Customer" />
          <xs:element minOccurs="0" name="DescripcionServicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoLinea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaActivacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaProgramacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Fidelizar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagTBono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FranjaHoraria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontoIGV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroClaro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodoBono" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ServiceByPlan" nillable="true" type="q3:ServiceByPlan" />
          <xs:element minOccurs="0" name="listaRequestOpcional" nillable="true" type="tns:ArrayOflistaRequestOpcional" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistarInstaDecoAdiHFCRequest" nillable="true" type="tns:RegistarInstaDecoAdiHFCRequest" />
  <xs:complexType name="ArrayOflistaRequestOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaRequestOpcional" nillable="true" type="tns:listaRequestOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflistaRequestOpcional" nillable="true" type="tns:ArrayOflistaRequestOpcional" />
  <xs:complexType name="listaRequestOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="listaRequestOpcional" nillable="true" type="tns:listaRequestOpcional" />
  <xs:complexType name="RegistarInstaDecoAdiHFCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodSolot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistarInstaDecoAdiHFCResponse" nillable="true" type="tns:RegistarInstaDecoAdiHFCResponse" />
</xs:schema>