Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="datosCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactos" nillable="true" type="tns:ArrayOfcontactos" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="tns:ArrayOfdetalle" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombresYApellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datosCliente" nillable="true" type="tns:datosCliente" />
  <xs:complexType name="ArrayOfcontactos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contactos" nillable="true" type="tns:contactos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcontactos" nillable="true" type="tns:ArrayOfcontactos" />
  <xs:complexType name="contactos">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombresContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocDescContact" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contactos" nillable="true" type="tns:contactos" />
  <xs:complexType name="ArrayOfdetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detalle" nillable="true" type="tns:detalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdetalle" nillable="true" type="tns:ArrayOfdetalle" />
  <xs:complexType name="detalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactAplic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desContactCanal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="interacId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMedioAprob" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detalle" nillable="true" type="tns:detalle" />
  <xs:complexType name="ArrayOfListServices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListServices" nillable="true" type="tns:ListServices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListServices" nillable="true" type="tns:ArrayOfListServices" />
  <xs:complexType name="ListServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactAplic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desContactCanal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="interactId" type="xs:int" />
      <xs:element minOccurs="0" name="motivoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="motivoHist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombApell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombresContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocDescContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMedioAprob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoOper" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListServices" nillable="true" type="tns:ListServices" />
</xs:schema>