Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetBpelCallDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetBpelCallDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="BpelCallDetailRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="DetalleLlamadasRequestBpel" nillable="true" type="q2:DetalleLlamadasRequestBpel" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="HeaderRequestTypeBpel" nillable="true" type="q3:HeaderRequestTypeBpel" />
          <xs:element minOccurs="0" name="StrIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrSecurity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTransaction" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BpelCallDetailRequest" nillable="true" type="tns:BpelCallDetailRequest" />
  <xs:complexType name="BpelCallDetailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCicloFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCicloIni" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ListBilledCallsDetailHfc" nillable="true" type="q4:ArrayOfBilledCallsDetailHFC" />
      <xs:element minOccurs="0" name="StrResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BpelCallDetailResponse" nillable="true" type="tns:BpelCallDetailResponse" />
</xs:schema>