Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9946.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetJobTypeConfigIP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetJobTypeConfigIP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="JobTypesConfigIPRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JobTypesConfigIPRequest" nillable="true" type="tns:JobTypesConfigIPRequest" />
  <xs:complexType name="ArrayOfJobTypesConfigIPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobTypesConfigIPResponse" nillable="true" type="tns:JobTypesConfigIPResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobTypesConfigIPResponse" nillable="true" type="tns:ArrayOfJobTypesConfigIPResponse" />
  <xs:complexType name="JobTypesConfigIPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_ACTIVA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_SERV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPTRA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobTypesConfigIPResponse" nillable="true" type="tns:JobTypesConfigIPResponse" />
</xs:schema>