Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTITOBE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTITOBE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="ResponseAudit">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseAudit" nillable="true" type="tns:ResponseAudit" />
  <xs:complexType name="ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="descartes" nillable="true" type="tns:ArrayOfDescartes" />
      <xs:element minOccurs="0" name="grupos" nillable="true" type="tns:ArrayOfGrupos" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listaOpcional" nillable="true" type="q1:ArrayOfItemOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseData" nillable="true" type="tns:ResponseData" />
  <xs:complexType name="ArrayOfDescartes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Descartes" nillable="true" type="tns:Descartes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDescartes" nillable="true" type="tns:ArrayOfDescartes" />
  <xs:complexType name="Descartes">
    <xs:sequence>
      <xs:element minOccurs="0" name="descarteListaValor" nillable="true" type="tns:ArrayOfDescarteListaValor" />
      <xs:element minOccurs="0" name="descarteValor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionDescarte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagDescarte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagOk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDescarte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreVariable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordenDescarte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDescarte" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Descartes" nillable="true" type="tns:Descartes" />
  <xs:complexType name="ArrayOfDescarteListaValor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DescarteListaValor" nillable="true" type="tns:DescarteListaValor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDescarteListaValor" nillable="true" type="tns:ArrayOfDescarteListaValor" />
  <xs:complexType name="DescarteListaValor">
    <xs:sequence>
      <xs:element minOccurs="0" name="esCabecera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="movNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DescarteListaValor" nillable="true" type="tns:DescarteListaValor" />
  <xs:complexType name="ArrayOfGrupos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grupos" nillable="true" type="tns:Grupos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrupos" nillable="true" type="tns:ArrayOfGrupos" />
  <xs:complexType name="Grupos">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagVisual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idGrupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grupos" nillable="true" type="tns:Grupos" />
  <xs:complexType name="ConsultDiscartRTITOBERequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiRequest" nillable="true" type="tns:ConsultarDescartesRtiRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscartRTITOBERequest" nillable="true" type="tns:ConsultDiscartRTITOBERequest" />
  <xs:complexType name="ConsultarDescartesRtiRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coIdPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagConvivencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listaOpcional" nillable="true" type="q2:ArrayOfItemOpcional" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarDescartesRtiRequest" nillable="true" type="tns:ConsultarDescartesRtiRequest" />
  <xs:complexType name="ConsultDiscartRTITOBEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiResponse" nillable="true" type="tns:ConsultarDescartesRtiResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscartRTITOBEResponse" nillable="true" type="tns:ConsultDiscartRTITOBEResponse" />
  <xs:complexType name="ConsultarDescartesRtiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseAudit" nillable="true" type="tns:ResponseAudit" />
      <xs:element minOccurs="0" name="responseData" nillable="true" type="tns:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarDescartesRtiResponse" nillable="true" type="tns:ConsultarDescartesRtiResponse" />
  <xs:complexType name="ConsultDiscartRTITOBERequestGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiRequest" nillable="true" type="tns:ConsultarDescartesRtiRequestGrupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscartRTITOBERequestGrupo" nillable="true" type="tns:ConsultDiscartRTITOBERequestGrupo" />
  <xs:complexType name="ConsultarDescartesRtiRequestGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coIdPub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagConvivencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grupoDescarte" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listaOpcional" nillable="true" type="q3:ArrayOfItemOpcional" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarDescartesRtiRequestGrupo" nillable="true" type="tns:ConsultarDescartesRtiRequestGrupo" />
</xs:schema>