Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetailDB1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetailDB1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="CallDetailDB1Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vCONTRATOID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_FIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_INI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vSeguridad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallDetailDB1Request" nillable="true" type="tns:CallDetailDB1Request" />
  <xs:complexType name="CallDetailDB1Response">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="LstPhoneCall" nillable="true" type="q2:ArrayOfPhoneCall" />
      <xs:element minOccurs="0" name="MSGERROR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vTOTAL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailDB1Response" nillable="true" type="tns:CallDetailDB1Response" />
</xs:schema>