Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetCancelSubscriptionSN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetCancelSubscriptionSN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="CancelSubscriptionSNRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:CancelSubscriptionSNMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNRequest" nillable="true" type="tns:CancelSubscriptionSNRequest" />
  <xs:complexType name="CancelSubscriptionSNMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:CancelSubscriptionSNBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:CancelSubscriptionSNHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNMessageRequest" nillable="true" type="tns:CancelSubscriptionSNMessageRequest" />
  <xs:complexType name="CancelSubscriptionSNBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="cancelarSuscripcionSNRequest" nillable="true" type="q2:CancelarSuscripcionSNRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNBodyRequest" nillable="true" type="tns:CancelSubscriptionSNBodyRequest" />
  <xs:complexType name="CancelSubscriptionSNHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNHeaderRequest" nillable="true" type="tns:CancelSubscriptionSNHeaderRequest" />
  <xs:complexType name="CancelSubscriptionSNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:CancelSubscriptionSNMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNResponse" nillable="true" type="tns:CancelSubscriptionSNResponse" />
  <xs:complexType name="CancelSubscriptionSNMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:CancelSubscriptionSNBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:CancelSubscriptionSNHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNMessageResponse" nillable="true" type="tns:CancelSubscriptionSNMessageResponse" />
  <xs:complexType name="CancelSubscriptionSNBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="cancelAccountResponse" nillable="true" type="q4:CancelAccountResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNBodyResponse" nillable="true" type="tns:CancelSubscriptionSNBodyResponse" />
  <xs:complexType name="CancelSubscriptionSNHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelSubscriptionSNHeaderResponse" nillable="true" type="tns:CancelSubscriptionSNHeaderResponse" />
</xs:schema>