Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9938.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetIdUbigeo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetIdUbigeo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="IdUbigeoFixedRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strDepartment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strDistrict" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strState" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdUbigeoFixedRequest" nillable="true" type="tns:IdUbigeoFixedRequest" />
  <xs:complexType name="IdUbigeoFixedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="strIdUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdUbigeoFixedResponse" nillable="true" type="tns:IdUbigeoFixedResponse" />
</xs:schema>