Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.PostExecuteDecosLte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.PostExecuteDecosLte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="DecosLteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="AuditRegister" nillable="true" type="q2:AuditRegister" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="DecoCustomer" nillable="true" type="q3:DecoCustomer" />
          <xs:element minOccurs="0" name="EtaValidation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FlagConting" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="GenerateConstancy" nillable="true" type="q4:GenerateConstancy" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="InsInteractionPlus" nillable="true" type="q5:InteractionPlusBpel" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="Interaction" nillable="true" type="q6:InteractionBpel" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="LstDecoders" nillable="true" type="q7:ArrayOfLteDecoder" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="RealizarFidelizacion" nillable="true" type="q8:ImplementLoyalty" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="RealizarOcc" nillable="true" type="q9:ImplementOcc" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="RegistrarEta" nillable="true" type="q10:RegistrarEta" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="RegistrarEtaSeleccion" nillable="true" type="q11:RegistrarEtaSeleccion" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="RegistrarProcesoPostVenta" nillable="true" type="q12:RegistrarProcesoPostVentaLte" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="SotPending" nillable="true" type="q13:SotPending" />
          <xs:element minOccurs="0" name="StrContractId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCustomerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIdSession" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DecosLteRequest" nillable="true" type="tns:DecosLteRequest" />
  <xs:complexType name="DecosLteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeInteraction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlConstancy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecosLteResponse" nillable="true" type="tns:DecosLteResponse" />
</xs:schema>