Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDispEquipment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDispEquipment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="DispEquipmentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="intTipo" type="xs:int" />
          <xs:element minOccurs="0" name="strNroserie" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DispEquipmentRequest" nillable="true" type="tns:DispEquipmentRequest" />
  <xs:complexType name="DispEquipmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Claro" base="q2:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="lstEquipments" nillable="true" type="q3:ArrayOfBEDeco" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DispEquipmentResponse" nillable="true" type="tns:DispEquipmentResponse" />
</xs:schema>