Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService60.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetConsultSN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetConsultSN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="ConsultSNRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ConsultSNMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultSNRequest" nillable="true" type="tns:ConsultSNRequest" />
  <xs:complexType name="ConsultSNMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultSNBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultSNHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNMessageRequest" nillable="true" type="tns:ConsultSNMessageRequest" />
  <xs:complexType name="ConsultSNBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="queryOttRequest" nillable="true" type="q2:QueryOttRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNBodyRequest" nillable="true" type="tns:ConsultSNBodyRequest" />
  <xs:complexType name="ConsultSNHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNHeaderRequest" nillable="true" type="tns:ConsultSNHeaderRequest" />
  <xs:complexType name="ConsultSNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ConsultSNMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNResponse" nillable="true" type="tns:ConsultSNResponse" />
  <xs:complexType name="ConsultSNMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultSNBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultSNHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNMessageResponse" nillable="true" type="tns:ConsultSNMessageResponse" />
  <xs:complexType name="ConsultSNBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="queryOttResponse" nillable="true" type="q4:QueryOttResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNBodyResponse" nillable="true" type="tns:ConsultSNBodyResponse" />
  <xs:complexType name="ConsultSNHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultSNHeaderResponse" nillable="true" type="tns:ConsultSNHeaderResponse" />
</xs:schema>