Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService91.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPlanServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPlanServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="PlanServicesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArrServices" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodeProduct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPlan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeProduct" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlanServicesRequest" nillable="true" type="tns:PlanServicesRequest" />
  <xs:complexType name="PlanServicesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="LstPlanServices" nillable="true" type="q2:ArrayOfPlanService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanServicesResponse" nillable="true" type="tns:PlanServicesResponse" />
</xs:schema>