Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9933.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetValidateActDesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetValidateActDesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ValidateActDesServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMsisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrStateService" type="xs:int" />
          <xs:element minOccurs="0" name="StrTypeRegistre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateActDesServiceRequest" nillable="true" type="tns:ValidateActDesServiceRequest" />
  <xs:complexType name="ValidateActDesServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlValues" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateActDesServiceResponse" nillable="true" type="tns:ValidateActDesServiceResponse" />
</xs:schema>