Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService994.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRegisterEtaSelection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetRegisterEtaSelection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterEtaSelectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="FechaCompromiso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Franja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdConsulta" type="xs:int" />
          <xs:element minOccurs="0" name="IdInteraccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id_Bucket" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterEtaSelectionRequest" nillable="true" type="tns:RegisterEtaSelectionRequest" />
</xs:schema>