Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCustomer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCustomer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="GetCustomerRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vContactobjid1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFlagReg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vPhone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCustomerRequest" nillable="true" type="tns:GetCustomerRequest" />
  <xs:complexType name="CustomerResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="Customer" nillable="true" type="q2:Customer" />
      <xs:element minOccurs="0" name="Resultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="contactobjid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rMsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFlagConsulta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFlagInsert" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerResponse" nillable="true" type="tns:CustomerResponse" />
</xs:schema>