Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGroupCapacity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGroupCapacity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ETAAuditoriaCapacityRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="pAPP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pIP_APP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCalcDur" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcDurEspec" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcHabTrabajo" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcHabTrabajoEspec" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcTiempoViaje" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcTiempoViajeEspec" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="vCampoActividad" nillable="true" type="q2:ArrayOfBEETACampoActivityHfc" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vEspacioTiempo" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vFechas" nillable="true" type="q4:ArrayOfdateTime" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vHabilidadTrabajo" nillable="true" type="q5:ArrayOfstring" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="vListaCapReqOpc" nillable="true" type="q6:ArrayOfBEETAListaParamRequestOpcionalCapacityHfc" />
          <xs:element minOccurs="0" name="vObtenerUbiZona" type="xs:boolean" />
          <xs:element minOccurs="0" name="vObtenerUbiZonaEspec" type="xs:boolean" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vUbicacion" nillable="true" type="q7:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ETAAuditoriaCapacityRequestHfc" nillable="true" type="tns:ETAAuditoriaCapacityRequestHfc" />
  <xs:complexType name="ETAAuditoriaCapacityResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listPlan" nillable="true" type="q8:ETAAuditoriaCapacity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETAAuditoriaCapacityResponseHfc" nillable="true" type="tns:ETAAuditoriaCapacityResponseHfc" />
</xs:schema>