Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9956.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetInsertLoyalty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetInsertLoyalty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertLoyaltyRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="oCustomer" nillable="true" type="q2:Customer" />
          <xs:element minOccurs="0" name="vCodSoLot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFechaReg" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vFlagDirecFact" type="xs:int" />
          <xs:element minOccurs="0" name="vUser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertLoyaltyRequest" nillable="true" type="tns:InsertLoyaltyRequest" />
  <xs:complexType name="InsertLoyaltyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="rCodResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rSalida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertLoyaltyResponse" nillable="true" type="tns:InsertLoyaltyResponse" />
</xs:schema>