Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService90.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPlans" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetPlans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="PlansRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strFlagEjecution" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOferta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOffice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strOfficeDefault" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strPlano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlansRequestHfc" nillable="true" type="tns:PlansRequestHfc" />
  <xs:complexType name="PlansResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listPlan" nillable="true" type="q2:ArrayOfProductPlanHfc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlansResponseHfc" nillable="true" type="tns:PlansResponseHfc" />
</xs:schema>