Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9920.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetProcessingServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetProcessingServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ProcessingServicesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vCadena" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCustomerId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessingServicesRequest" nillable="true" type="tns:ProcessingServicesRequest" />
  <xs:complexType name="ProcessingServicesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="rMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="rResultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessingServicesResponse" nillable="true" type="tns:ProcessingServicesResponse" />
</xs:schema>