Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService38.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosSIMPrepago">
    <xs:sequence>
      <xs:element minOccurs="0" name="adm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cmdCrear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cmdCreudb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iccid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pin2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puk2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="r" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosSIMPrepago" nillable="true" type="tns:DatosSIMPrepago" />
  <xs:complexType name="AplicarRetirarContingencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidosCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteCbio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escenario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetworkService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombresCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlataformaActivacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReqUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioVolte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPlan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AplicarRetirarContingencia" nillable="true" type="tns:AplicarRetirarContingencia" />
</xs:schema>