Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9956.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.DeleteProgramTaskHfc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.DeleteProgramTaskHfc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="DeleteProgTaskHfcRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrIdSession" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VstrCodId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VstrServCEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VstrServCod" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteProgTaskHfcRequest" nillable="true" type="tns:DeleteProgTaskHfcRequest" />
  <xs:complexType name="DeleteProgTaskHfcResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultStatus" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProgTaskHfcResponse" nillable="true" type="tns:DeleteProgTaskHfcResponse" />
</xs:schema>