Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9922.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetInsertETASelection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetInsertETASelection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="InsertETASelectionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vfechaCompromiso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vfranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vidInteraccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vid_bucket" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vidconsulta" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertETASelectionRequest" nillable="true" type="tns:InsertETASelectionRequest" />
  <xs:complexType name="InsertETASelectionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="vresp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertETASelectionResponse" nillable="true" type="tns:InsertETASelectionResponse" />
</xs:schema>