Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService995.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGenericSot" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGenericSot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GenericSotRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idTipoServ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCodMotivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCuId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFeProg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFranja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vObserv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vPlano" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vTipTra" type="xs:int" />
          <xs:element minOccurs="0" name="vUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vintCantidadAnexo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenericSotRequest" nillable="true" type="tns:GenericSotRequest" />
  <xs:complexType name="GenericSotResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="rCodRes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rCodSot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rDescRes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericSotResponse" nillable="true" type="tns:GenericSotResponse" />
</xs:schema>