Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9940.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGenerateOCC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetGenerateOCC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="GenerateOCCRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoOcc" type="xs:decimal" />
          <xs:element minOccurs="0" name="codigoOccSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="customerId" type="xs:decimal" />
          <xs:element minOccurs="0" name="customerIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="ipApp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="montoOcc" type="xs:float" />
          <xs:element minOccurs="0" name="montoOccSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="nroCuotas" type="xs:decimal" />
          <xs:element minOccurs="0" name="nroCuotasSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="recDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="recDateSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usrApp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenerateOCCRequest" nillable="true" type="tns:GenerateOCCRequest" />
  <xs:complexType name="GenerateOCCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registraOcc" type="xs:decimal" />
      <xs:element minOccurs="0" name="registraOccSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" name="txId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateOCCResponse" nillable="true" type="tns:GenerateOCCResponse" />
</xs:schema>