Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCommercialServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCommercialServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="CommercialServicesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommercialServicesRequest" nillable="true" type="tns:CommercialServicesRequest" />
  <xs:complexType name="CommercialServicesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="LstCommercialServices" nillable="true" type="q2:ArrayOfCommercialService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommercialServicesResponse" nillable="true" type="tns:CommercialServicesResponse" />
</xs:schema>