Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService86.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ExecutePlanMigrationLte" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ExecutePlanMigrationLte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="MigratedPlanRequestLte">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ActualizarTipificacion" nillable="true" type="q2:ActualizarTipificacion" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="AuditRegister" nillable="true" type="q3:AuditRegister" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ClientParameters" nillable="true" type="q4:ClientParameters" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="Contract" nillable="true" type="q5:Contract" />
          <xs:element minOccurs="0" name="DestinatarioCorreo" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="EtaParameters" nillable="true" type="q6:EtaParameters" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="EtaSelection" nillable="true" type="q7:EtaSelection" />
          <xs:element minOccurs="0" name="FlagContingencia" type="xs:boolean" />
          <xs:element minOccurs="0" name="FlagCrearPlantilla" type="xs:boolean" />
          <xs:element minOccurs="0" name="FlagValidaEta" type="xs:boolean" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ListCoser" nillable="true" type="q8:ArrayOfCoser" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="MainParameters" nillable="true" type="q9:MainParameters" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParametrosConstancia" nillable="true" type="xs:string" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="PlusParameters" nillable="true" type="q10:PlusParameters" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ServicesList" nillable="true" type="q11:ArrayOfServiceByPlan" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="SotParameters" nillable="true" type="q12:SotParameters" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="Tipification" nillable="true" type="q13:TypificationItem" />
          <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dblLimiteCredito" type="xs:double" />
          <xs:element minOccurs="0" name="dblMontoTopeConsumo" type="xs:double" />
          <xs:element minOccurs="0" name="dblTopeConsumo" type="xs:double" />
          <xs:element minOccurs="0" name="strAnotacionToa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCodPlan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strCodServicioGeneralTope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strComentTopeConsumo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoPlan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTipoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strTmCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MigratedPlanRequestLte" nillable="true" type="tns:MigratedPlanRequestLte" />
  <xs:complexType name="MigratedPlanResponseLte">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="result" nillable="true" type="q14:OsbLteEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MigratedPlanResponseLte" nillable="true" type="tns:MigratedPlanResponseLte" />
</xs:schema>