Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tools.Entity.DataPower" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tools.Entity.DataPower" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeaderDPRequest">
    <xs:sequence>
      <xs:element name="country" nillable="true" type="xs:string" />
      <xs:element name="language" nillable="true" type="xs:string" />
      <xs:element name="consumer" nillable="true" type="xs:string" />
      <xs:element name="system" nillable="true" type="xs:string" />
      <xs:element name="modulo" nillable="true" type="xs:string" />
      <xs:element name="pid" nillable="true" type="xs:string" />
      <xs:element name="userId" nillable="true" type="xs:string" />
      <xs:element name="dispositivo" nillable="true" type="xs:string" />
      <xs:element name="wsIp" nillable="true" type="xs:string" />
      <xs:element name="operation" nillable="true" type="xs:string" />
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element name="msgType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderDPRequest" nillable="true" type="tns:HeaderDPRequest" />
</xs:schema>