Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList.GetUpdateStateLineEmail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList.GetUpdateStateLineEmail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd41" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="UpdateStateLineEmailRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:UpdateStateLineEmailMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailRequest" nillable="true" type="tns:UpdateStateLineEmailRequest" />
  <xs:complexType name="UpdateStateLineEmailMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:UpdateStateLineEmailBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:UpdateStateLineEmailHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailMessageRequest" nillable="true" type="tns:UpdateStateLineEmailMessageRequest" />
  <xs:complexType name="UpdateStateLineEmailBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.BlackWhiteList" minOccurs="0" name="listaServicios" nillable="true" type="q2:ArrayOfListServices" />
      <xs:element minOccurs="0" name="origenFuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoOperacion" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailBodyRequest" nillable="true" type="tns:UpdateStateLineEmailBodyRequest" />
  <xs:complexType name="UpdateStateLineEmailHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailHeaderRequest" nillable="true" type="tns:UpdateStateLineEmailHeaderRequest" />
  <xs:complexType name="UpdateStateLineEmailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:UpdateStateLineEmailMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailResponse" nillable="true" type="tns:UpdateStateLineEmailResponse" />
  <xs:complexType name="UpdateStateLineEmailMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:UpdateStateLineEmailBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:UpdateStateLineEmailHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailMessageResponse" nillable="true" type="tns:UpdateStateLineEmailMessageResponse" />
  <xs:complexType name="UpdateStateLineEmailBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailBodyResponse" nillable="true" type="tns:UpdateStateLineEmailBodyResponse" />
  <xs:complexType name="UpdateStateLineEmailHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q4:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateStateLineEmailHeaderResponse" nillable="true" type="tns:UpdateStateLineEmailHeaderResponse" />
</xs:schema>