Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetValidateElegibility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetValidateElegibility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="ValidateElegibilityRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ValidateElegibilityMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidateElegibilityRequest" nillable="true" type="tns:ValidateElegibilityRequest" />
  <xs:complexType name="ValidateElegibilityMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ValidateElegibilityBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ValidateElegibilityHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityMessageRequest" nillable="true" type="tns:ValidateElegibilityMessageRequest" />
  <xs:complexType name="ValidateElegibilityBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="validarElegibilidadRequest" nillable="true" type="q2:ValidarElegibilidadRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityBodyRequest" nillable="true" type="tns:ValidateElegibilityBodyRequest" />
  <xs:complexType name="ValidateElegibilityHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityHeaderRequest" nillable="true" type="tns:ValidateElegibilityHeaderRequest" />
  <xs:complexType name="ValidateElegibilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ValidateElegibilityMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityResponse" nillable="true" type="tns:ValidateElegibilityResponse" />
  <xs:complexType name="ValidateElegibilityMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ValidateElegibilityBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ValidateElegibilityHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityMessageResponse" nillable="true" type="tns:ValidateElegibilityMessageResponse" />
  <xs:complexType name="ValidateElegibilityBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="validarElegibilidadResponse" nillable="true" type="q4:ValidarElegibilidadResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityBodyResponse" nillable="true" type="tns:ValidateElegibilityBodyResponse" />
  <xs:complexType name="ValidateElegibilityHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateElegibilityHeaderResponse" nillable="true" type="tns:ValidateElegibilityHeaderResponse" />
</xs:schema>