Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9916.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDetailTransExtra" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDetailTransExtra" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="DetailTransExtraRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodSolOt" type="xs:int" />
          <xs:element minOccurs="0" name="iCustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="iFlagDireccFact" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iFlag_Cobro" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iMonto" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="vAplicacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCodId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCodigoPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDepartamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDireccionFacturacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDistrito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFechaReg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFechaVig" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vNotaDireccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vObservacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vPais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vProvincia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vUsuarioReg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DetailTransExtraRequest" nillable="true" type="tns:DetailTransExtraRequest" />
  <xs:complexType name="DetailTransExtraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="iResultado" type="xs:int" />
      <xs:element minOccurs="0" name="vMensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailTransExtraResponse" nillable="true" type="tns:DetailTransExtraResponse" />
</xs:schema>