Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService82.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDataLine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetDataLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="DataLineRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataLineRequest" nillable="true" type="tns:DataLineRequest" />
  <xs:complexType name="ArrayOfDataLineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataLineResponse" nillable="true" type="tns:DataLineResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataLineResponse" nillable="true" type="tns:ArrayOfDataLineResponse" />
  <xs:complexType name="DataLineResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAMPANIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PLAN_TARIFARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_ACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_PLATAFORMA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICCID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NICHO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAZO_CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="P_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VENDEDOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataLineResponse" nillable="true" type="tns:DataLineResponse" />
</xs:schema>