Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryUserOttRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extraData" nillable="true" type="tns:extraData" />
      <xs:element minOccurs="0" name="iccidManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invokeMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryUserOttRequest" nillable="true" type="tns:QueryUserOttRequest" />
  <xs:complexType name="extraData">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="extraData" nillable="true" type="tns:extraData" />
  <xs:complexType name="ArrayOfdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data" nillable="true" type="tns:data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdata" nillable="true" type="tns:ArrayOfdata" />
  <xs:complexType name="data">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="data" nillable="true" type="tns:data" />
  <xs:complexType name="queryUserOttResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptionList" nillable="true" type="tns:subscriptionList" />
      <xs:element minOccurs="0" name="userData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="queryUserOttResponse" nillable="true" type="tns:queryUserOttResponse" />
  <xs:complexType name="ArrayOfextensionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="extensionInfo" nillable="true" type="tns:extensionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfextensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
  <xs:complexType name="extensionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="extensionInfo" nillable="true" type="tns:extensionInfo" />
  <xs:complexType name="subscriptionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscription" nillable="true" type="tns:ArrayOfsubscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriptionList" nillable="true" type="tns:subscriptionList" />
  <xs:complexType name="ArrayOfsubscription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" nillable="true" type="tns:subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsubscription" nillable="true" type="tns:ArrayOfsubscription" />
  <xs:complexType name="subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfSubscriptionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscription" nillable="true" type="tns:subscription" />
  <xs:complexType name="ArrayOfSubscriptionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionItem" nillable="true" type="tns:SubscriptionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionItem" nillable="true" type="tns:ArrayOfSubscriptionItem" />
  <xs:complexType name="SubscriptionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionItem" nillable="true" type="tns:SubscriptionItem" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfUserDataitem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfUserDataitem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataitem" nillable="true" type="tns:UserDataitem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataitem" nillable="true" type="tns:ArrayOfUserDataitem" />
  <xs:complexType name="UserDataitem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataitem" nillable="true" type="tns:UserDataitem" />
  <xs:complexType name="QueryOttRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="iccidManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invokeMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryOttRequest" nillable="true" type="tns:QueryOttRequest" />
  <xs:complexType name="QueryOttResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceList" nillable="true" type="tns:deviceList" />
      <xs:element minOccurs="0" name="eventList" nillable="true" type="tns:eventList" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="packages" nillable="true" type="tns:packages" />
      <xs:element minOccurs="0" name="packagesList" nillable="true" type="tns:packagesList" />
      <xs:element minOccurs="0" name="paymentMethodList" nillable="true" type="tns:paymentMethodList" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rentList" nillable="true" type="tns:rentList" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptions" nillable="true" type="tns:subscriptions" />
      <xs:element minOccurs="0" name="visualizationsList" nillable="true" type="tns:visualizationsList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryOttResponse" nillable="true" type="tns:QueryOttResponse" />
  <xs:complexType name="deviceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="device" nillable="true" type="tns:ArrayOfdevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deviceList" nillable="true" type="tns:deviceList" />
  <xs:complexType name="ArrayOfdevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="tns:device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdevice" nillable="true" type="tns:ArrayOfdevice" />
  <xs:complexType name="device">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfDeviceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="device" nillable="true" type="tns:device" />
  <xs:complexType name="ArrayOfDeviceItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceItem" nillable="true" type="tns:DeviceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceItem" nillable="true" type="tns:ArrayOfDeviceItem" />
  <xs:complexType name="DeviceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceItem" nillable="true" type="tns:DeviceItem" />
  <xs:complexType name="eventList">
    <xs:sequence>
      <xs:element minOccurs="0" name="event" nillable="true" type="tns:ArrayOfEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eventList" nillable="true" type="tns:eventList" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfEventItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEventItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventItem" nillable="true" type="tns:EventItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventItem" nillable="true" type="tns:ArrayOfEventItem" />
  <xs:complexType name="EventItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventItem" nillable="true" type="tns:EventItem" />
  <xs:complexType name="packages">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfPackageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="packages" nillable="true" type="tns:packages" />
  <xs:complexType name="ArrayOfPackageItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageItem" nillable="true" type="tns:PackageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageItem" nillable="true" type="tns:ArrayOfPackageItem" />
  <xs:complexType name="PackageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageItem" nillable="true" type="tns:PackageItem" />
  <xs:complexType name="packagesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="package" nillable="true" type="tns:ArrayOfpackageL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="packagesList" nillable="true" type="tns:packagesList" />
  <xs:complexType name="ArrayOfpackageL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="packageL" nillable="true" type="tns:packageL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpackageL" nillable="true" type="tns:ArrayOfpackageL" />
  <xs:complexType name="packageL">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfPackageLItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="packageL" nillable="true" type="tns:packageL" />
  <xs:complexType name="ArrayOfPackageLItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageLItem" nillable="true" type="tns:PackageLItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageLItem" nillable="true" type="tns:ArrayOfPackageLItem" />
  <xs:complexType name="PackageLItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="acronym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageLItem" nillable="true" type="tns:PackageLItem" />
  <xs:complexType name="paymentMethodList">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="tns:ArrayOfpaymentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentMethodList" nillable="true" type="tns:paymentMethodList" />
  <xs:complexType name="ArrayOfpaymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paymentMethod" nillable="true" type="tns:paymentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpaymentMethod" nillable="true" type="tns:ArrayOfpaymentMethod" />
  <xs:complexType name="paymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentMethod" nillable="true" type="tns:paymentMethod" />
  <xs:complexType name="rentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="rent" nillable="true" type="tns:ArrayOfrent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rentList" nillable="true" type="tns:rentList" />
  <xs:complexType name="ArrayOfrent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rent" nillable="true" type="tns:rent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrent" nillable="true" type="tns:ArrayOfrent" />
  <xs:complexType name="rent">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfRentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rent" nillable="true" type="tns:rent" />
  <xs:complexType name="ArrayOfRentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RentItem" nillable="true" type="tns:RentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRentItem" nillable="true" type="tns:ArrayOfRentItem" />
  <xs:complexType name="RentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RentItem" nillable="true" type="tns:RentItem" />
  <xs:complexType name="subscriptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfSubscriptionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriptions" nillable="true" type="tns:subscriptions" />
  <xs:complexType name="ArrayOfSubscriptionsItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionsItem" nillable="true" type="tns:SubscriptionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionsItem" nillable="true" type="tns:ArrayOfSubscriptionsItem" />
  <xs:complexType name="SubscriptionsItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSubscription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="offerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionsItem" nillable="true" type="tns:SubscriptionsItem" />
  <xs:complexType name="visualizationsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="visualization" nillable="true" type="tns:ArrayOfvisualizations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="visualizationsList" nillable="true" type="tns:visualizationsList" />
  <xs:complexType name="ArrayOfvisualizations">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="visualizations" nillable="true" type="tns:visualizations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvisualizations" nillable="true" type="tns:ArrayOfvisualizations" />
  <xs:complexType name="visualizations">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" nillable="true" type="tns:ArrayOfVisualizationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="visualizations" nillable="true" type="tns:visualizations" />
  <xs:complexType name="ArrayOfVisualizationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisualizationItem" nillable="true" type="tns:VisualizationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisualizationItem" nillable="true" type="tns:ArrayOfVisualizationItem" />
  <xs:complexType name="VisualizationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisualizationItem" nillable="true" type="tns:VisualizationItem" />
  <xs:complexType name="provisionarSuscripcionSNRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="operatorProvisioningProductRequest" nillable="true" type="tns:operatorProvisioningProductRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="provisionarSuscripcionSNRequest" nillable="true" type="tns:provisionarSuscripcionSNRequest" />
  <xs:complexType name="operatorProvisioningProductRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatorUser" nillable="true" type="tns:operatorUser" />
      <xs:element minOccurs="0" name="partnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="operatorProvisioningProductRequest" nillable="true" type="tns:operatorProvisioningProductRequest" />
  <xs:complexType name="operatorUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatorUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subProductID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="operatorUser" nillable="true" type="tns:operatorUser" />
  <xs:complexType name="operatorProvisioningProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="childuserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="hubTransID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatorUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="operatorProvisioningProductResponse" nillable="true" type="tns:operatorProvisioningProductResponse" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="CancelarSuscripcionSNRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cancelAccountRequest" nillable="true" type="tns:CancelAccountRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelarSuscripcionSNRequest" nillable="true" type="tns:CancelarSuscripcionSNRequest" />
  <xs:complexType name="CancelAccountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatorUser" nillable="true" type="tns:operatorUser" />
      <xs:element minOccurs="0" name="partnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelAccountRequest" nillable="true" type="tns:CancelAccountRequest" />
  <xs:complexType name="CancelAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="childuserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="hubTransID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operatorUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="subscriberType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelAccountResponse" nillable="true" type="tns:CancelAccountResponse" />
  <xs:complexType name="UpdateUserOttRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="iccidManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invokeMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="newEmail" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUserOttRequest" nillable="true" type="tns:UpdateUserOttRequest" />
  <xs:complexType name="updateUserOttResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateUserOttResponse" nillable="true" type="tns:updateUserOttResponse" />
  <xs:complexType name="HistorialServDispCVRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicioName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tmcod" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialServDispCVRequest" nillable="true" type="tns:HistorialServDispCVRequest" />
  <xs:complexType name="HistorialServDispCVResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pEstadoPagoServ" nillable="true" type="tns:ArrayOfpEstadoPagoServ" />
      <xs:element minOccurs="0" name="pHistorialDisp" nillable="true" type="tns:ArrayOfpHistorialDisp" />
      <xs:element minOccurs="0" name="pHistorialServ" nillable="true" type="tns:ArrayOfpHistorialServ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialServDispCVResponse" nillable="true" type="tns:HistorialServDispCVResponse" />
  <xs:complexType name="ArrayOfpEstadoPagoServ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pEstadoPagoServ" nillable="true" type="tns:pEstadoPagoServ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpEstadoPagoServ" nillable="true" type="tns:ArrayOfpEstadoPagoServ" />
  <xs:complexType name="pEstadoPagoServ">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcionServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diasPromo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fehaExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicioPrecio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pEstadoPagoServ" nillable="true" type="tns:pEstadoPagoServ" />
  <xs:complexType name="ArrayOfpHistorialDisp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pHistorialDisp" nillable="true" type="tns:pHistorialDisp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpHistorialDisp" nillable="true" type="tns:ArrayOfpHistorialDisp" />
  <xs:complexType name="pHistorialDisp">
    <xs:sequence>
      <xs:element minOccurs="0" name="dispositivoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fehaExp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreDisp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDisp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pHistorialDisp" nillable="true" type="tns:pHistorialDisp" />
  <xs:complexType name="ArrayOfpHistorialServ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pHistorialServ" nillable="true" type="tns:pHistorialServ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpHistorialServ" nillable="true" type="tns:ArrayOfpHistorialServ" />
  <xs:complexType name="pHistorialServ">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActivacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCancelacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpiracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicioID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pHistorialServ" nillable="true" type="tns:pHistorialServ" />
  <xs:complexType name="CreateUserOttRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="iccidManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invokeMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="motherLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserOttRequest" nillable="true" type="tns:CreateUserOttRequest" />
  <xs:complexType name="createUserOttResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="extensionInfo" nillable="true" type="tns:ArrayOfextensionInfo" />
      <xs:element minOccurs="0" name="providerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="createUserOttResponse" nillable="true" type="tns:createUserOttResponse" />
  <xs:complexType name="ArrayOfServiceBSCSPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceBSCSPostPaid" nillable="true" type="tns:ServiceBSCSPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceBSCSPostPaid" nillable="true" type="tns:ArrayOfServiceBSCSPostPaid" />
  <xs:complexType name="ServiceBSCSPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAQUETE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceBSCSPostPaid" nillable="true" type="tns:ServiceBSCSPostPaid" />
  <xs:complexType name="ArrayOfContractServicesPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractServicesPostPaid" nillable="true" type="tns:ContractServicesPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractServicesPostPaid" nillable="true" type="tns:ArrayOfContractServicesPostPaid" />
  <xs:complexType name="ContractServicesPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="BLOQUEO_ACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLOQUEO_DESACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_EXCLUYENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_GRUPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_SERV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUOTA_MODIF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_EXCLUYENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_GRUPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_SERV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_VALIDEZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTO_CARGO_FIJO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTO_CARGO_SUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTO_FINAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERIODOS_VALIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POS_GRUPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POS_SERV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SNCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractServicesPostPaid" nillable="true" type="tns:ContractServicesPostPaid" />
  <xs:complexType name="ArrayOfPhoneContractPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneContractPostPaid" nillable="true" type="tns:PhoneContractPostPaid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneContractPostPaid" nillable="true" type="tns:ArrayOfPhoneContractPostPaid" />
  <xs:complexType name="PhoneContractPostPaid">
    <xs:sequence>
      <xs:element minOccurs="0" name="COID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneContractPostPaid" nillable="true" type="tns:PhoneContractPostPaid" />
  <xs:complexType name="RegistrarControlesCvRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="custormerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documentoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePdv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operacionSuscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaccionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesCvRequest" nillable="true" type="tns:RegistrarControlesCvRequest" />
  <xs:complexType name="RegistrarcontrolescvResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codRpta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msjRpta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarcontrolescvResponse" nillable="true" type="tns:RegistrarcontrolescvResponse" />
  <xs:complexType name="ValidarElegibilidadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="medioPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidarElegibilidadRequest" nillable="true" type="tns:ValidarElegibilidadRequest" />
  <xs:complexType name="ValidarElegibilidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listadoServicios" nillable="true" type="tns:ArrayOfListServicesElegibility" />
      <xs:element minOccurs="0" name="medioPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidarElegibilidadResponse" nillable="true" type="tns:ValidarElegibilidadResponse" />
  <xs:complexType name="ArrayOfListServicesElegibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListServicesElegibility" nillable="true" type="tns:ListServicesElegibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListServicesElegibility" nillable="true" type="tns:ArrayOfListServicesElegibility" />
  <xs:complexType name="ListServicesElegibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListServicesElegibility" nillable="true" type="tns:ListServicesElegibility" />
  <xs:complexType name="PersonalizarMensajeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="correlatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeAmco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalizarMensajeRequest" nillable="true" type="tns:PersonalizarMensajeRequest" />
  <xs:complexType name="PersonalizarMensajeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codRpta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajePersonalizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msjRpta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalizarMensajeResponse" nillable="true" type="tns:PersonalizarMensajeResponse" />
  <xs:complexType name="ArrayOfConsultIPTV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultIPTV" nillable="true" type="tns:ConsultIPTV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultIPTV" nillable="true" type="tns:ArrayOfConsultIPTV" />
  <xs:complexType name="ConsultIPTV">
    <xs:sequence>
      <xs:element minOccurs="0" name="SERVV_CODIGO_EXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVV_DES_EXT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultIPTV" nillable="true" type="tns:ConsultIPTV" />
  <xs:complexType name="ArrayOfValidateIPTV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidateIPTV" nillable="true" type="tns:ValidateIPTV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidateIPTV" nillable="true" type="tns:ArrayOfValidateIPTV" />
  <xs:complexType name="ValidateIPTV">
    <xs:sequence>
      <xs:element minOccurs="0" name="VALIDACION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateIPTV" nillable="true" type="tns:ValidateIPTV" />
</xs:schema>