Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9917.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetProductDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetProductDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="ProductDetailRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="tipoBusqueda" type="xs:int" />
          <xs:element minOccurs="0" name="vCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCustomerId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductDetailRequest" nillable="true" type="tns:ProductDetailRequest" />
  <xs:complexType name="ProductDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="listDecoder" nillable="true" type="q2:ArrayOfDecoder" />
      <xs:element minOccurs="0" name="rMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResultado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetailResponse" nillable="true" type="tns:ProductDetailResponse" />
</xs:schema>