Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService89.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.ProxyService.Transac.Service.SIAC.Post.DatosPrePost_V2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.ProxyService.Transac.Service.SIAC.Post.DatosPrePost_V2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="consultarDatosLineaResponse">
    <xs:sequence>
      <xs:element name="auditResponseField" nillable="true" type="tns:auditResponseType" />
      <xs:element name="datoLineaField" nillable="true" type="tns:datoLineaType" />
      <xs:element name="datosPostpagoField" nillable="true" type="tns:datosPostpagoType" />
      <xs:element name="datosPrepagoField" nillable="true" type="tns:datosPrepagoType" />
      <xs:element name="listaResponseOpcionalField" nillable="true" type="tns:ArrayOfparametrosTypeObjetoOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultarDatosLineaResponse" nillable="true" type="tns:consultarDatosLineaResponse" />
  <xs:complexType name="auditResponseType">
    <xs:sequence>
      <xs:element name="codigoRespuestaField" nillable="true" type="xs:string" />
      <xs:element name="idTransaccionField" nillable="true" type="xs:string" />
      <xs:element name="mensajeRespuestaField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auditResponseType" nillable="true" type="tns:auditResponseType" />
  <xs:complexType name="datoLineaType">
    <xs:sequence>
      <xs:element name="bloqueadoField" nillable="true" type="xs:string" />
      <xs:element name="subTipoField" nillable="true" type="xs:string" />
      <xs:element name="tipoField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datoLineaType" nillable="true" type="tns:datoLineaType" />
  <xs:complexType name="datosPostpagoType">
    <xs:sequence>
      <xs:element name="parametrosRespuestaPostpagoField" nillable="true" type="tns:ArrayOfparametroType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datosPostpagoType" nillable="true" type="tns:datosPostpagoType" />
  <xs:complexType name="ArrayOfparametroType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parametroType" nillable="true" type="tns:parametroType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparametroType" nillable="true" type="tns:ArrayOfparametroType" />
  <xs:complexType name="parametroType">
    <xs:sequence>
      <xs:element name="nombreField" nillable="true" type="xs:string" />
      <xs:element name="valorField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parametroType" nillable="true" type="tns:parametroType" />
  <xs:complexType name="datosPrepagoType">
    <xs:sequence>
      <xs:element name="parametrosRespuestaPrepagoField" nillable="true" type="tns:ArrayOfoperacionesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="datosPrepagoType" nillable="true" type="tns:datosPrepagoType" />
  <xs:complexType name="ArrayOfoperacionesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operacionesType" nillable="true" type="tns:operacionesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoperacionesType" nillable="true" type="tns:ArrayOfoperacionesType" />
  <xs:complexType name="operacionesType">
    <xs:sequence>
      <xs:element name="codigoOperacionField" nillable="true" type="xs:string" />
      <xs:element name="listaModificadorField" nillable="true" type="tns:ArrayOfmodificadorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="operacionesType" nillable="true" type="tns:operacionesType" />
  <xs:complexType name="ArrayOfmodificadorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="modificadorType" nillable="true" type="tns:modificadorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmodificadorType" nillable="true" type="tns:ArrayOfmodificadorType" />
  <xs:complexType name="modificadorType">
    <xs:sequence>
      <xs:element name="nombreModificadorField" nillable="true" type="xs:string" />
      <xs:element name="parametroField" nillable="true" type="tns:ArrayOfparametroType" />
      <xs:element name="parametroListaField" nillable="true" type="tns:ArrayOfparametroListaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="modificadorType" nillable="true" type="tns:modificadorType" />
  <xs:complexType name="ArrayOfparametroListaType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parametroListaType" nillable="true" type="tns:parametroListaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparametroListaType" nillable="true" type="tns:ArrayOfparametroListaType" />
  <xs:complexType name="parametroListaType">
    <xs:sequence>
      <xs:element name="nombreField" nillable="true" type="xs:string" />
      <xs:element name="parametroField" nillable="true" type="tns:ArrayOfparametroType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parametroListaType" nillable="true" type="tns:parametroListaType" />
  <xs:complexType name="ArrayOfparametrosTypeObjetoOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="parametrosTypeObjetoOpcional" nillable="true" type="tns:parametrosTypeObjetoOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparametrosTypeObjetoOpcional" nillable="true" type="tns:ArrayOfparametrosTypeObjetoOpcional" />
  <xs:complexType name="parametrosTypeObjetoOpcional">
    <xs:sequence>
      <xs:element name="campoField" nillable="true" type="xs:string" />
      <xs:element name="valorField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="parametrosTypeObjetoOpcional" nillable="true" type="tns:parametrosTypeObjetoOpcional" />
</xs:schema>