Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9952.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetComServiceActivation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetComServiceActivation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="ComServiceActivationRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodeAplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodeBell" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodeCustomer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCodeInteraction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrCost" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDatRegistry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrDateProgramation" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StrDateRegistre" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StrDesCoSer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrEmailUserApp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrFlagOccPenalty" type="xs:int" />
          <xs:element minOccurs="0" name="StrFlagSearch" type="xs:int" />
          <xs:element minOccurs="0" name="StrIdTransaction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrIpAplication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrNroAccount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrProIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTelephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeRegistry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrTypeService" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserApp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StrUserSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAmountFIdPenalty" type="xs:double" />
          <xs:element minOccurs="0" name="strBillingCycle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strInteraction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strNewCF" type="xs:double" />
          <xs:element minOccurs="0" name="strPenalty" type="xs:double" />
          <xs:element minOccurs="0" name="strTicklerCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComServiceActivationRequest" nillable="true" type="tns:ComServiceActivationRequest" />
  <xs:complexType name="ComServiceActivationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlValues" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComServiceActivationResponse" nillable="true" type="tns:ComServiceActivationResponse" />
</xs:schema>