Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCommertialPlan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCommertialPlan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="CommertialPlanRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="StrCoId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommertialPlanRequest" nillable="true" type="tns:CommertialPlanRequest" />
  <xs:complexType name="CommertialPlanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="rCodigoPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="rintCodigoError" type="xs:int" />
      <xs:element minOccurs="0" name="rstrDescripcionError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommertialPlanResponse" nillable="true" type="tns:CommertialPlanResponse" />
</xs:schema>