Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9931.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetailInputFixed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetailInputFixed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd136" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" />
  <xs:complexType name="CallDetailInputFixedResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Postpaid" minOccurs="0" name="ListCallDetailSummary" nillable="true" type="q1:ArrayOfCallDetailSummary" />
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailInputFixedResponse" nillable="true" type="tns:CallDetailInputFixedResponse" />
</xs:schema>