Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService94.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetProvisionSubscription" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetProvisionSubscription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="ProvisionSubscriptionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ProvisionSubscriptionMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionRequest" nillable="true" type="tns:ProvisionSubscriptionRequest" />
  <xs:complexType name="ProvisionSubscriptionMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ProvisionSubscriptionBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ProvisionSubscriptionHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionMessageRequest" nillable="true" type="tns:ProvisionSubscriptionMessageRequest" />
  <xs:complexType name="ProvisionSubscriptionBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="provisionarSuscripcionSNRequest" nillable="true" type="q2:provisionarSuscripcionSNRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionBodyRequest" nillable="true" type="tns:ProvisionSubscriptionBodyRequest" />
  <xs:complexType name="ProvisionSubscriptionHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionHeaderRequest" nillable="true" type="tns:ProvisionSubscriptionHeaderRequest" />
  <xs:complexType name="ProvisionSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ProvisionSubscriptionMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionResponse" nillable="true" type="tns:ProvisionSubscriptionResponse" />
  <xs:complexType name="ProvisionSubscriptionMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ProvisionSubscriptionBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ProvisionSubscriptionHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionMessageResponse" nillable="true" type="tns:ProvisionSubscriptionMessageResponse" />
  <xs:complexType name="ProvisionSubscriptionBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="operatorProvisioningProductResponse" nillable="true" type="q4:operatorProvisioningProductResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionBodyResponse" nillable="true" type="tns:ProvisionSubscriptionBodyResponse" />
  <xs:complexType name="ProvisionSubscriptionHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvisionSubscriptionHeaderResponse" nillable="true" type="tns:ProvisionSubscriptionHeaderResponse" />
</xs:schema>