Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetTimeZones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetTimeZones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:complexType name="TimeZonesRequestHfc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="strAdFecagenda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAnTiptra" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="strAnUbigeo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeZonesRequestHfc" nillable="true" type="tns:TimeZonesRequestHfc" />
  <xs:complexType name="TimeZonesResponseHfc">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="TimeZones" nillable="true" type="q2:ArrayOfTimeZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeZonesResponseHfc" nillable="true" type="tns:TimeZonesResponseHfc" />
</xs:schema>