Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService9913.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetETAAuditoriaRequestCapacity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetETAAuditoriaRequestCapacity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd13" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="BEETAAuditoriaRequestCapacityHFC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="pAPP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pIP_APP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pIdTrasaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCalcDur" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcDurEspec" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcHabTrabajo" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcHabTrabajoEspec" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcTiempoViaje" type="xs:boolean" />
          <xs:element minOccurs="0" name="vCalcTiempoViajeEspec" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="vCampoActividad" nillable="true" type="q2:ArrayOfBEETACampoActivityHfc" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vEspacioTiempo" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vFechas" nillable="true" type="q4:ArrayOfdateTime" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vHabilidadTrabajo" nillable="true" type="q5:ArrayOfstring" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="vListaCapReqOpc" nillable="true" type="q6:ArrayOfBEETAListaParamRequestOpcionalCapacityHfc" />
          <xs:element minOccurs="0" name="vObtenerUbiZona" type="xs:boolean" />
          <xs:element minOccurs="0" name="vObtenerUbiZonaEspec" type="xs:boolean" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vUbicacion" nillable="true" type="q7:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEETAAuditoriaRequestCapacityHFC" nillable="true" type="tns:BEETAAuditoriaRequestCapacityHFC" />
  <xs:complexType name="BEETAAuditoriaResponseCapacityHFC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="Claro" base="q8:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DuraActivity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdTransaccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ObjetoCapacity" nillable="true" type="q9:ArrayOfBEETAEntidadcapacidadType" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="ObjetoResponseReq" nillable="true" type="q10:ArrayOfBEETAListaEntidadparametrosResponse" />
          <xs:element minOccurs="0" name="TiempoViajeActivity" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEETAAuditoriaResponseCapacityHFC" nillable="true" type="tns:BEETAAuditoriaResponseCapacityHFC" />
</xs:schema>