Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetCallDetail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="CallDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed" minOccurs="0" name="LstPhoneCall" nillable="true" type="q1:ArrayOfPhoneCall" />
      <xs:element minOccurs="0" name="StrResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VTotal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallDetailResponse" nillable="true" type="tns:CallDetailResponse" />
  <xs:complexType name="CallDetailRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Claro" base="q2:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="vCONTRATOID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_AHORA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_AYER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_FIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFECHA_INI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vSeguridad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CallDetailRequest" nillable="true" type="tns:CallDetailRequest" />
</xs:schema>