Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService95.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd48" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTITOBE" />
  <xs:complexType name="ConsultDiscardRTIRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ConsultDiscardRTIMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIRequest" nillable="true" type="tns:ConsultDiscardRTIRequest" />
  <xs:complexType name="ConsultDiscardRTIMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultDiscardRTIBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultDiscardRTIHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIMessageRequest" nillable="true" type="tns:ConsultDiscardRTIMessageRequest" />
  <xs:complexType name="ConsultDiscardRTIBodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiPrePostRequest" nillable="true" type="tns:consultarDescartesRtiPrePostRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIBodyRequest" nillable="true" type="tns:ConsultDiscardRTIBodyRequest" />
  <xs:complexType name="consultarDescartesRtiPrePostRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultarDescartesRtiPrePostRequest" nillable="true" type="tns:consultarDescartesRtiPrePostRequest" />
  <xs:complexType name="ConsultDiscardRTIHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q2:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIHeaderRequest" nillable="true" type="tns:ConsultDiscardRTIHeaderRequest" />
  <xs:complexType name="ConsultDiscardRTIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:ConsultDiscardRTIMessageResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIResponse" nillable="true" type="tns:ConsultDiscardRTIResponse" />
  <xs:complexType name="ConsultDiscardRTIMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultDiscardRTIBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultDiscardRTIHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIMessageResponse" nillable="true" type="tns:ConsultDiscardRTIMessageResponse" />
  <xs:complexType name="ConsultDiscardRTIBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiPrePostResponse" nillable="true" type="tns:consultarDescartesRtiPrePostResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIBodyResponse" nillable="true" type="tns:ConsultDiscardRTIBodyResponse" />
  <xs:complexType name="consultarDescartesRtiPrePostResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTITOBE" minOccurs="0" name="responseAudit" nillable="true" type="q3:ResponseAudit" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.Discard.GetConsultDiscardRTITOBE" minOccurs="0" name="responseData" nillable="true" type="q4:ResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultarDescartesRtiPrePostResponse" nillable="true" type="tns:consultarDescartesRtiPrePostResponse" />
  <xs:complexType name="ConsultDiscardRTIHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q5:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIHeaderResponse" nillable="true" type="tns:ConsultDiscardRTIHeaderResponse" />
  <xs:complexType name="ConsultDiscardRTIRequestGrupo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="Tools.Entity" base="q6:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:ConsultDiscardRTIMessageRequestGrupo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIRequestGrupo" nillable="true" type="tns:ConsultDiscardRTIRequestGrupo" />
  <xs:complexType name="ConsultDiscardRTIMessageRequestGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ConsultDiscardRTIBodyRequestGrupo" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:ConsultDiscardRTIHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIMessageRequestGrupo" nillable="true" type="tns:ConsultDiscardRTIMessageRequestGrupo" />
  <xs:complexType name="ConsultDiscardRTIBodyRequestGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="consultarDescartesRtiPrePostRequest" nillable="true" type="tns:consultarDescartesRtiPrePostRequestGrupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultDiscardRTIBodyRequestGrupo" nillable="true" type="tns:ConsultDiscardRTIBodyRequestGrupo" />
  <xs:complexType name="consultarDescartesRtiPrePostRequestGrupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grupoDescarte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="consultarDescartesRtiPrePostRequestGrupo" nillable="true" type="tns:consultarDescartesRtiPrePostRequestGrupo" />
</xs:schema>