Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetTypeProductDat" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.GetTypeProductDat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd65" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" />
  <xs:complexType name="GetTypeProductDatRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Coliving" base="q1:HeaderToBe">
        <xs:sequence>
          <xs:element minOccurs="0" name="contrato" nillable="true" type="tns:GetTypeProductDatRequest.Contrato" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest" nillable="true" type="tns:GetTypeProductDatRequest" />
  <xs:complexType name="GetTypeProductDatRequest.Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracteristicaAdicional" nillable="true" type="tns:GetTypeProductDatRequest.CaracteristicaAdicional" />
      <xs:element minOccurs="0" name="idContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ofertaProducto" nillable="true" type="tns:GetTypeProductDatRequest.OfertaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest.Contrato" nillable="true" type="tns:GetTypeProductDatRequest.Contrato" />
  <xs:complexType name="GetTypeProductDatRequest.CaracteristicaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest.CaracteristicaAdicional" nillable="true" type="tns:GetTypeProductDatRequest.CaracteristicaAdicional" />
  <xs:complexType name="GetTypeProductDatRequest.OfertaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" nillable="true" type="tns:GetTypeProductDatRequest.Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest.OfertaProducto" nillable="true" type="tns:GetTypeProductDatRequest.OfertaProducto" />
  <xs:complexType name="GetTypeProductDatRequest.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="recursoLogico" nillable="true" type="tns:GetTypeProductDatRequest.RecursoLogico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest.Producto" nillable="true" type="tns:GetTypeProductDatRequest.Producto" />
  <xs:complexType name="GetTypeProductDatRequest.RecursoLogico">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatRequest.RecursoLogico" nillable="true" type="tns:GetTypeProductDatRequest.RecursoLogico" />
  <xs:complexType name="GetTypeProductDatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseData" nillable="true" type="tns:GetTypeProductDatResponse.ResponseData" />
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="tns:GetTypeProductDatResponse.ResponseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse" nillable="true" type="tns:GetTypeProductDatResponse" />
  <xs:complexType name="GetTypeProductDatResponse.ResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.Contrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.ResponseData" nillable="true" type="tns:GetTypeProductDatResponse.ResponseData" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.Contrato" nillable="true" type="tns:GetTypeProductDatResponse.Contrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.Contrato" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.Contrato" />
  <xs:complexType name="GetTypeProductDatResponse.Contrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracteristicaAdicional" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.CaracteristicaAdicional" />
      <xs:element minOccurs="0" name="cuentaFacturacion" nillable="true" type="tns:GetTypeProductDatResponse.CuentaFacturacion" />
      <xs:element minOccurs="0" name="estadoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaActivacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPublicoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ofertaProducto" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.OfertaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.Contrato" nillable="true" type="tns:GetTypeProductDatResponse.Contrato" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.CaracteristicaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.CaracteristicaAdicional" nillable="true" type="tns:GetTypeProductDatResponse.CaracteristicaAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.CaracteristicaAdicional" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.CaracteristicaAdicional" />
  <xs:complexType name="GetTypeProductDatResponse.CaracteristicaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.CaracteristicaAdicional" nillable="true" type="tns:GetTypeProductDatResponse.CaracteristicaAdicional" />
  <xs:complexType name="GetTypeProductDatResponse.CuentaFacturacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaCliente" nillable="true" type="tns:GetTypeProductDatResponse.CuentaCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.CuentaFacturacion" nillable="true" type="tns:GetTypeProductDatResponse.CuentaFacturacion" />
  <xs:complexType name="GetTypeProductDatResponse.CuentaCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" nillable="true" type="tns:GetTypeProductDatResponse.Cliente" />
      <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPublicoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroCuenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.CuentaCliente" nillable="true" type="tns:GetTypeProductDatResponse.CuentaCliente" />
  <xs:complexType name="GetTypeProductDatResponse.Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccionUrbana" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.DireccionUrbana" />
      <xs:element minOccurs="0" name="identificacionPersona" nillable="true" type="tns:GetTypeProductDatResponse.IdentificacionPersona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.Cliente" nillable="true" type="tns:GetTypeProductDatResponse.Cliente" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.DireccionUrbana">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.DireccionUrbana" nillable="true" type="tns:GetTypeProductDatResponse.DireccionUrbana" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.DireccionUrbana" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.DireccionUrbana" />
  <xs:complexType name="GetTypeProductDatResponse.DireccionUrbana">
    <xs:sequence>
      <xs:element minOccurs="0" name="_propiedad" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.Propiedad" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="nombreCalle" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="nroCuadra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referenciaDireccion" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="tipoVia" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.DireccionUrbana" nillable="true" type="tns:GetTypeProductDatResponse.DireccionUrbana" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.Propiedad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.Propiedad" nillable="true" type="tns:GetTypeProductDatResponse.Propiedad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.Propiedad" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.Propiedad" />
  <xs:complexType name="GetTypeProductDatResponse.Propiedad">
    <xs:sequence>
      <xs:element minOccurs="0" name="nroDepartamento" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="tipoPredio" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.Propiedad" nillable="true" type="tns:GetTypeProductDatResponse.Propiedad" />
  <xs:complexType name="GetTypeProductDatResponse.IdentificacionPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="genero" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="telefonoContacto" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.IdentificacionPersona" nillable="true" type="tns:GetTypeProductDatResponse.IdentificacionPersona" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.OfertaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.OfertaProducto" nillable="true" type="tns:GetTypeProductDatResponse.OfertaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.OfertaProducto" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.OfertaProducto" />
  <xs:complexType name="GetTypeProductDatResponse.OfertaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" nillable="true" type="tns:GetTypeProductDatResponse.Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.OfertaProducto" nillable="true" type="tns:GetTypeProductDatResponse.OfertaProducto" />
  <xs:complexType name="GetTypeProductDatResponse.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="caracteristicaProducto" nillable="true" type="tns:GetTypeProductDatResponse.CaracteristicaProducto" />
      <xs:element minOccurs="0" name="recursoFisico" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.RecursoFisico" />
      <xs:element minOccurs="0" name="recursoLogico" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.RecursoLogico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.Producto" nillable="true" type="tns:GetTypeProductDatResponse.Producto" />
  <xs:complexType name="GetTypeProductDatResponse.CaracteristicaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tecnologia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoServicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.CaracteristicaProducto" nillable="true" type="tns:GetTypeProductDatResponse.CaracteristicaProducto" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.RecursoFisico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.RecursoFisico" nillable="true" type="tns:GetTypeProductDatResponse.RecursoFisico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.RecursoFisico" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.RecursoFisico" />
  <xs:complexType name="GetTypeProductDatResponse.RecursoFisico">
    <xs:sequence>
      <xs:element minOccurs="0" name="iccid" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.RecursoFisico" nillable="true" type="tns:GetTypeProductDatResponse.RecursoFisico" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.RecursoLogico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.RecursoLogico" nillable="true" type="tns:GetTypeProductDatResponse.RecursoLogico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.RecursoLogico" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.RecursoLogico" />
  <xs:complexType name="GetTypeProductDatResponse.RecursoLogico">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroLinea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.RecursoLogico" nillable="true" type="tns:GetTypeProductDatResponse.RecursoLogico" />
  <xs:complexType name="GetTypeProductDatResponse.ResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalleError" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.DetalleError" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="ubicacionError" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.ResponseStatus" nillable="true" type="tns:GetTypeProductDatResponse.ResponseStatus" />
  <xs:complexType name="ArrayOfGetTypeProductDatResponse.DetalleError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTypeProductDatResponse.DetalleError" nillable="true" type="tns:GetTypeProductDatResponse.DetalleError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTypeProductDatResponse.DetalleError" nillable="true" type="tns:ArrayOfGetTypeProductDatResponse.DetalleError" />
  <xs:complexType name="GetTypeProductDatResponse.DetalleError">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeProductDatResponse.DetalleError" nillable="true" type="tns:GetTypeProductDatResponse.DetalleError" />
</xs:schema>