Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterActiDesaBonoDesc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterActiDesaBonoDesc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:MessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="MessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:BodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:HeadersRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageRequest" nillable="true" type="tns:MessageRequest" />
  <xs:complexType name="BodyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="registrarDescHFCRequest" nillable="true" type="tns:registrarDescHFCRequest" />
      <xs:element minOccurs="0" name="registrarDescLTERequest" nillable="true" type="tns:registrarDescLTERequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyRequest" nillable="true" type="tns:BodyRequest" />
  <xs:complexType name="registrarDescHFCRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostoServicioconIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostoServiciosinIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesServicioPVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescDAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomClienteCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomResponsableLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aplicaDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auditRequest" nillable="true" type="tns:auditRequest" />
      <xs:element minOccurs="0" name="cicloFac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coSer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desCoSer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="destinatarioCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailUsuarioApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaProgramacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCampana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaRequestOpcional" nillable="true" type="tns:ArrayOflistaRequestOpcional" />
      <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteObjId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDescHFCRequest" nillable="true" type="tns:registrarDescHFCRequest" />
  <xs:complexType name="auditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ipAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioAplicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auditRequest" nillable="true" type="tns:auditRequest" />
  <xs:complexType name="ArrayOflistaRequestOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaRequestOpcional" nillable="true" type="tns:listaRequestOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflistaRequestOpcional" nillable="true" type="tns:ArrayOflistaRequestOpcional" />
  <xs:complexType name="listaRequestOpcional">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="listaRequestOpcional" nillable="true" type="tns:listaRequestOpcional" />
  <xs:complexType name="registrarDescLTERequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostoServicioconIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostoServiciosinIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescDAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomClienteCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomResponsableLegal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aplicaDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auditRequest" nillable="true" type="tns:auditRequest" />
      <xs:element minOccurs="0" name="cicloFac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="coSer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desCoSer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="destinatarioCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaProgramacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCampana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaRequestOpcional" nillable="true" type="tns:ArrayOflistaRequestOpcional" />
      <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siteObjId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDescLTERequest" nillable="true" type="tns:registrarDescLTERequest" />
  <xs:complexType name="HeadersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderRequest" nillable="true" type="tns:HeaderRequestADB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadersRequest" nillable="true" type="tns:HeadersRequest" />
  <xs:complexType name="HeaderRequestADB">
    <xs:sequence>
      <xs:element minOccurs="0" name="VarArg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consumer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dispositivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wsIp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderRequestADB" nillable="true" type="tns:HeaderRequestADB" />
  <xs:complexType name="BodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="registrarDescHFCResponse" nillable="true" type="tns:registrarDescHFCResponse" />
      <xs:element minOccurs="0" name="registrarDescLTEResponse" nillable="true" type="tns:registrarDescLTEResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BodyResponse" nillable="true" type="tns:BodyResponse" />
  <xs:complexType name="registrarDescHFCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditResponse" nillable="true" type="tns:auditResponse" />
      <xs:element minOccurs="0" name="listaResponseOpcional" nillable="true" type="tns:listaResponseOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDescHFCResponse" nillable="true" type="tns:registrarDescHFCResponse" />
  <xs:complexType name="auditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeRespuesta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="auditResponse" nillable="true" type="tns:auditResponse" />
  <xs:complexType name="listaResponseOpcional">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="listaResponseOpcional" nillable="true" type="tns:listaResponseOpcional" />
  <xs:complexType name="registrarDescLTEResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="auditResponse" nillable="true" type="tns:auditResponse" />
      <xs:element minOccurs="0" name="listaResponseOpcional" nillable="true" type="tns:listaResponseOpcional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="registrarDescLTEResponse" nillable="true" type="tns:registrarDescLTEResponse" />
</xs:schema>