Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService93.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetRegistrarControles" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo.GetRegistrarControles" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd38" namespace="Tools.Entity" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd50" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" />
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd40" namespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" />
  <xs:complexType name="RegistrarControlesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Tools.Entity" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageRequest" nillable="true" type="tns:RegistrarControlesMessageRequest" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrarControlesRequest" nillable="true" type="tns:RegistrarControlesRequest" />
  <xs:complexType name="RegistrarControlesMessageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:RegistrarControlesBodyRequest" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:RegistrarControlesHeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesMessageRequest" nillable="true" type="tns:RegistrarControlesMessageRequest" />
  <xs:complexType name="RegistrarControlesBodyRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="registrarControlesCvRequest" nillable="true" type="q2:RegistrarControlesCvRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesBodyRequest" nillable="true" type="tns:RegistrarControlesBodyRequest" />
  <xs:complexType name="RegistrarControlesHeaderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderRequest" nillable="true" type="q3:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesHeaderRequest" nillable="true" type="tns:RegistrarControlesHeaderRequest" />
  <xs:complexType name="RegistrarControlesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Tools.Entity" base="q4:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="tns:RegistrarControlesMessageResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrarControlesResponse" nillable="true" type="tns:RegistrarControlesResponse" />
  <xs:complexType name="RegistrarControlesMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:RegistrarControlesBodyResponse" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:RegistrarControlesHeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesMessageResponse" nillable="true" type="tns:RegistrarControlesMessageResponse" />
  <xs:complexType name="RegistrarControlesBodyResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.ClaroVideo" minOccurs="0" name="registrarcontrolescvresponse" nillable="true" type="q5:RegistrarcontrolescvResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesBodyResponse" nillable="true" type="tns:RegistrarControlesBodyResponse" />
  <xs:complexType name="RegistrarControlesHeaderResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.GetDataPower" minOccurs="0" name="HeaderResponse" nillable="true" type="q6:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrarControlesHeaderResponse" nillable="true" type="tns:RegistrarControlesHeaderResponse" />
</xs:schema>