Claro.SIACU.Web.WebApplication.Transac.Service/Service References/FixedTransacService/FixedTransacService23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterBonoDiscount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Claro.SIACU.Entity.Transac.Service.Fixed.RegisterBonoDiscount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40204/FixedTransacService.svc?xsd=xsd3" namespace="Claro" />
  <xs:complexType name="RegisterBonoDiscountRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Claro" base="q1:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="pi_co_id" type="xs:int" />
          <xs:element minOccurs="0" name="pi_costo_inst" type="xs:double" />
          <xs:element minOccurs="0" name="pi_flag" type="xs:int" />
          <xs:element minOccurs="0" name="pi_id_campana" type="xs:int" />
          <xs:element minOccurs="0" name="pi_monto" type="xs:double" />
          <xs:element minOccurs="0" name="pi_periodo" type="xs:int" />
          <xs:element minOccurs="0" name="pi_porcentaje" type="xs:double" />
          <xs:element minOccurs="0" name="pi_sncode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterBonoDiscountRequest" nillable="true" type="tns:RegisterBonoDiscountRequest" />
</xs:schema>