Claro.SIACU.ProxyService.Transac.Service/Service References/WSDwh/EsbDwhServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://pe/com/claro/esb/services/dwh/ws" xmlns="" name="EsbDwhServiceDefinitions" targetNamespace="http://pe/com/claro/esb/services/dwh/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xs:schema xmlns:tns="http://pe/com/claro/esb/services/dwh/schemas/imei/DwhImei.xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/dwh/schemas/imei/DwhImei.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ImeiRequest">
        <xs:annotation>
          <xs:documentation>Datos requeridos para leer los IMEIs desde DWH</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroTelefono" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ImeiResponse">
        <xs:annotation>
          <xs:documentation>Datos retornados desde DWH</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="respuesta" type="xs:string" />
            <xs:element name="mensaje" type="xs:string" />
            <xs:element name="imeiLista">
              <xs:complexType>
                <xs:sequence maxOccurs="unbounded">
                  <xs:element name="imeiItem" type="tns:ImeiType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ImeiType">
        <xs:sequence>
          <xs:element name="imei" type="xs:string" />
          <xs:element name="telefono" type="xs:string" />
          <xs:element name="fechaInicio" type="xs:string" />
          <xs:element name="fechaFin" type="xs:string" />
          <xs:element name="descripcion" type="xs:string" />
          <xs:element name="modelo" type="xs:string" />
          <xs:element name="marca" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/dwh/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://pe/com/claro/esb/services/dwh/schemas/imei/DwhImei.xsd" />
      <xs:element name="buscarIMEIs">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:dwh="http://pe/com/claro/esb/services/dwh/schemas/imei/DwhImei.xsd" ref="dwh:ImeiRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarIMEIsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:dwh="http://pe/com/claro/esb/services/dwh/schemas/imei/DwhImei.xsd" ref="dwh:ImeiResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="buscarIMEIs">
    <s0:part name="parameters" element="s1:buscarIMEIs" />
  </s0:message>
  <s0:message name="buscarIMEIsResponse">
    <s0:part name="parameters" element="s1:buscarIMEIsResponse" />
  </s0:message>
  <s0:portType name="EsbDwh">
    <s0:operation name="buscarIMEIs" parameterOrder="parameters">
      <s0:input message="s1:buscarIMEIs" />
      <s0:output message="s1:buscarIMEIsResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="EsbDwhServiceSoapBinding" type="s1:EsbDwh">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="buscarIMEIs">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="EsbDwhService">
    <s0:port name="EsbDwhSoapPort" binding="s1:EsbDwhServiceSoapBinding">
      <s2:address location="http://limdeseaiv24.tim.com.pe:8909/DwhWS/EsbDwh" />
    </s0:port>
  </s0:service>
</s0:definitions>