Claro.SIACU.ProxyService.Transac.Service/Service References/EBSRegistroAjusteSAR/ebsRegistroAjusteSARSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/types" xmlns:base="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/EbsRegistroAjusteSAR/ebsRegistroAjusteSARSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="registrarSARRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="registrarCaso" type="registrarCasoType" />
        <xsd:element name="registrarPlantillaCaso" type="registrarDetalleCasoType" />
        <xsd:element name="pPlantillaDinamica" type="xsd:string" />
        <xsd:element name="agregarPlantillaDinamica" type="agregarPlantillaDinamicaType" />
        <xsd:element name="actualizarEstadoSAR" type="actualizarEstadoSARType" />
        <xsd:element name="registrarReclamo" type="registrarReclamoType" />
        <xsd:element name="registrarServicio" type="registrarServicioType" />
        <xsd:element name="registrarSAR" type="registrarSARType" />
        <xsd:element name="registrarPuntoOrigen" type="registrarPuntoOrigenType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarSARResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="nroCaso" type="xsd:string" />
        <xsd:element name="idDocAut" type="xsd:string" />
        <xsd:element name="NroSar" type="xsd:string" />
        <xsd:element name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarInteraccionAjusteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="contingClafifyAct" type="xsd:string" />
        <xsd:element name="pLte" type="xsd:string" />
        <xsd:element name="registrarInteraccion" type="registrarTipificacionType" />
        <xsd:element name="registrarDetalleInteraccion" type="registrarDetalleTipificacionType" />
        <xsd:element name="registrarCabeceraDoc" type="registrarCabeceraDocType" />
        <xsd:element name="registrarDetalleDoc" type="registrarDetalleDocType" />
        <xsd:element name="registrarAreaImputable" type="registrarAreaImputableType" />
        <xsd:element name="aprobarDocumento" type="aprobarDocumentoType" />
        <xsd:element name="registrarAjusteOAC" type="registrarAjusteOACType" />
        <xsd:element name="registrarExportarSap" type="registrarExportarSapType" />
        <xsd:element name="actualizarCamposSap" type="actualizarCamposSapType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarInteraccionAjusteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="idInteract" type="xsd:string" />
        <xsd:element name="idDocAut" type="xsd:string" />
        <xsd:element name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarCasoAjusteRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="contingClafifyAct" type="xsd:string" />
        <xsd:element name="pLte" type="xsd:string" />
        <xsd:element name="registrarCaso" type="registrarCasoType" />
        <xsd:element name="registrarDetalleCaso" type="registrarDetalleCasoType" />
        <xsd:element name="registrarCabeceraDoc" type="registrarCabeceraDocType" />
        <xsd:element name="registrarDetalleDoc" type="registrarDetalleDocType" />
        <xsd:element name="registrarAreaImputable" type="registrarAreaImputableType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarCasoAjusteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="nroCaso" type="xsd:string" />
        <xsd:element name="idDocAut" type="xsd:string" />
        <xsd:element name="idInteract" type="xsd:string" />
        <xsd:element name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="registrarCasoType">
    <xsd:sequence>
      <xsd:element name="piContactObjId1" type="xsd:integer" />
      <xsd:element name="piSiteObjId1" type="xsd:integer" />
      <xsd:element name="piAccount" type="xsd:string" />
      <xsd:element name="piPhone" type="xsd:string" />
      <xsd:element name="piTipo" type="xsd:string" />
      <xsd:element name="piClase" type="xsd:string" />
      <xsd:element name="piSubClase" type="xsd:string" />
      <xsd:element name="piMetodoContacto" type="xsd:string" />
      <xsd:element name="piPrioridad" type="xsd:string" />
      <xsd:element name="piSeveridad" type="xsd:string" />
      <xsd:element name="piCola" type="xsd:string" />
      <xsd:element name="piFlagInteract" type="xsd:string" />
      <xsd:element name="piUsrProceso" type="xsd:string" />
      <xsd:element name="piUsuario" type="xsd:string" />
      <xsd:element name="piTipoInter" type="xsd:string" />
      <xsd:element name="piNotas" type="xsd:string" />
      <xsd:element name="piServAfect" type="xsd:string" />
      <xsd:element name="piInconven" type="xsd:string" />
      <xsd:element name="piServAfectCode" type="xsd:string" />
      <xsd:element name="piInconvenCode" type="xsd:string" />
      <xsd:element name="piCoId" type="xsd:string" />
      <xsd:element name="piCodPlano" type="xsd:string" />
      <xsd:element name="piValor1" type="xsd:string" />
      <xsd:element name="piValor2" type="xsd:string" />
      <xsd:element name="piDummyId" type="xsd:string" />
      <xsd:element name="piCaseFather" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarPlantillaDinamicaType">
    <xsd:sequence>
      <xsd:element name="piTipo" type="xsd:string" />
      <xsd:element name="piValor1" type="xsd:string" />
      <xsd:element name="piValor2" type="xsd:string" />
      <xsd:element name="piValor3" type="xsd:string" />
      <xsd:element name="piValor4" type="xsd:string" />
      <xsd:element name="piValor5" type="xsd:string" />
      <xsd:element name="piValor6" type="xsd:string" />
      <xsd:element name="piValor7" type="xsd:string" />
      <xsd:element name="piValor8" type="xsd:string" />
      <xsd:element name="piValor9" type="xsd:string" />
      <xsd:element name="piValor10" type="xsd:string" />
      <xsd:element name="piFechaRegistro" type="xsd:string" />
      <xsd:element name="piUsuarioRegistro" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarEstadoSARType">
    <xsd:sequence>
      <xsd:element name="piCola" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarReclamoType">
    <xsd:sequence>
      <xsd:element name="piCodigoRecurso" type="xsd:integer" />
      <xsd:element name="piFaseRecurso" type="xsd:string" />
      <xsd:element name="piFechaCreacionRecurso" type="xsd:string" />
      <xsd:element name="piHoraCreacionRecurso" type="xsd:string" />
      <xsd:element name="piEstadoRecurso" type="xsd:string" />
      <xsd:element name="piCondicionRecurso" type="xsd:string" />
      <xsd:element name="piResultadoRecurso" type="xsd:string" />
      <xsd:element name="piNombreAdjuntosRecurso" type="xsd:string" />
      <xsd:element name="piNotasRecurso" type="xsd:string" />
      <xsd:element name="piUsuarioReg" type="xsd:string" />
      <xsd:element name="piNombres" type="xsd:string" />
      <xsd:element name="piApellidos" type="xsd:string" />
      <xsd:element name="piDireccion" type="xsd:string" />
      <xsd:element name="piEmail" type="xsd:string" />
      <xsd:element name="piTelefonoRefencia" type="xsd:integer" />
      <xsd:element name="piRelacionTitular" type="xsd:string" />
      <xsd:element name="piAprobadorReclamo" type="xsd:string" />
      <xsd:element name="piCentroAtencion" type="xsd:string" />
      <xsd:element name="piNumeroResolucion" type="xsd:string" />
      <xsd:element name="piFechaResolucion" type="xsd:string" />
      <xsd:element name="piFechaNotificacion" type="xsd:string" />
      <xsd:element name="piModoNotificacion" type="xsd:string" />
      <xsd:element name="piCantidadFolios" type="xsd:integer" />
      <xsd:element name="piTipoReclamante" type="xsd:string" />
      <xsd:element name="piTipoDocumento" type="xsd:string" />
      <xsd:element name="piNumeroDocumento" type="xsd:string" />
      <xsd:element name="piPoderExpediente" type="xsd:string" />
      <xsd:element name="piCodFormaNotificacion" type="xsd:string" />
      <xsd:element name="piDescFormaNotificacion" type="xsd:string" />
      <xsd:element name="piPlazoAtencion" type="xsd:integer" />
      <xsd:element name="piFechaAtencion" type="xsd:string" />
      <xsd:element name="piFechaAplazado" type="xsd:string" />
      <xsd:element name="piSolicitudRecurso" type="xsd:string" />
      <xsd:element name="piFaReMedioAceptacion" type="xsd:string" />
      <xsd:element name="piFaReSolucionAdecuada" type="xsd:string" />
      <xsd:element name="piFaReFechaAceptacion" type="xsd:string" />
      <xsd:element name="piFaReHoraAceptacion" type="xsd:string" />
      <xsd:element name="piFaReNroCartaDescargos" type="xsd:string" />
      <xsd:element name="piFaReFechaDescargos" type="xsd:string" />
      <xsd:element name="piFaReCliNombre" type="xsd:string" />
      <xsd:element name="piFaReCliApellido" type="xsd:string" />
      <xsd:element name="piFaReCliTipoDoc" type="xsd:string" />
      <xsd:element name="piFaReCliNumDoc" type="xsd:string" />
      <xsd:element name="piFaReCliRepresentante" type="xsd:string" />
      <xsd:element name="piDepartamento" type="xsd:string" />
      <xsd:element name="piProvincia" type="xsd:string" />
      <xsd:element name="piDistrito" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarServicioType">
    <xsd:sequence>
      <xsd:element name="piNroServicio" type="xsd:string" />
      <xsd:element name="piCoId" type="xsd:string" />
      <xsd:element name="piCuenta" type="xsd:string" />
      <xsd:element name="piCustomerId" type="xsd:string" />
      <xsd:element name="piFlagAsociacion" type="xsd:string" />
      <xsd:element name="piCantidadServicios" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarSARType">
    <xsd:sequence>
      <xsd:element name="piCorrelativoSar" type="xsd:string" />
      <xsd:element name="piCorrelativoSaraReclamo" type="xsd:string" />
      <xsd:element name="piNroInteraccionRelacion" type="xsd:string" />
      <xsd:element name="piNroCasoRelacion" type="xsd:string" />
      <xsd:element name="piEscenarioSarSara" type="xsd:string" />
      <xsd:element name="piSolAnticipadaSeleccion" type="xsd:string" />
      <xsd:element name="piFechaCreacion" type="xsd:string" />
      <xsd:element name="piHoraCreacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarPuntoOrigenType">
    <xsd:sequence>
      <xsd:element name="piObjId" type="xsd:integer" />
      <xsd:element name="piRegion" type="xsd:string" />
      <xsd:element name="piCapPac" type="xsd:string" />
      <xsd:element name="piUserCreate" type="xsd:string" />
      <xsd:element name="piUserUpdate" type="xsd:string" />
      <xsd:element name="piCacDac" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarDetalleCasoType">
    <xsd:sequence>
      <xsd:element name="pCas1" type="xsd:string" />
      <xsd:element name="pCas2" type="xsd:string" />
      <xsd:element name="pCas3" type="xsd:string" />
      <xsd:element name="pCas4" type="xsd:string" />
      <xsd:element name="pCas5" type="xsd:string" />
      <xsd:element name="pCas6" type="xsd:string" />
      <xsd:element name="pCas7" type="xsd:string" />
      <xsd:element name="pCas8" type="xsd:integer" />
      <xsd:element name="pCas9" type="xsd:integer" />
      <xsd:element name="pCas10" type="xsd:integer" />
      <xsd:element name="pCas11" type="xsd:integer" />
      <xsd:element name="pCas12" type="xsd:integer" />
      <xsd:element name="pCas13" type="xsd:integer" />
      <xsd:element name="pCas14" type="xsd:integer" />
      <xsd:element name="pCas15" type="xsd:string" />
      <xsd:element name="pCas16" type="xsd:string" />
      <xsd:element name="pCas17" type="xsd:string" />
      <xsd:element name="pCas18" type="xsd:string" />
      <xsd:element name="pCas19" type="xsd:string" />
      <xsd:element name="pCas20" type="xsd:string" />
      <xsd:element name="pCas21" type="xsd:string" />
      <xsd:element name="pCas22" type="xsd:integer" />
      <xsd:element name="pCas23" type="xsd:integer" />
      <xsd:element name="pCas24" type="xsd:integer" />
      <xsd:element name="pCas25" type="xsd:integer" />
      <xsd:element name="pCas26" type="xsd:integer" />
      <xsd:element name="pCas27" type="xsd:integer" />
      <xsd:element name="pCas28" type="xsd:integer" />
      <xsd:element name="pCas29" type="xsd:string" />
      <xsd:element name="pCas30" type="xsd:string" />
      <xsd:element name="pSuspensionDate" type="xsd:string" />
      <xsd:element name="pReactivationDate" type="xsd:string" />
      <xsd:element name="pSuspensionQt" type="xsd:integer" />
      <xsd:element name="pConclusions" type="xsd:string" />
      <xsd:element name="pTestMade" type="xsd:string" />
      <xsd:element name="pProblemDescription" type="xsd:string" />
      <xsd:element name="pAddress" type="xsd:string" />
      <xsd:element name="pDocumentNumber" type="xsd:string" />
      <xsd:element name="pCallDuration" type="xsd:string" />
      <xsd:element name="pCallCost" type="xsd:integer" />
      <xsd:element name="pSystemStatus" type="xsd:string" />
      <xsd:element name="pFlagVariation" type="xsd:string" />
      <xsd:element name="pSearchDate" type="xsd:string" />
      <xsd:element name="pVariationDate" type="xsd:string" />
      <xsd:element name="pLastQuery" type="xsd:string" />
      <xsd:element name="pProblemDate" type="xsd:string" />
      <xsd:element name="pPurchaseDate" type="xsd:string" />
      <xsd:element name="pRechargeDate" type="xsd:string" />
      <xsd:element name="pRequestDate" type="xsd:string" />
      <xsd:element name="pRequestPlace" type="xsd:string" />
      <xsd:element name="pFlagGprs" type="xsd:string" />
      <xsd:element name="pComplaintAmount" type="xsd:integer" />
      <xsd:element name="pLines" type="xsd:string" />
      <xsd:element name="pErrorMessage" type="xsd:string" />
      <xsd:element name="pModel" type="xsd:string" />
      <xsd:element name="pMark" type="xsd:string" />
      <xsd:element name="pBand" type="xsd:string" />
      <xsd:element name="pRepositionReason" type="xsd:string" />
      <xsd:element name="pChurnReason" type="xsd:string" />
      <xsd:element name="pCellularNumber" type="xsd:string" />
      <xsd:element name="pClarifyVariation" type="xsd:string" />
      <xsd:element name="pFlagSendReceive" type="xsd:string" />
      <xsd:element name="pCustomerName" type="xsd:string" />
      <xsd:element name="pPrepaidCardNumber" type="xsd:string" />
      <xsd:element name="pNumbersCommunication" type="xsd:string" />
      <xsd:element name="pReferenceNumber" type="xsd:string" />
      <xsd:element name="pOstNumber" type="xsd:string" />
      <xsd:element name="pFriendsFamily" type="xsd:string" />
      <xsd:element name="pCountryOperator" type="xsd:string" />
      <xsd:element name="pOldPlan" type="xsd:string" />
      <xsd:element name="pNewPlan" type="xsd:string" />
      <xsd:element name="pCurrentPlan" type="xsd:string" />
      <xsd:element name="pCampaign" type="xsd:string" />
      <xsd:element name="pBillNumber" type="xsd:string" />
      <xsd:element name="pReferenceAddress" type="xsd:string" />
      <xsd:element name="pCurrentBalance" type="xsd:integer" />
      <xsd:element name="pLastBalance" type="xsd:integer" />
      <xsd:element name="pBalanceRequested" type="xsd:integer" />
      <xsd:element name="pCustomerSegment" type="xsd:string" />
      <xsd:element name="pServiceProblem" type="xsd:string" />
      <xsd:element name="pFlagOtherProblems" type="xsd:string" />
      <xsd:element name="pOperatorProblem" type="xsd:string" />
      <xsd:element name="pContactTimeTerm" type="xsd:string" />
      <xsd:element name="pStore" type="xsd:string" />
      <xsd:element name="pDialType" type="xsd:string" />
      <xsd:element name="pProblemLocation" type="xsd:string" />
      <xsd:element name="pFlagAdditionalServices" type="xsd:string" />
      <xsd:element name="pFlagWap" type="xsd:string" />
      <xsd:element name="pClaroLdn1" type="xsd:string" />
      <xsd:element name="pClaroLdn2" type="xsd:string" />
      <xsd:element name="pClaroLdn3" type="xsd:string" />
      <xsd:element name="pClaroLdn4" type="xsd:string" />
      <xsd:element name="pClaroLocal1" type="xsd:string" />
      <xsd:element name="pClaroLocal2" type="xsd:string" />
      <xsd:element name="pClaroLocal3" type="xsd:string" />
      <xsd:element name="pClaroLocal4" type="xsd:string" />
      <xsd:element name="pClaroLocal5" type="xsd:string" />
      <xsd:element name="pClaroLocal6" type="xsd:string" />
      <xsd:element name="pFixedNumber" type="xsd:string" />
      <xsd:element name="pLdiNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarCabeceraDocType">
    <xsd:sequence>
      <xsd:element name="piSubTotalAfecto" type="xsd:string" />
      <xsd:element name="piSubTotalNoAfecto" type="xsd:string" />
      <xsd:element name="piMontoIgv" type="xsd:string" />
      <xsd:element name="piFechaVenc" type="xsd:string" />
      <xsd:element name="piUsuRegistro" type="xsd:string" />
      <xsd:element name="piCicloFact" type="xsd:string" />
      <xsd:element name="piDocRef" type="xsd:string" />
      <xsd:element name="piFechaDocRef" type="xsd:string" />
      <xsd:element name="piIdTipoDoc" type="xsd:integer" />
      <xsd:element name="piIdResponsabCrm" type="xsd:integer" />
      <xsd:element name="piResponsabCrm" type="xsd:string" />
      <xsd:element name="piIdCliente" type="xsd:integer" />
      <xsd:element name="piOhxAct" type="xsd:integer" />
      <xsd:element name="piIdTipCliente" type="xsd:string" />
      <xsd:element name="piNumDoc" type="xsd:string" />
      <xsd:element name="piClienteCta" type="xsd:string" />
      <xsd:element name="piErrorWsSap" type="xsd:string" />
      <xsd:element name="piReintentosWsSap" type="xsd:string" />
      <xsd:element name="piNombreCliente" type="xsd:string" />
      <xsd:element name="piCiudad" type="xsd:string" />
      <xsd:element name="piCodigoPais" type="xsd:string" />
      <xsd:element name="piDireccion" type="xsd:string" />
      <xsd:element name="piTipoIdentFiscal" type="xsd:string" />
      <xsd:element name="piNumIdentFiscal" type="xsd:string" />
      <xsd:element name="piSubjetoImp" type="xsd:string" />
      <xsd:element name="piVersionSap6" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarDetalleDocType">
    <xsd:sequence>
      <xsd:element name="piNumDocAjuste" type="xsd:string" />
      <xsd:element name="listaRegistroDetDocum" type="listaRegistroDetDocumType" />
      <xsd:element name="listaDetDocAdicional" type="listaDetDocAdicionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaRegistroDetDocumType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="registroDetDocum" type="registroDetDocumType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registroDetDocumType">
    <xsd:sequence>
      <xsd:element name="pImporte" type="xsd:string" />
      <xsd:element name="pMontoSinIgv" type="xsd:string" />
      <xsd:element name="pIgv" type="xsd:string" />
      <xsd:element name="pTotal" type="xsd:string" />
      <xsd:element name="pTelefono" type="xsd:string" />
      <xsd:element name="pFechaDesde" type="xsd:string" />
      <xsd:element name="pFechaHasta" type="xsd:string" />
      <xsd:element name="pIdCategoria" type="xsd:string" />
      <xsd:element name="pSubCategoria" type="xsd:string" />
      <xsd:element name="pTipoTran" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaDetDocAdicionalType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="detDocAdicional" type="detDocAdicionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detDocAdicionalType">
    <xsd:sequence>
      <xsd:element name="pIdCategoria" type="xsd:string" />
      <xsd:element name="pNombreCategoria" type="xsd:string" />
      <xsd:element name="pImporte" type="xsd:string" />
      <xsd:element name="pImporteAjustar" type="xsd:string" />
      <xsd:element name="pIgvImporteAjustarIgv" type="xsd:string" />
      <xsd:element name="pImporteAjustarIgv" type="xsd:string" />
      <xsd:element name="pIdAreaImputar" type="xsd:string" />
      <xsd:element name="pNombreAreaImputar" type="xsd:string" />
      <xsd:element name="pIdMotivo" type="xsd:string" />
      <xsd:element name="pNombreMotivo" type="xsd:string" />
      <xsd:element name="pIdResponsable" type="xsd:string" />
      <xsd:element name="pNombreResponsable" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarAreaImputableType">
    <xsd:sequence>
      <xsd:element name="listadoAreaImputable" type="listadoAreaImputableType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listadoAreaImputableType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="areaImputable" type="areaImputableType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="areaImputableType">
    <xsd:sequence>
      <xsd:element name="piArimIdCategoria" type="xsd:integer" />
      <xsd:element name="piArimIdArea" type="xsd:integer" />
      <xsd:element name="piArimIdMotivo" type="xsd:integer" />
      <xsd:element name="piArimTotalImputable" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="aprobarDocumentoType">
    <xsd:sequence>
      <xsd:element name="piIdTipoDoc" type="xsd:integer" />
      <xsd:element name="piUsuAprob" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarExportarSapType">
    <xsd:sequence>
      <xsd:element name="piCuentaCab" type="xsd:string" />
      <xsd:element name="piTipoDocCab" type="xsd:string" />
      <xsd:element name="piClaseDocumentoCab" type="xsd:string" />
      <xsd:element name="piSociedadCab" type="xsd:string" />
      <xsd:element name="piMonedaCab" type="xsd:string" />
      <xsd:element name="piTextoCab" type="xsd:string" />
      <xsd:element name="piClavePosCab" type="xsd:string" />
      <xsd:element name="piClaveNegCab" type="xsd:string" />
      <xsd:element name="piTipoDocDet" type="xsd:string" />
      <xsd:element name="piIndivaDet" type="xsd:string" />
      <xsd:element name="piClavePosDet" type="xsd:string" />
      <xsd:element name="piClaveNegDet" type="xsd:string" />
      <xsd:element name="piTipoDocIgv" type="xsd:string" />
      <xsd:element name="piCuentaIgv" type="xsd:string" />
      <xsd:element name="piIndicadorSap" type="xsd:string" />
      <xsd:element name="piFlagEliminarAnterior" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarCamposSapType">
    <xsd:sequence>
      <xsd:element name="piFlagEnvioSap" type="xsd:string" />
      <xsd:element name="piErrorWsSap" type="xsd:string" />
      <xsd:element name="piReintentosWsSap" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarAjusteOACType">
    <xsd:sequence>
      <xsd:element name="piCodAplicacionOAC" type="xsd:string" />
      <xsd:element name="piTipoServicio" type="xsd:string" />
      <xsd:element name="piCodCuenta" type="xsd:string" />
      <xsd:element name="piTipoOperacion" type="xsd:string" />
      <xsd:element name="piTipoAjuste" type="xsd:string" />
      <xsd:element name="piEstado" type="xsd:string" />
      <xsd:element name="docsRef" type="docsRefInType" />
      <xsd:element name="piIdReclamoOrigen" type="xsd:string" />
      <xsd:element name="piMonedaOrigen" type="xsd:string" />
      <xsd:element name="piNSaldoAjuste" type="xsd:decimal" />
      <xsd:element name="piCodMotivoAjuste" type="xsd:string" />
      <xsd:element name="piFechaAjuste" type="xsd:dateTime" />
      <xsd:element name="piFechaCancelacion" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarTipificacionType">
    <xsd:sequence>
      <xsd:element name="piContactObjId1" type="xsd:integer" />
      <xsd:element name="piSiteObjId1" type="xsd:integer" />
      <xsd:element name="piAccount" type="xsd:string" />
      <xsd:element name="piPhone" type="xsd:string" />
      <xsd:element name="piTipo" type="xsd:string" />
      <xsd:element name="piClase" type="xsd:string" />
      <xsd:element name="piSubClase" type="xsd:string" />
      <xsd:element name="piMetodoContacto" type="xsd:string" />
      <xsd:element name="piTipoInter" type="xsd:string" />
      <xsd:element name="piAgente" type="xsd:string" />
      <xsd:element name="piUsrProceso" type="xsd:string" />
      <xsd:element name="piHechoEnUno" type="xsd:integer" />
      <xsd:element name="piNotas" type="xsd:string" />
      <xsd:element name="piFlagCaso" type="xsd:string" />
      <xsd:element name="piResultado" type="xsd:string" />
      <xsd:element name="piServAfect" type="xsd:string" />
      <xsd:element name="piInconven" type="xsd:string" />
      <xsd:element name="piServAfectCode" type="xsd:string" />
      <xsd:element name="piInconvenCode" type="xsd:string" />
      <xsd:element name="piCoId" type="xsd:string" />
      <xsd:element name="piCodPlano" type="xsd:string" />
      <xsd:element name="piValor1" type="xsd:string" />
      <xsd:element name="piValor2" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="registrarDetalleTipificacionType">
    <xsd:sequence>
      <xsd:element name="piInter1" type="xsd:string" />
      <xsd:element name="piInter2" type="xsd:string" />
      <xsd:element name="piInter3" type="xsd:string" />
      <xsd:element name="piInter4" type="xsd:string" />
      <xsd:element name="piInter5" type="xsd:string" />
      <xsd:element name="piInter6" type="xsd:string" />
      <xsd:element name="piInter7" type="xsd:string" />
      <xsd:element name="piInter8" type="xsd:string" />
      <xsd:element name="piInter9" type="xsd:string" />
      <xsd:element name="piInter10" type="xsd:string" />
      <xsd:element name="piInter11" type="xsd:string" />
      <xsd:element name="piInter12" type="xsd:string" />
      <xsd:element name="piInter13" type="xsd:string" />
      <xsd:element name="piInter14" type="xsd:string" />
      <xsd:element name="piInter15" type="xsd:string" />
      <xsd:element name="piInter16" type="xsd:string" />
      <xsd:element name="piInter17" type="xsd:string" />
      <xsd:element name="piInter18" type="xsd:string" />
      <xsd:element name="piInter19" type="xsd:string" />
      <xsd:element name="piInter20" type="xsd:string" />
      <xsd:element name="piInter21" type="xsd:string" />
      <xsd:element name="piInter22" type="xsd:string" />
      <xsd:element name="piInter23" type="xsd:string" />
      <xsd:element name="piInter24" type="xsd:string" />
      <xsd:element name="piInter25" type="xsd:string" />
      <xsd:element name="piInter26" type="xsd:string" />
      <xsd:element name="piInter27" type="xsd:string" />
      <xsd:element name="piInter28" type="xsd:string" />
      <xsd:element name="piInter29" type="xsd:string" />
      <xsd:element name="piInter30" type="xsd:string" />
      <xsd:element name="piPlusInter2interact" type="xsd:string" />
      <xsd:element name="piAdjustmentAmount" type="xsd:string" />
      <xsd:element name="piAdjustmentReason" type="xsd:string" />
      <xsd:element name="piAddress" type="xsd:string" />
      <xsd:element name="piAmountUnit" type="xsd:string" />
      <xsd:element name="piBirthday" type="xsd:string" />
      <xsd:element name="piClarifyInteraction" type="xsd:string" />
      <xsd:element name="piClaroLdn1" type="xsd:string" />
      <xsd:element name="piClaroLdn2" type="xsd:string" />
      <xsd:element name="piClaroLdn3" type="xsd:string" />
      <xsd:element name="piClaroLdn4" type="xsd:string" />
      <xsd:element name="piClarolocal1" type="xsd:string" />
      <xsd:element name="piClarolocal2" type="xsd:string" />
      <xsd:element name="piClarolocal3" type="xsd:string" />
      <xsd:element name="piClarolocal4" type="xsd:string" />
      <xsd:element name="piClarolocal5" type="xsd:string" />
      <xsd:element name="piClarolocal6" type="xsd:string" />
      <xsd:element name="piContactPhone" type="xsd:string" />
      <xsd:element name="piDniLegalRep" type="xsd:string" />
      <xsd:element name="piDocumentNumber" type="xsd:string" />
      <xsd:element name="piEmail" type="xsd:string" />
      <xsd:element name="piFirstName" type="xsd:string" />
      <xsd:element name="piFixedNumber" type="xsd:string" />
      <xsd:element name="piFlagChangeUser" type="xsd:string" />
      <xsd:element name="piFlagLegalRep" type="xsd:string" />
      <xsd:element name="piFlagOther" type="xsd:string" />
      <xsd:element name="piFlagTitular" type="xsd:string" />
      <xsd:element name="piImei" type="xsd:string" />
      <xsd:element name="piLastName" type="xsd:string" />
      <xsd:element name="piLastnameRep" type="xsd:string" />
      <xsd:element name="piLdiNumber" type="xsd:string" />
      <xsd:element name="piNameLegalRep" type="xsd:string" />
      <xsd:element name="piOldClaroLdn1" type="xsd:string" />
      <xsd:element name="piOldClaroLdn2" type="xsd:string" />
      <xsd:element name="piOldClaroLdn3" type="xsd:string" />
      <xsd:element name="piOldClaroLdn4" type="xsd:string" />
      <xsd:element name="piOldClarolocal1" type="xsd:string" />
      <xsd:element name="piOldClarolocal2" type="xsd:string" />
      <xsd:element name="piOldClarolocal3" type="xsd:string" />
      <xsd:element name="piOldClarolocal4" type="xsd:string" />
      <xsd:element name="piOldClarolocal5" type="xsd:string" />
      <xsd:element name="piOldClarolocal6" type="xsd:string" />
      <xsd:element name="piOldDocNumber" type="xsd:string" />
      <xsd:element name="piOldFirstName" type="xsd:string" />
      <xsd:element name="piOldFixedPhone" type="xsd:string" />
      <xsd:element name="piOldLastName" type="xsd:string" />
      <xsd:element name="piOldLdiNumber" type="xsd:string" />
      <xsd:element name="piOldFixedNumber" type="xsd:string" />
      <xsd:element name="piOperationType" type="xsd:string" />
      <xsd:element name="piOtherDocNumber" type="xsd:string" />
      <xsd:element name="piOtherFirstName" type="xsd:string" />
      <xsd:element name="piOtherLastName" type="xsd:string" />
      <xsd:element name="piOtherPhone" type="xsd:string" />
      <xsd:element name="piPhoneLegalRep" type="xsd:string" />
      <xsd:element name="piReferencePhone" type="xsd:string" />
      <xsd:element name="piReason" type="xsd:string" />
      <xsd:element name="piModel" type="xsd:string" />
      <xsd:element name="piLotCode" type="xsd:string" />
      <xsd:element name="piFlagRegistered" type="xsd:string" />
      <xsd:element name="piRegistrationReason" type="xsd:string" />
      <xsd:element name="piClaroNumber" type="xsd:string" />
      <xsd:element name="piMonth" type="xsd:string" />
      <xsd:element name="piOstNumber" type="xsd:string" />
      <xsd:element name="piBasket" type="xsd:string" />
      <xsd:element name="piExpireDate" type="xsd:string" />
      <xsd:element name="piAddress5" type="xsd:string" />
      <xsd:element name="piChargeAmount" type="xsd:string" />
      <xsd:element name="piCity" type="xsd:string" />
      <xsd:element name="piContactSex" type="xsd:string" />
      <xsd:element name="piDepartment" type="xsd:string" />
      <xsd:element name="piDistrict" type="xsd:string" />
      <xsd:element name="piEmailConfirmation" type="xsd:string" />
      <xsd:element name="piFax" type="xsd:string" />
      <xsd:element name="piFlagCharge" type="xsd:string" />
      <xsd:element name="piMaritalStatus" type="xsd:string" />
      <xsd:element name="piOccupation" type="xsd:string" />
      <xsd:element name="piPosition" type="xsd:string" />
      <xsd:element name="piReferenceAddress" type="xsd:string" />
      <xsd:element name="piTypeDocument" type="xsd:string" />
      <xsd:element name="piZipCode" type="xsd:string" />
      <xsd:element name="piIccid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="docsRefInType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="pDetalleDocs" type="detalleDocsRefInType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleDocsRefInType">
    <xsd:sequence>
      <xsd:element name="piTipoDocCxc" type="xsd:string" />
      <xsd:element name="piNroDocumentoCxc" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>