Claro.SIACU.ProxyService.Transac.Service/Service References/EBSRegistroAjusteSAR/EbsRegistroAjusteSAR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar" xmlns:types="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="EbsRegistroAjusteSAR" targetNamespace="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar" />
    <xsd:schema>
      <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/EbsRegistroAjusteSAR/ebsRegistroAjusteSARSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registrarSARRequestMsg">
    <wsdl:part name="request" element="types:registrarSARRequest" />
  </wsdl:message>
  <wsdl:message name="registrarSARResponseMsg">
    <wsdl:part name="response" element="types:registrarSARResponse" />
  </wsdl:message>
  <wsdl:message name="registrarCasoAjusteRequestMsg">
    <wsdl:part name="request" element="types:registrarCasoAjusteRequest" />
  </wsdl:message>
  <wsdl:message name="registrarCasoAjusteResponseMsg">
    <wsdl:part name="response" element="types:registrarCasoAjusteResponse" />
  </wsdl:message>
  <wsdl:message name="registrarInteraccionAjusteRequestMsg">
    <wsdl:part name="request" element="types:registrarInteraccionAjusteRequest" />
  </wsdl:message>
  <wsdl:message name="registrarInteraccionAjusteResponseMsg">
    <wsdl:part name="response" element="types:registrarInteraccionAjusteResponse" />
  </wsdl:message>
  <wsdl:portType name="EbsRegistroAjusteSARPortType">
    <wsdl:operation name="registrarSAR">
      <wsdl:input message="tns:registrarSARRequestMsg" />
      <wsdl:output message="tns:registrarSARResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="registrarCasoAjuste">
      <wsdl:input message="tns:registrarCasoAjusteRequestMsg" />
      <wsdl:output message="tns:registrarCasoAjusteResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="registrarInteraccionAjuste">
      <wsdl:input message="tns:registrarInteraccionAjusteRequestMsg" />
      <wsdl:output message="tns:registrarInteraccionAjusteResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EbsRegistroAjusteSARPortTypeSOAP11Binding" type="tns:EbsRegistroAjusteSARPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarSAR">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarSAR" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCasoAjuste">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarCasoAjuste" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarInteraccionAjuste">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarInteracionAjuste" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EbsRegistroAjusteSARPortTypeSOAP12Binding" type="tns:EbsRegistroAjusteSARPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registrarSAR">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarSAR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCasoAjuste">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarCasoAjuste" style="document" />
      <wsdl:input>
        <soap12:body />
      </wsdl:input>
      <wsdl:output>
        <soap12:body />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarInteraccionAjuste">
      <soap12:operation soapAction="http://claro.com.pe/eai/ws/postventa/ebsregistroajustesar/registrarInteracionAjuste" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EbsRegistroAjusteSARService">
    <wsdl:port name="ebsRegistroAjusteSARSB11" binding="tns:EbsRegistroAjusteSARPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv19.tim.com.pe:8909/EbsRegistroAjusteSAR/ebsRegistroAjusteSARSB11" />
    </wsdl:port>
    <wsdl:port name="ebsRegistroAjusteSARSB12" binding="tns:EbsRegistroAjusteSARPortTypeSOAP12Binding">
      <soap12:address location="http://limdeseaiv19.tim.com.pe:8909/EbsRegistroAjusteSAR/ebsRegistroAjusteSARSB12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>