Claro.SIACU.ProxyService.Transac.Service/Service References/SIACU.PuntosAtencion/responseDataObtenerTabPuntosAtencionPost_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://claro.com.pe/esb/data/generico/responseDataObtenerTabPuntosAtencionPost/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/responseDataObtenerTabPuntosAtencionPost/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="responseDataObtenerTabPuntosAtencionPost" type="tns:ResponseDataObtenerTabPuntosAtencionPostType">
    <xsd:annotation>
      <xsd:documentation>Esta estructura tiene por objetivo informar los datos de respuesta propios del servicio
            </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ResponseDataObtenerTabPuntosAtencionPostType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="listaTabPuntosAtencionPost" type="tns:ListaTabPuntosAtencionPostType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaTabPuntosAtencionPostType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="tabPuntosAtencionPost" type="tns:TabPuntosAtencionPostType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TabPuntosAtencionPostType">
    <xsd:sequence>
      <xsd:element name="codele" type="xsd:string" />
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
      <xsd:element name="rank" type="xsd:string" />
      <xsd:element name="cacTypeCodele" type="xsd:string" />
      <xsd:element name="cacTypeTitle" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>