Claro.SIACU.ProxyService.Transac.Service/Service References/SIACPost.Actions/DevIntWSDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<s0:definitions xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns="" name="DevIntWSDefinitions" targetNamespace="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xsd:schema xmlns="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" targetNamespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="ERRORCODEType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="ERRORDESCType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="ERRORCODEType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="ERRORDESCType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CambioNumeroResponse.Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ERROR" type="DETALLEType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" targetNamespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="CODIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FECHAEJECUCIONType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEINPUTType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CODID" type="CODIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGID" type="FLAGIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FECHAEJECUCION" type="FECHAEJECUCIONType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaCambioNumeroRequest.Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Request" type="DETALLEINPUTType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" targetNamespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="CODIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="NUMERONUEVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FECHAEJECUCIONType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ESTRASLADOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="COSTOType">
        <xsd:restriction base="xsd:double" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="NUMEROACTUALType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="CODIGOAPLICATIVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="PASSWORDAPLICATIVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="CODIGOUSUARIOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="COSTMEDNOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGCAMBIOCHIPNUMEType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGLOCUCIONType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="DETALLEINPUTType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CODID" type="CODIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NUMERONUEVO" type="NUMERONUEVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FECHAEJECUCION" type="FECHAEJECUCIONType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ESTRASLADO" type="ESTRASLADOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COSTO" type="COSTOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGID" type="FLAGIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NUMEROACTUAL" type="NUMEROACTUALType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CODIGOAPLICATIVO" type="CODIGOAPLICATIVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PASSWORDAPLICATIVO" type="PASSWORDAPLICATIVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CODIGOUSUARIO" type="CODIGOUSUARIOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COSTMEDNO" type="COSTMEDNOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGCAMBIOCHIPNUME" type="FLAGCAMBIOCHIPNUMEType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGLOCUCION" type="FLAGLOCUCIONType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CambioNumeroRequest.Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Request" type="DETALLEINPUTType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" targetNamespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="ERRORCODEType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="ERRORDESCType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="ERRORCODEType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="ERRORDESCType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaCambioNumeroResponse.Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ERROR" type="DETALLEType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" />
      <xs:element name="validaCambioNumero">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:val="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" ref="val:ValidaCambioNumeroRequest.Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaCambioNumeroResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:val="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" ref="val:ValidaCambioNumeroResponse.Output" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cambiaNumeroPostpago">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:cam="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" ref="cam:CambioNumeroRequest.Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cambiaNumeroPostpagoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:cam="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" ref="cam:CambioNumeroResponse.Output" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="borrarProgramacion">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="msisdn" type="xs:string" />
            <xs:element name="codigo" type="xs:int" />
            <xs:element name="estado" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="borrarProgramacionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="validaCambioNumero">
    <s0:part name="parameters" element="s1:validaCambioNumero" />
  </s0:message>
  <s0:message name="validaCambioNumeroResponse">
    <s0:part name="parameters" element="s1:validaCambioNumeroResponse" />
  </s0:message>
  <s0:message name="cambiaNumeroPostpago">
    <s0:part name="parameters" element="s1:cambiaNumeroPostpago" />
  </s0:message>
  <s0:message name="cambiaNumeroPostpagoResponse">
    <s0:part name="parameters" element="s1:cambiaNumeroPostpagoResponse" />
  </s0:message>
  <s0:message name="borrarProgramacion">
    <s0:part name="parameters" element="s1:borrarProgramacion" />
  </s0:message>
  <s0:message name="borrarProgramacionResponse">
    <s0:part name="parameters" element="s1:borrarProgramacionResponse" />
  </s0:message>
  <s0:portType name="EbsAccionesPostPagoWS">
    <s0:operation name="validaCambioNumero" parameterOrder="parameters">
      <s0:input message="s1:validaCambioNumero" />
      <s0:output message="s1:validaCambioNumeroResponse" />
    </s0:operation>
    <s0:operation name="cambiaNumeroPostpago" parameterOrder="parameters">
      <s0:input message="s1:cambiaNumeroPostpago" />
      <s0:output message="s1:cambiaNumeroPostpagoResponse" />
    </s0:operation>
    <s0:operation name="borrarProgramacion" parameterOrder="parameters">
      <s0:input message="s1:borrarProgramacion" />
      <s0:output message="s1:borrarProgramacionResponse" />
    </s0:operation>
  </s0:portType>
  <s0:binding name="DevIntWSSoapBinding" type="s1:EbsAccionesPostPagoWS">
    <s2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <s0:operation name="validaCambioNumero">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="cambiaNumeroPostpago">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
    <s0:operation name="borrarProgramacion">
      <s2:operation soapAction="" style="document" />
      <s0:input>
        <s2:body use="literal" parts="parameters" />
      </s0:input>
      <s0:output>
        <s2:body use="literal" parts="parameters" />
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="DevIntWS">
    <s0:port name="EbsAccionesPostPagoWSSoapPort" binding="s1:DevIntWSSoapBinding">
      <s2:address location="http://limdeseaiv24.tim.com.pe:8909/DevIntProcess/EbsAccionesPostPagoWS" />
    </s0:port>
  </s0:service>
</s0:definitions>