Claro.SIACU.ProxyService.Transac.Service/Service References/SIACUBPEL.ChangeNumber/CambioNumeroFija21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:header="http://claro.com.pe/SOA/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1/" xmlns:fault="http://claro.com.pe/SOA/data/generico/claroFault/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp1="http://claro.com.pe/SOA/message/CambioNumeroFija/ejecutarCambioNumeroFija/v1/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="CambioNumeroFija" targetNamespace="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.172.139.45:7004/soa-infra/services/default/CambioNumeroFijaSOA/CambioNumeroFijaSOAP?XSD=../Schemas/CambioNumeroFija.xsd" namespace="http://claro.com.pe/SOA/message/CambioNumeroFija/ejecutarCambioNumeroFija/v1/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.172.139.45:7004/soa-infra/services/default/CambioNumeroFijaSOA/CambioNumeroFijaSOAP?XSD=../Schemas/claroFault.xsd" namespace="http://claro.com.pe/SOA/data/generico/claroFault/v1/" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://10.172.139.45:7004/soa-infra/services/default/CambioNumeroFijaSOA/CambioNumeroFijaSOAP?XSD=../Schemas/headers.xsd" namespace="http://claro.com.pe/SOA/data/generico/claroGenericHeader/v1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ejecutarCambioNumeroFijaRequestMessage">
    <wsdl:part name="ejecutarCambioNumeroFijaRequest" element="inp1:ejecutarCambioNumeroFijaRequest" />
  </wsdl:message>
  <wsdl:message name="ejecutarCambioNumeroFijaResponseMessage">
    <wsdl:part name="ejecutarCambioNumeroFijaResponse" element="inp1:ejecutarCambioNumeroFijaResponse" />
  </wsdl:message>
  <wsdl:message name="claroFault">
    <wsdl:part name="claroFault" element="fault:claroFault" />
  </wsdl:message>
  <wsdl:message name="requestHeaderMessage">
    <wsdl:part name="header" element="header:headerRequest" />
  </wsdl:message>
  <wsdl:message name="responseHeaderMessage">
    <wsdl:part name="header" element="header:headerResponse" />
  </wsdl:message>
  <wsdl:portType name="cambioNumeroFijaPort">
    <wsdl:operation name="ejecutarCambioNumeroFija">
      <wsdl:input message="tns:ejecutarCambioNumeroFijaRequestMessage" />
      <wsdl:output message="tns:ejecutarCambioNumeroFijaResponseMessage" />
      <wsdl:fault name="fault" message="tns:claroFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cambioNumeroFijaSOAP11Binding" type="tns:cambioNumeroFijaPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ejecutarCambioNumeroFija">
      <soap:operation soapAction="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1/ejecutarCambioNumeroFija" style="document" />
      <wsdl:input>
        <soap:header message="tns:requestHeaderMessage" part="header" use="literal" />
        <soap:body use="literal" parts="ejecutarCambioNumeroFijaRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:responseHeaderMessage" part="header" use="literal" />
        <soap:body use="literal" parts="ejecutarCambioNumeroFijaResponse" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cambioNumeroFijaSOAP12Binding" type="tns:cambioNumeroFijaPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ejecutarCambioNumeroFija">
      <soap12:operation soapAction="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1/ejecutarCambioNumeroFija" style="document" />
      <wsdl:input>
        <soap12:header message="tns:requestHeaderMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="ejecutarCambioNumeroFijaRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:responseHeaderMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="ejecutarCambioNumeroFijaResponse" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cambioNumeroFija">
    <wsdl:port name="cambioNumeroFijaPort11" binding="tns:cambioNumeroFijaSOAP11Binding">
      <soap:address location="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1" />
    </wsdl:port>
    <wsdl:port name="cambioNumeroFijaPort12" binding="tns:cambioNumeroFijaSOAP12Binding">
      <soap12:address location="http://claro.com.pe/SOA/postventa/cambioNumeroFija/v1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>