Claro.SIACU.ProxyService.Transac.Service/Service References/SIACUBPEL.ChangeNumber/CambioNumeroFija1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:data="http://claro.com.pe/SOA/data/generico/responseDataObtenerPregunta/v1/" xmlns:bss="http://claro.com.pe/SOA/message/CambioNumeroFija/ejecutarCambioNumeroFija/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/SOA/message/CambioNumeroFija/ejecutarCambioNumeroFija/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ejecutarCambioNumeroFijaRequest" type="bss:ejecutarCambioNumeroFijaRequestType" />
  <xs:element name="ejecutarCambioNumeroFijaResponse" type="bss:ejecutarCambioNumeroFijaResponseType" />
  <xs:complexType name="ejecutarCambioNumeroFijaRequestType">
    <xs:sequence>
      <xs:element name="cantidadTelef" type="xs:integer" />
      <xs:element name="clasifRed" type="xs:string" />
      <xs:element name="tipoCliente" type="xs:string" />
      <xs:element name="codigoNacional" type="xs:string" />
      <xs:element name="tipoNroTelef" type="xs:string" />
      <xs:element name="codigoHlr" type="xs:string" />
      <xs:element name="nroTelef" type="xs:string" />
      <xs:element name="tipoNumero" type="xs:string" />
      <xs:element name="contratID" type="xs:string" />
      <xs:element name="customerID" type="xs:string" />
      <xs:element name="flagOccFidelTrans" type="xs:string" />
      <xs:element name="importeOccTrans" type="xs:string" />
      <xs:element name="flagLocu" type="xs:string" />
      <xs:element name="flagOccFidelLocu" type="xs:string" />
      <xs:element name="importeOccLocu" type="xs:string" />
      <xs:element name="flagPlantTipi" type="xs:string" />
      <xs:element name="flagContingenciaTipi" type="xs:string" />
      <xs:element name="flagEnvioCorreo" type="xs:string" />
      <xs:element name="correo" type="xs:string" />
      <xs:element name="parametrosPrincipal" type="bss:parametrosPrincipalType" />
      <xs:element name="parametrosPlus" type="bss:parametrosPlusType" />
      <xs:element name="parametrosCliente" type="bss:obtenerClientesType" />
      <xs:element name="auditRequest" type="bss:AuditRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditRequest">
    <xs:sequence>
      <xs:element name="idTransaccion" type="xs:string" />
      <xs:element name="ipAplicacion" type="xs:string" />
      <xs:element name="nombreAplicacion" type="xs:string" />
      <xs:element name="usuarioAplicacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejecutarCambioNumeroFijaResponseType">
    <xs:sequence>
      <xs:element name="auditResponse" type="bss:AuditResponse" />
      <xs:element minOccurs="1" maxOccurs="1" name="nroTelefNuev" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="rutaConstancia" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditResponse">
    <xs:sequence>
      <xs:element name="idTransaccion" type="xs:string" />
      <xs:element name="codigoRespuesta" type="xs:string" />
      <xs:element name="mensajeRespuesta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametrosPrincipalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="clase" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="subClase" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="metodoContacto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipoInter" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="agente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="usrProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="hechoEnUno" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="notas" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagCaso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="resultado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="servaFect" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inconven" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="servaFectCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inconvenCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="coId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="codPlano" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="valor1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="valor2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametrosPlusType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="inter1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter15" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter16" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter17" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter18" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter19" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter20" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter21" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter22" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter23" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter24" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter25" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter26" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter27" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter28" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter29" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="inter30" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="plusInter2Interact" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="adjustmentAmount" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="adjustmentReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="address" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="amountUnit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthday" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="clarifyInteraction" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLdn1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLdn2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLdn3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLdn4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroLocal6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="dniLegalRep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="documentNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fixedNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagChangeUser" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagLegalRep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagOther" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagTitular" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="imei" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastNameRep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ldiNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameLegalRep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLdn1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLdn2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLdn3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLdn4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldClaroLocal6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldDocNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldFirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldFixedPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldLastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldLdiNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="oldFixedNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="operationType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherDocNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherFirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherLastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="phoneLegalRep" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="referencePhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="model" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagRegistered" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="registrationReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="claroNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="month" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ostNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="basket" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="expireDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="address5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="chargeAmount" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="city" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactSex" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="department" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="district" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="emailConfirmation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="flagCharge" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="maritalStatus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="occupation" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="position" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="referenceAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="typeDocument" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="zipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="iccid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerClientesType">
    <xs:sequence>
      <xs:element name="account" type="xs:string" />
      <xs:element name="contactObjId" type="xs:string" />
      <xs:element name="flagReg" type="xs:string" />
      <xs:element name="msisdn" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>