Claro.SIACU.ProxyService.Transac.Service/Service References/SIACUBPEL.ChangeNumber/headers1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/SOA/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/SOA/data/generico/claroGenericHeader/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/SOA/data/generico/claroGenericHeader/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="headerRequest" type="tns:HeaderRequestType">
    <xsd:annotation>
      <xsd:documentation>Todas las operaciones de los servicios implementaran esta cabecera para el envio de los datos de entrada.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="headerResponse" type="tns:HeaderResponseType">
    <xsd:annotation>
      <xsd:documentation>Todas las operaciones de los servicios implementaran esta cabecera para el envio de los datos de entrada.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="HeaderRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="canal" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idAplicacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="usuarioAplicacion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="usuarioSesion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="idTransaccionESB" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fechaInicio" nillable="true" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nodoAdicional" nillable="true" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionESB" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="xsd:dateTime" />
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaFin" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nodoAdicional" nillable="true" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>